<template>
  <div class="consume-analyze">
    <div class="title">
      <p>{{title}}</p>
      <p>{{subTitle}}</p>
    </div>
    <div class="consume-menu">
       <div class="menu-router">
          <router-link :to="item.index" v-for="(item, index) in link" :key="item.title" :class="index == activeIndex?'active-router': ''">{{item.title}}</router-link>
       </div>
      <div class="choseData">
        <el-select v-model="choseData" placeholder="请选择">
          <el-option
            v-for="item in choseDataList"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </div>
    </div>
    <div class="consume-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'consume',
  data () {
    return {
      link: [
        {index: '/analyze/consume/all-consume', title: '综合统计'},
        {index: '/analyze/consume/hotel-consume', title: '酒店消费'},
        {index: '/analyze/consume/food-consume', title: '餐饮消费'},
        {index: '/analyze/consume/scenic-consume', title: '景区消费'}
      ],
      choseData: '美团',
      choseDataList: [
        {value: '美团', label: '美团'}
        // {value: '飞猪', label: '飞猪'},
        // {value: '银联', label: '银联'}
      ],
      activeIndex: 0,
      title: '',
      subTitle: ''
    }
  },
  methods: {
    getActiveIndex () {
      let route = this.$route.path
      if (route.includes('all')) {
        this.activeIndex = 0
        this.title = '消费订单趋势'
        this.subTitle = 'Consume order trend'
      }
      if (route.includes('hotel')) {
        this.activeIndex = 1
        this.title = '行业TOP10'
        this.subTitle = 'Industry TOP10'
      }
      if (route.includes('food')) {
        this.activeIndex = 2
        this.title = '行业TOP10'
        this.subTitle = 'Industry TOP10'
      }
      if (route.includes('scenic')) {
        this.activeIndex = 3
        this.title = '景区客源TOP10'
        this.subTitle = 'Industry TOP10'
      }
    }
  },
  created () {
    this.getActiveIndex()
  },
  watch: {
    '$route' () {
      console.log(this.$router.path)
      this.getActiveIndex()
    }
  }
}
</script>

<style lang='scss'>
  .consume-analyze{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 100px;
    }
    .el-input{
      width: 100px;
    }
    .el-button,
    .el-input__inner{
      background-color: transparent;
      border-color: transparent;
      box-shadow:0 0 40px -10px #0487bd inset;
      font-size: 12px;
      color: #0487bd;
      width: 100px;
      &:hover{
        border-color: transparent;
      }
    }
    .el-select .el-input.is-focus .el-input__inner{
      border-color: transparent;
    }
    .el-input__prefix, .el-input__suffix{
      color: #00e3ff;
    }
  }
  .el-input--suffix .el-input__inner{
    padding-right: 10px;
  }
  .el-select-dropdown,.el-picker-panel{
    border-color: transparent;
    background-color: transparent;
    color: #0487bd;
    box-shadow:0 0 40px -10px #0487bd inset;
  }
  .el-picker-panel__icon-btn,.el-date-picker__header-label{
    color: #0487bd;
  }
  .el-date-table th{
    color: #0487bd;
    border-color: rgba(4, 135, 189, 0.6);
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: #01E4FF;
    color: #222;
  }
  .el-select-dropdown__item{
    color:#0487bd;
  }
</style>
<style scoped lang="scss" type="text/scss">
  .consume-analyze{
    width: 100%;
    height: 100%;
    background: url("./../../../static/image/bigboxbg.png") no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    .title{
      width: 100%;
      height: 60px;
      p:nth-of-type(1) {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
      }
      p:nth-of-type(2){
        font-size: 14px;
        color: #02daf4;
      }
    }
    .consume-menu{
      width: 100%;
      height: 80px;
      padding: 20px;
      box-sizing: border-box;
      position: relative;
      z-index: 10;
      div{
        display: inline-block;
      }
      .menu-router{
        font-size: 14px;
        a{
          display: inline-block;
          padding: 8px 30px;
          border: 1px solid #00e3ff;
          font-size: 14px;
          color: #0192aa;
          margin-left: 20px;
          position: relative;
          &::after{
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            background: url("./../../../static/image/btnLeft.png") no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            left: -4px;
            top: -4px;
          }
          &::before{
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            background: url("./../../../static/image/btnRight.png") no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            right: -4px;
            bottom: -4px;
          }
        }
        .active-router{
          background: #00e3ff;
          border: none;
          color: #222;
        }
      }
      .choseData{
        margin-left: 15px;
        margin-top: -5px;
        margin-left: 100px;
      }
    }
    .consume-content{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

</style>
