<template>
  <div class="passenger-detection">
    <div class="passenger-menu">
      <div class="menu-router">
        <router-link :to="item.index" v-for="(item, index) in link" :key="item.title" :class="index == activeIndex?'active-router': ''" >
          {{item.title}}</router-link>
      </div>

    </div>
    <div class="passenger-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'passenger',
  data () {
    return {
      link: [
        {index: '/analyze/passenger/forecast', title: '未来预测'},
        {index: '/analyze/passenger/passengerflow', title: '实时客流'},
        {index: '/analyze/passenger/history', title: '历史分析'}
      ],
      activeIndex: 0,
      sex: ''
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
  .passenger-detection{
    .choseData{
      .el-input__inner{
        height: 33px;
        line-height: 33px;
      }
      .el-input--suffix .el-input__inner{
        padding-right: 0;
      }
    }
  }
</style>

<style scoped lang="scss" type="text/scss">
  .passenger-detection{
    width: 100%;
    height: 100%;
    position:relative;
    .passenger-menu{
      width: 50%;
      height: 60px;
      position:absolute ;
      top:0;
      left:0;
      z-index: 9;
      .menu-router{
        font-size: 14px;
        position: absolute;
        top:60px;
        left:30px;
        a{
          display: inline-block;
          padding: 5px 30px;
          border: 1px solid #00e3ff;
          font-size: 14px;
          color: #0192aa;
          margin-left: 15px;
          position: relative;
          z-index: 1000;
          cursor: pointer;
          &::after{
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            background: url("./../../../static/image/btnLeft.png") no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            left: -4px;
            top: -4px;
          }
          &::before{
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            background: url("./../../../static/image/btnRight.png") no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            right: -4px;
            bottom: -4px;
          }
          &:hover{
            border-color: #44a7ff;
            color:#fff;
          }
          /*&:nth-of-type(1) {*/
            /*border-top-left-radius: 5px;*/
            /*border-bottom-left-radius: 5px;*/
          /*}*/
          /*&:nth-of-type(3) {*/
            /*border-top-right-radius: 5px;*/
            /*border-bottom-right-radius: 5px;*/
          /*}*/
        }
        .router-link-active{
          background: #44a7ff;
          color:#fff;
        }
      }
      .data{
        color:#00ceed;
        position: absolute;
        display: flex;
        top:10px;
        left:60%;
        .guide{
          height:44px;
          line-height: 44px;
        }
        .sources{
          margin-left: 20px;
          padding-top:10px;
          box-sizing: border-box;
          span{
            margin:0;
            border:1px solid #00ceed;
            display:inline-block;
            float:left;
            padding:2px 10px;
            &:nth-of-type(1){
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            &:nth-of-type(3) {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
      }
    }
    .passenger-content{
      /*position: absolute;*/
      /*top:0;*/
      /*left: 0;*/
      width: 100%;
      /*z-index:1;*/
      height: 100%;
    }
  }
</style>
