<template>
  <div class="safety-contral">
    <!--头部-->
      <div class="safety-menu">
        <div class="safety-router">
          <router-link :to="item.index" v-for="(item, index) in tableData" :key="item.title" :class="index == activeIndex?'active-router': ''">
            {{item.title}}
          </router-link>
        </div>
      </div>
      <div class="safety-content">
          <router-view></router-view>
      </div>
  </div>
</template>

<script>
export default {
  name: 'safety',
  data () {
    return {
      tableData: [
        {index: '/analyze/safety/media-monitor', title: '媒体监测'},
        // {index: '/analyze/safety/appraise-monitor', title: '评价监测'},
        {index: '/analyze/safety/price-monitor', title: '价格监测'},
        {index: '/analyze/safety/complain-law', title: '投诉执法'},
        {index: '/analyze/safety/urgency-police', title: '应急报警'}
      ],
      activeIndex: 0
    }
  },
  watch: {
    '$route' () {
      console.log(this.$route.path)
    }
  }
}
</script>
<style type="text/scss" lang="scss">
  .safety-contral{
  }
</style>

<style scoped lang="scss" type="text/scss">
  .safety-contral{
    width: 100%;
    height: 100%;
    position: relative;
    .safety-menu{
      width: 50%;
      height: 60px;
      position: absolute;
      top:50px;
      left:30px;
      z-index: 99;
      .safety-router{
        font-size: 14px;
        a{
          display: inline-block;
          padding: 5px 20px;
          border: 1px solid #00e3ff;
          font-size: 14px;
          color: #0192aa;
          margin-left: 15px;
          position: relative;
          &::after{
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            background: url("./../../../static/image/btnLeft.png") no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            left: -4px;
            top: -4px;
          }
          &::before{
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            background: url("./../../../static/image/btnRight.png") no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            right: -4px;
            bottom: -4px;
          }
          &:hover{
            background: #44a7ff;
            color:#fff;
          }
          /*&:nth-of-type(1) {*/
            /*border-top-left-radius: 5px;*/
            /*border-bottom-left-radius: 5px;*/
          /*}*/
          /*&:nth-of-type(4) {*/
            /*border-top-right-radius: 5px;*/
            /*border-bottom-right-radius: 5px;*/
          /*}*/
        }
        .router-link-active{
          background: #44a7ff;
          color:#fff;
        }
      }
    }
    .safety-content{
      /*position: absolute;*/
      /*top:0;*/
      /*left: 0;*/
      width: 100%;
      /*z-index:1;*/
      height: 100%;
    }
  }
</style>
