<template>
  <div class="travel-agency">
    <div class="consume-menu">
      <div class="menu-router">
        <div class="titText" >
          <p>企业信用排名</p>
          <p>Corporate credit ranking</p>
        </div>
        <div class="router">
          <router-link :to="item.index" v-for="(item, index) in link" :key="item.title" :class="index == activeIndex?'active-router': ''">{{item.title}}</router-link>
        </div>
      </div>
      <div class="choseData">
        <span>地区：</span><span class="adres">浙江省</span><span class="dot">·</span><span>绍兴市</span><span class="dot">·</span><span>柯桥区</span>
      </div>
      <div class="choseTime">
        <p class="timeText">查询时间</p>
        <el-date-picker
          v-model="choseDayTime"
          type="date"
          placeholder="选择日期">
        </el-date-picker>
      </div>
      <div class="searchInput">
          <input type="text"
            placeholder="请输入内容"
            v-model="searchContent"
            @keyup="searchAnything"
            clearable>
        <el-button @click="searchAnything">搜索</el-button>
      </div>
    </div>
    <div class="consume-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'travel-agency',
  data () {
    return {
      link: [
        {index: '/analyze/travelAgency/travelHotel', title: '酒店'},
        {index: '/analyze/travelAgency/homestay', title: '民宿'},
        {index: '/analyze/travelAgency/catering', title: '餐饮'},
        {index: '/analyze/travelAgency/traveCredit', title: '旅行社'}
      ],
      choseDayTime: '',
      searchContent: '',
      activeIndex: 0,
      choseDataList: [],
      choseData: '',
      routers: ''
    }
  },
  created () {
    this.getActiveIndex()
  },
  methods: {
    ...mapMutations(['SEARCH_CONTENT']),
    searchAnything () {
      console.log(this.searchContent, 'opopop')
      this.$store.commit('SEARCH_CONTENT', this.searchContent)
    },
    getActiveIndex () {
      this.routers = this.$route.path
      if (this.routers.includes('Hotel')) {
        this.activeIndex = 0
      }
      if (this.routers.includes('homestay')) {
        this.activeIndex = 1
      }
      if (this.routers.includes('catering')) {
        this.activeIndex = 2
      }
      if (this.routers.includes('traveCredit')) {
        this.activeIndex = 3
      }
    }
  },
  watch: {
    '$route' () {
      this.getActiveIndex()
    }
  }
}
</script>

<style lang='scss'>
  .travel-agency{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 100px;
    }
    .el-input{
      width: 180px;
    }
    .el-button,
    .el-input__inner{
      background-color: transparent;
      border-color: transparent;
      box-shadow:0 0 40px -10px #0487bd inset;
      font-size: 12px;
      color: #0487bd;
      width: 150px;
      &:hover{
        border-color: transparent;
      }
    }
    .el-button{
      width: 70px;
      background: #00e3ff;
      color: #222;
      padding: 8px 8px;
      border-radius: 0;
      margin-left: -15px;
      margin-top: 3px;
    }
    .el-select .el-input.is-focus .el-input__inner{
      border-color: transparent;
    }
    .el-input__prefix, .el-input__suffix{
      color: #00e3ff;
    }
  }
  .el-input--suffix .el-input__inner{
    padding-right: 10px;
  }
  .el-select-dropdown,.el-picker-panel{
    border-color: transparent;
    background-color: transparent;
    color: #0487bd;
    box-shadow:0 0 40px -10px #0487bd inset;
  }
  .el-picker-panel__icon-btn,.el-date-picker__header-label{
    color: #0487bd;
  }
  .el-date-table th{
    color: #0487bd;
    border-color: rgba(4, 135, 189, 0.6);
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: #01E4FF;
    color: #222;
  }
  .el-select-dropdown__item{
    color:#0487bd;
  }
</style>
<style scoped lang="scss" type="text/scss">
  .travel-agency{
    width: 100%;
    height: 100%;
    background: url("./../../../static/image/boxShado.png") no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    .consume-menu{
      width: 100%;
      height: 60px;
      position: relative;
      div{
        float: left;
      }
      .menu-router{
        font-size: 14px;
        margin-left: 2%;
        span{
          font-size: 16px;
          font-weight: 700;
          color: #222;
          margin-right: 20px;
        }
        a{
          display: inline-block;
          padding: 5px 40px;
          border: 1px solid #00e3ff;
          font-size: 14px;
          color: #0192aa;
          margin-left: 20px;
          position: relative;
          &::after{
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            background: url("./../../../static/image/btnLeft.png") no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            left: -4px;
            top: -4px;
          }
          &::before{
            display: inline-block;
            content: '';
            width: 8px;
            height: 8px;
            background: url("./../../../static/image/btnRight.png") no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            right: -4px;
            bottom: -4px;
          }
        }
        .active-router{
          background: #00e3ff;
          border: none;
          color: #222;
        }
        .titText{
          color: #fff;
          p:nth-of-type(1) {
            font-size: 28px;
            font-weight: 600;
          }
          p:nth-of-type(2) {
            font-size: 14px;
            color: #00e3ff;
          }
        }
        .router{
          margin-top: 15px;
          margin-left: 100px;
        }
      }
      .choseData{
        color: #00e3ff;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        .dot{
          margin: 0 10px;
        }
      }
      .choseTime{
        position: absolute;
        top: 50%;
        right: 20%;
        transform: translateY(-50%);
        .timeText{
          color: #fff;
          display: inline-block;
          margin-left: -180px;
          margin-top: 10px;
        }
      }
      .searchInput{
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        input{
          background: transparent;
          border: none;
          box-shadow:0 0 40px -10px #0487bd inset;
          outline: none;
          height: 30px;
          padding-left: 10px;
          color: #26bbf0;
        }
      }
    }
    .consume-content{
      width: 100%;
      height: calc(100% - 60px);
    }
  }

</style>
