<template>
  <div class="vister-analyze">
    <div class="consume-menu">
      <div class="menu-router">
        <router-link :to="item.index" v-for="(item, index) in link" :key="item.title" :class="index == activeIndex?'active-router': ''">{{item.title}}</router-link>
      </div>
    </div>
    <div class="consume-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'vister',
  data () {
    return {
      link: [
        {index: '/analyze/vister/basicInfo', title: '基本信息'},
        {index: '/analyze/vister/behaviour', title: '行为喜好'},
        {index: '/analyze/vister/visitorsTrack', title: '游客轨迹'}
      ],
      activeIndex: 0,
      route: ''
    }
  },
  created () {
    this.getActiveRoute()
  },
  methods: {
    getActiveRoute () {
      this.route = this.$route.path
      if (this.route.includes('basicInfo')) {
        this.activeIndex = 0
      }
      if (this.route.includes('behaviour')) {
        this.activeIndex = 1
      }
      if (this.route.includes('visitorsTrack')) {
        this.activeIndex = 2
      }
    }
  },
  watch: {
    '$route' () {
      this.getActiveRoute()
    }
  }
}
</script>

<style lang="scss">
  .vister-analyze{
    padding: 20px 10px;
    box-sizing: border-box;
    background: url("./../../../static/image/boxShado.png") no-repeat;
    background-position: center;
    background-size: 100%;
    .choseData{
      .el-select{
        width: 80px;
      }
      .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 125px;
      }
      .el-input__inner{
        height: 33px;
        line-height: 33px;
        background-color: transparent;
        color: #0192aa;
      }
      .el-input--suffix .el-input__inner{
        padding-right: 0;
        top: 15px;
      }
    }
    .el-input__inner, .analyze .el-button{
      border-color: transparent;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
 .vister-analyze{
   width: 100%;
   height: 100%;
   .consume-menu{
     width: 100%;
     height: 60px;
     position: relative;
     z-index: 9;
     .menu-router{
       font-size: 14px;
       padding-left: 30px;
       box-sizing: border-box;
       a{
         display: inline-block;
         padding: 5px 30px;
         border: 1px solid #00e3ff;
         font-size: 14px;
         color: #0192aa;
         margin-left: 20px;
         position: relative;
         &::after{
           display: inline-block;
           content: '';
           width: 8px;
           height: 8px;
           background: url("./../../../static/image/btnLeft.png") no-repeat;
           background-size: 100%;
           background-position: center;
           position: absolute;
           left: -4px;
           top: -4px;
         }
         &::before{
           display: inline-block;
           content: '';
           width: 8px;
           height: 8px;
           background: url("./../../../static/image/btnRight.png") no-repeat;
           background-size: 100%;
           background-position: center;
           position: absolute;
           right: -4px;
           bottom: -4px;
         }
       }
       .active-router{
         background: #00e3ff;
         border: none;
         color: #222;
       }
     }
   }
   .choseData{
     width: 100%;
     height: 30px;
     padding-left: 50px;
     box-sizing: border-box;
     position: relative;
     z-index: 9;
     span{
       font-size: 14px;
       color: #0192aa;
       margin-right: 5px;
     }
   }
   .consume-content{
     width: 100%;
     height: calc(100% - 90px);
   }
 }
</style>
