<template>
  <div class="baidu-map">
    <div id="baiduMap">
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'bai-du-map',
  data () {
    return {
      time: ''
    }
  },
  created () {
    this.time = moment(new Date().getTime()).format('YYYY-MM-DD HH:mm')
  },
  methods: {
    getbaiduMap () {
      let map = new BMap.Map('baiduMap')
      map.centerAndZoom(new BMap.Point(120.446914, 30.079503), 12)
      map.enableScrollWheelZoom() // 启用滚轮放大缩小，默认禁用
      map.enableContinuousZoom() // 启用地图惯性拖拽，默认禁用
      map.setMapStyle({
        styleJson: [
          {
            'featureType': 'water',
            'elementType': 'all',
            'stylers': {
              'color': '#021019'
            }
          },
          {
            'featureType': 'highway',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'highway',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#147a92'
            }
          },
          {
            'featureType': 'arterial',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#6fa8dcff'
            }
          },
          {
            'featureType': 'arterial',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#666666ff'
            }
          },
          {
            'featureType': 'local',
            'elementType': 'geometry',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'land',
            'elementType': 'all',
            'stylers': {
              'color': '#032748ff'
            }
          },
          {
            'featureType': 'railway',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'railway',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#08304b'
            }
          },
          {
            'featureType': 'subway',
            'elementType': 'geometry',
            'stylers': {
              'lightness': -70
            }
          },
          {
            'featureType': 'building',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.fill',
            'stylers': {
              'color': '#857f7f'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.stroke',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'building',
            'elementType': 'geometry',
            'stylers': {
              'color': '#00ffffff'
            }
          },
          {
            'featureType': 'green',
            'elementType': 'geometry',
            'stylers': {
              'color': '#062032'
            }
          },
          {
            'featureType': 'boundary',
            'elementType': 'all',
            'stylers': {
              'color': '#2190b8ff'
            }
          },
          {
            'featureType': 'manmade',
            'elementType': 'geometry',
            'stylers': {
              'color': '#022338'
            }
          },
          {
            'featureType': 'poi',
            'elementType': 'all',
            'stylers': {
              'visibility': 'off'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.icon',
            'stylers': {
              'visibility': 'off'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.fill',
            'stylers': {
              'color': '#eeeeeeff',
              'visibility': 'on'
            }
          }
        ]
      })
      var data_info = [{
        id: 'A',
        name: '柯桥客运站',
        position: [120.530226, 30.153228],
        time: this.time,
        into: '14123608',
        getOut: '9025169'
      }]
      var opts = {
        width : 328, // 信息窗口宽度
        height: 155 // 信息窗口高度
      }
      for (var i = 0; i < data_info.length; i++) {
        console.log(data_info[i].position)
        var marker = new BMap.Marker(new BMap.Point(data_info[i].position[0], data_info[i].position[1])) // 创建标注
        marker.setAnimation(BMAP_ANIMATION_BOUNCE)
        var content =
          "<div class='dialog' style='background: url("+'./../../../static/image/box.png'+") no-repeat; background-position: inherit; background-size: 100%'>"+
          "<h4 style='margin:0 0 5px 0;padding:0.2em 0;color:#fff'>" + data_info[i].name + " </h4> " +
          "<p style='margin:0;line-height:1.5;font-size:14px;color:#0f728e'>" + data_info[i].time + " </p>" +
          "<p style='margin:0;line-height:1.5;font-size:14px;color:#0f728e'>累计到站人数：<span style='font-size: 20px;font-weight:bolder;color:#008369'>" + data_info[i].into + "</span></p>" +
          "<p style='margin:0;line-height:1.5;font-size:14px;color:#0f728e'>累计出站人数：<span style='font-size: 20px;font-weight:bolder;color:#008369'>" + data_info[i].getOut + "</span></p>" +
          "</div>"
        map.addOverlay(marker) // 将标注添加到地图中
        addClickHandler(content, marker)
        // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
      }
      function addClickHandler (content, marker) {
        marker.addEventListener('click', function (e) {
          openInfo(content, e)})
      }
      function openInfo (content, e) {
        var p = e.target
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat)
        var infoWindow = new BMap.InfoWindow(content, opts) // 创建信息窗口对象
        map.openInfoWindow(infoWindow, point) // 开启信息窗口
      }
      function getBoundary () {
        var bdary = new BMap.Boundary()
        bdary.get('绍兴市柯桥区', function (rs) { // 获取行政区域
          var count = rs.boundaries.length // 行政区域的点有多少个
          if (count === 0) {
            alert('未能获取当前输入行政区域')
            return
          }
          var pointArray = []
          for (var i = 0; i < count; i++) {
            var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 3, strokeColor: '#00e4ff'}) // 建立多边形覆盖物
            map.addOverlay(ply) // 添加覆盖物
            pointArray = pointArray.concat(ply.getPath())
          }
          map.setViewport(pointArray) // 调整视野
        })
      }
      setTimeout(function () {
        getBoundary()
      }, 20)
    }
  },
  mounted () {
    this.getbaiduMap()
  }
}
</script>

<style lang="scss">
  .BMap_pop{
    background: transparent !important;
  .BMap_top{
    background: transparent;
    border-color: transparent;
  }
  div{
    background: transparent !important;
    border-color: transparent !important;
  img{
    display: none;
  }
  }
  .dialog{
    width: 328px;
    height: 155px;
    background: url("./../../../static/image/box.png") no-repeat !important;
    padding: 10px;
    box-sizing: border-box;
    background-position: initial;
    background-size: inherit;
  }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .baidu-map{
    width: 100%;
    height: 100%;
    #baiduMap{
      width: 100%;
      height: 100%;
    }
  }

</style>
