<template>
  <div class="complaint-handling">
    <div id="echatsPieComplant"></div>
    <div class="rightData">
      <div class="yearRegister">
        <p><span class="numb">{{registerData.yearRegister}}</span><span>起</span></p>
        <p>今年执法立案</p>
      </div>
      <div>
        <p><span class="numb">{{registerData.monthDispute}}</span><span>起</span></p>
        <p>本月投诉纠纷</p>
      </div>
      <div>
        <p><span class="numb">{{registerData.monthRegister}}</span><span>起</span></p>
        <p>本月执法立案</p>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'complaint-handling',
  data () {
    return {
      echartData: [],
      registerData: {}
    }
  },
  created () {
    this.getAllComplain()
  },
  methods: {
    async getComplainHanding () {
      console.log(1)
      await api.screen.getComplainHanding().then(res => {
        res.forEach(item => {
          let obj = {
            value: 5,
            name: item.name,
            label: {
              normal: {
                position: 'inner',
                formatter: [
                  `{title|${item.type}}`,
                  `{num|${item.count}}{abg|起}`
                ].join('\n'),
                verticalAlign: 'middle',
                rich: {
                  title: {
                    color: '#02e3ff',
                    align: 'right',
                    fontSize: 14
                  },
                  num: {
                    color: '#02e3ff',
                    fontSize: 20,
                    fontFamily: 'italic'
                  },
                  abg: {
                    color: '#02e3ff',
                    fontSize: 14,
                    padding: [0, 0, 5, 0]
                  }
                }
              }
            }
          }
          this.echartData.push(obj)
        })
      }).catch(err => {
        console.log(err)
      })
    },
    getAllComplain () {
      api.screen.getAllComplain().then(res => {
        console.log(res)
        this.registerData = res
      }).catch(err => {
        console.log(err)
        let obj = {
          monthDispute: 10,
          monthRegister: 1,
          yearRegister: 5
        }
        this.registerData = obj
      })
    },
    getPieEchart () {
      let option = {
        title: {
          text: ['{title1|2018年投诉}', '{title2|类型分布}', '{title3|12起}'].join('\n'),
          x: 'center',
          y: 'center',
          textStyle: {
            color: '#fb910a',
            rich: {
              title1: {
                fontSize: 18,
                color: '#02ceef',
                lineHeight: 26

              },
              title2: {
                fontSize: 18,
                color: '#02ceef'
              },
              title3: {
                fontSize: 22,
                lineHeight: 40,
                fontWeight: 600
              }
            }
          }
        },
        grid: {
          show: true,
          top: 5,
          borderWidth: 0
        },
        series: [{
          type: 'pie',
          radius: ['50%', '90%'],
          z: 1,
          itemStyle: {
            normal: {
              borderColor: '#061649',
              borderWidth: '10',
              color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                offset: 0,
                color: '#1660ff'
              }, {
                offset: 1,
                color: '#6c73ff'
              }]),
              opacity: 0.6
            },
            emphasis: {
              borderColor: '#061649',
              borderWidth: '10',
              color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                offset: 0,
                color: '#0b10ff'
              }, {
                offset: 1,
                color: '#2675c3'
              }]),
              opacity: 0.5
            }
          },

          labelLine: {
            normal: {
              show: false
            }
          },
          data: this.echartData
        }, {
          type: 'pie',
          radius: ['92%', '94%'],
          hoverAnimation: false,
          z: 2,
          label: {
            normal: {
              show: false
            }
          },
          data: [{
            value: 10,
            itemStyle: {
              normal: {
                color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: '#fffcfc'
                }, {
                  offset: 1,
                  color: '#f6fbff'
                }]),
                opacity: 0.1
              },
              emphasis: {
                color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: '#fffcfc'
                }, {
                  offset: 1,
                  color: '#f6fbff'
                }]),
                opacity: 0.1
              }
            }
          }, {
            value: 0
          }]
        }, {
          type: 'pie',
          radius: ['0%', '46%'],
          hoverAnimation: false,
          z: 3,
          label: {
            normal: {
              show: false
            }
          },
          data: [{
            value: 1000,
            itemStyle: {
              normal: {
                color: '#fff',
                opacity: 0.1
              }
            }
          }, {
            value: 0
          }]
        } ]
      }
      if (document.getElementById('echatsPieComplant')) {
        let dom = document.getElementById('echatsPieComplant')
        let mychart = this.$echarts.init(dom)
        mychart.setOption(option)
      }
    }
  },
  async mounted () {
    await this.getComplainHanding()
    await this.getPieEchart()
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .complaint-handling{
    width: 100%;
    height: 100%;
    padding: 5px;
    #echatsPieComplant{
      width: 70%;
      height: 100%;
      float: left;
    }
    .rightData{
      width: 30%;
      height: 100%;
      float: left;
      div{
        width: 100%;
        height: 30%;
        color: #26bbf0;
        font-size: 14px;
        .numb{
          font-size: 28px;
          margin-right: 3px;
        }
      }
      .yearRegister{
        color: #fed14c;
      }
    }
  }
</style>
