<template>
  <div class="detection-passengers">
    <el-carousel :interval="5000" arrow="never">
      <el-carousel-item>
        <ScrollContainer>
          <el-table
            stripe
            :data="scenicData1"
            style="width: 100%">
            <el-table-column
              prop="scenicName"
              label="景区名称">
            </el-table-column>
            <el-table-column
              prop="passenger"
              label="实时客流量">
            </el-table-column>
            <el-table-column
              width="100"
              prop="maxPassenger"
              label="最大承载量">
            </el-table-column>
            <el-table-column
              width="100"
              label="拥挤指数">
              <template slot-scope="scope">
                <span class="exponent crowd" v-for="(item, index) in scope.row.str" :key="index" v-if="scope.row.state === 'crowd'"></span>
                <span class="exponent slight" v-for="(item, index) in scope.row.str" :key="index" v-if="scope.row.state === 'slight'"></span>
                <span class="exponent nomal" v-for="(item, index) in scope.row.str" :key="index" v-if="scope.row.state === 'nomal'"></span>
              </template>
            </el-table-column>
          </el-table>
        </ScrollContainer>
      </el-carousel-item>
      <el-carousel-item>
        <ScrollContainer>
          <el-table
            stripe
            :data="scenicData2"
            style="width: 100%">
            <el-table-column
              prop="scenicName"
              label="景区名称">
            </el-table-column>
            <el-table-column
              prop="passenger"
              width="100"
              label="实时客流量">
            </el-table-column>
            <el-table-column
              prop="maxPassenger"
              width="100"
              label="最大承载量">
            </el-table-column>
            <el-table-column
              width="100"
              label="拥挤指数">
              <template slot-scope="scope">
                <span class="exponent crowd" v-for="(item, index)  in scope.row.str" :key="index" v-if="scope.row.state === 'crowd'"></span>
                <span class="exponent slight" v-for="(item, index)  in scope.row.str" :key="index" v-if="scope.row.state === 'slight'"></span>
                <span class="exponent nomal" v-for="(item, index)  in scope.row.str" :key="index" v-if="scope.row.state === 'nomal'"></span>
              </template>
            </el-table-column>
          </el-table>
        </ScrollContainer>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import ScrollContainer from '@/components/ScrollContainer'
import api from '@/api'
export default {
  name: 'detection-passenger',
  data () {
    return {
      scenicData1: [],
      scenicData2: []
    }
  },
  created () {
    let that = this
    setInterval(function () {
      that.getPassengerData()
    }, 5000)
  },
  methods: {
    getPassengerData () {
      api.screen.getPassengerRealtime().then(res => {
        console.log(res, '实时客流')
        res.forEach((item, index) => {
          if (item.status > 4) {
            item.state = 'crowd'
            item.type = '超饱和'
          }
          if (item.status === 0) {
            item.status = 1
          }
          if (item.status > 3) {
            item.state = 'slight'
            item.type = '饱和'
          } else {
            item.state = 'nomal'
            item.type = '正常'
          }
          if (index < 4) {
            this.scenicData1.push(item)
            this.scenicData1.forEach(item => {
              item.str = []
              for (let i = 0; i < item.status; i++) {
                item.str.push(new Date())
              }
            })
          } else {
            this.scenicData2.push(item)
            this.scenicData2.forEach(item => {
              item.str = []
              for (let i = 0; i < item.status; i++) {
                item.str.push(new Date())
              }
            })
          }
        })
      })
    }
  },
  components: {
    ScrollContainer
  }
}
</script>

<style lang="scss" type="text/scss">
  .detection-passengers{
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: #054173;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: #054173;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
  }
</style>
<style lang="scss" type="text/scss">
  .detection-passengers {
    .el-carousel{
      width: 100%;
      height: 100%;
    }
    .el-carousel__container{
      width: 100%;
      height: 100%;
    }
    .el-carousel__indicators{
      display: none;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .detection-passengers{
    width: 100%;
    height: 100%;
    padding: 5px;
    .exponent{
      float: left;
      margin-left: 2px;
      display: inline-block;
      width: 10px;
      height: 4px;
      background: #00e4ff;
    }
    .crowd{
      background: #e82d00;
    }
    .nomal{
      background: #00e4ff;
    }
    .slight{
      background: #ffd249;
    }
  }

</style>
