<template>
  <div class="hotMap">
    <div id="echartHotMap">
    </div>
  </div>
</template>

<script>
import 'echarts/extension-src/bmap/bmap.js'
import api from '@/api'
export default {
  name: 'hot-map',
  data () {
    return {
      value: [
        {name: '大香林', value: 600},
        {name: '桥波冰雪世界', value: 520},
        {name: '安昌古镇', value: 830},
        {name: '中国轻纺城', value: 922},
        {name: '柯岩风景区', value: 1244},
        {name: '同康绿林竹海', value: 500},
        {name: '香雪梅海', value: 656},
        {name: '会稽山千年香榧林', value: 400},
        {name: '舜王庙', value: 722},
        {name: '东方山水乐园', value: 600}
      ],
      geoCoordMap: {
        '大香林风景区': [120.411934, 30.024669],
        '乔波冰雪世界': [120.4829, 30.061285],
        '安昌古镇': [120.503478, 30.140715],
        '中国轻纺城': [120.508026, 30.101939],
        '柯岩风景区': [120.481515, 30.056331],
        '绿林竹海景区': [120.481515, 30.056331],
        '香雪梅海旅游区': [121.031564, 29.170572],
        '千年榧林': [120.527405, 29.728529],
        '舜王庙': [120.706134, 29.79928],
        '东方山水乐园': [120.451862, 30.082376]
      }
    }
  },
  methods: {
    async getPassengerData () {
      await api.screen.getPassengerRealtime().then(res => {
        console.log(res, '实时客流')
        res.forEach(item => {
          let obj = {
            name: item.scenicName,
            value: item.passenger
          }
          this.value.push(obj)
        })
      }).catch(err => {
        console.log(err)
      })
    },
    getEchartsMap () {
      let that = this
      var convertData = function (data, n) {
        var res = []
        for (var i = 0; i < data.length; i++) {
          var geoCoord = that.geoCoordMap[data[i].name]
          if (geoCoord) {
            res.push(geoCoord.concat(data[i].value + (Math.random() - 0.5) * n))
          }
        }
        return res
      }

      let option = {
        baseOption: {
          toolbox: {
            show: true,
            left: '10px',
            top: '10px',
            feature: {
              restore: {},
              saveAsImage: {
                backgroundColor: '#081633'
              }
            }
          },
          timeline: {
            autoPlay: true,
            data: ['7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00'],
            axisType: 'category',
            padding: [5, 5, 5, 5],
            playInterval: 1500,
            lineStyle: {color: 'transparent'},
            label: {
              normal: {
                textStyle: {
                  color: 'transparent',
                  fontSize: 13
                }
              }
            }
          },
          bmap: {
            center: [120.446914, 30.079503],
            zoom: 11,
            roam: true,
            mapStyle: {
              styleJson: [
                {
                  'featureType': 'land', // 调整土地颜色
                  'elementType': 'geometry',
                  'stylers': {
                    'color': '#081734'
                  }
                },
                {
                  'featureType': 'building', // 调整建筑物颜色
                  'elementType': 'geometry',
                  'stylers': {
                    'color': '#04406F'
                  }
                },
                {
                  'featureType': 'building', // 调整建筑物标签是否可视
                  'elementType': 'labels',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'highway', // 调整高速道路颜色
                  'elementType': 'geometry',
                  'stylers': {
                    'color': '#015B99'
                  }
                },
                {
                  'featureType': 'highway', // 调整高速名字是否可视
                  'elementType': 'labels',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'arterial', // 调整一些干道颜色
                  'elementType': 'geometry',
                  'stylers': {
                    'color': '#003051'
                  }
                },
                {
                  'featureType': 'arterial',
                  'elementType': 'labels',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'green',
                  'elementType': 'geometry',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'water',
                  'elementType': 'geometry',
                  'stylers': {
                    'color': '#044161'
                  }
                },
                {
                  'featureType': 'subway', // 调整地铁颜色
                  'elementType': 'geometry.stroke',
                  'stylers': {
                    'color': '#003051'
                  }
                },
                {
                  'featureType': 'subway',
                  'elementType': 'labels',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'railway',
                  'elementType': 'geometry',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'railway',
                  'elementType': 'labels',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'all', // 调整所有的标签的边缘颜色
                  'elementType': 'labels.text.stroke',
                  'stylers': {
                    'color': '#313131'
                  }
                },
                {
                  'featureType': 'all', // 调整所有标签的填充颜色
                  'elementType': 'labels.text.fill',
                  'stylers': {
                    'color': '#FFFFFF'
                  }
                },
                {
                  'featureType': 'manmade',
                  'elementType': 'geometry',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'manmade',
                  'elementType': 'labels',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'local',
                  'elementType': 'geometry',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'local',
                  'elementType': 'labels',
                  'stylers': {
                    'visibility': 'off'
                  }
                },
                {
                  'featureType': 'subway',
                  'elementType': 'geometry',
                  'stylers': {
                    'lightness': -65
                  }
                },
                {
                  'featureType': 'railway',
                  'elementType': 'all',
                  'stylers': {
                    'lightness': -40
                  }
                },
                {
                  'featureType': 'boundary',
                  'elementType': 'geometry',
                  'stylers': {
                    'color': '#8b8787',
                    'weight': '1',
                    'lightness': -29
                  }
                }]
            }
          },
          visualMap: {
            min: 0,
            max: 500,
            splitNumber: 5,
            inRange: {
              color: ['blue', 'green', 'yellow', 'red']
            },
            textStyle: {
              color: 'transparent'
            },
            bottom: 30
          },
          series: [{
            type: 'heatmap',
            mapType: 'china',
            coordinateSystem: 'bmap',
            blurSize: 50
          }]
        },
        options: [
          {
            series: [{
              data: convertData(this.value, 100)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 200)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 300)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 400)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 500)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 600)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 900)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 700)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 600)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 500)
            }]
          },
          {
            series: [{
              data: convertData(this.value, 300)
            }]
          }
        ]
      }
      let myChart = this.$echarts.init(document.getElementById('echartHotMap'))
      myChart.setOption(option)
    }
  },
  async mounted () {
    await this.getPassengerData()
    await this.getEchartsMap()
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .hotMap{
    width: 100%;
    height: 100%;
    #echartHotMap{
      width: 100%;
      height: 100%;
    }
  }

</style>
