<template>
  <div class="impressions">
    <div id="echatsImpression">
    </div>
  </div>
</template>

<script>
import 'echarts-wordcloud'
import api from '@/api'
export default {
  name: 'impression',
  data () {
    return {
      dataobj: []
    }
  },
  methods: {
    async gettextData () {
      await api.screen.getImpress().then(res => {
        console.log(JSON.parse(res[0]))
        this.dataobj = JSON.parse(res[0])
      })
    },
    getWordColud () {
      console.log()
      let option = {
        series: [{
          type: 'wordCloud',
          gridSize: 20,
          sizeRange: [12, 50],
          rotationRange: [0, 0],
          shape: 'circle',
          textStyle: {
            normal: {
              color: function () {
                return 'rgb(' + [
                  Math.round(Math.random() * 255),
                  Math.round(Math.random() * 255),
                  Math.round(Math.random() * 255)
                ].join(',') + ')'
              }
            },
            emphasis: {
              shadowBlur: 10,
              shadowColor: '#333'
            }
          },
          data: []
        }]
      }
      option.series[0].data = this.dataobj
      let dom = document.getElementById('echatsImpression')
      let myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
      myChart.on('click', function (obj) {
        window.open('https://www.baidu.com/s?wd=' + encodeURIComponent('柯桥' + obj.data.name))
      })
    }
  },
  async mounted () {
    await this.gettextData()
    await this.getWordColud()
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .impressions{
    width: 100%;
    height: 100%;
    #echatsImpression{
      width: 100%;
      height: 100%;
    }
  }
</style>
