<template>
  <div class="kq-maps">
    <div class="supernatant">
      <div class="passengerNum">
        <div class="allpassengerNum">
          <p>今日柯桥全域总客流量</p>
          <p>
            <span class="numb" v-for="(item, index) in allNumb" :key="index">{{item}}</span>
          </p>
        </div>
        <div class="nowPassengerNum">
          <p>实时客流量</p>
          <p>
            <span class="numb" v-for="(item, index) in nowNumb" :key="index">{{item}}</span>
          </p>
        </div>
      </div>
      <div class="stationPassenger">
        <p>今日高速路口：进入 <span class="numb">{{stationData.inCar}}</span>辆，出去 <span class="numb">{{stationData.outCar}}</span>辆</p>
        <p>今日铁路到达：到站客流<span class="numb">{{stationData.inPerson}}</span>，出站 <span class="numb">{{stationData.outPerson}}</span></p>
      </div>
    </div>
    <div v-if="!isShowBdMap" class="baiduMap">
      <BaiduMap class="maps"></BaiduMap>
    </div>
    <div v-if="isShowBdMap" class="echartMap">
      <EchartMap class="maps"></EchartMap>
    </div>
    <div class="mapswitch">
      <span>热力图</span>
      <el-switch
        v-model="isShowBdMap"
        active-color="#05E5FF"
        inactive-color="#999">
      </el-switch>
    </div>
  </div>
</template>

<script>
import BaiduMap from './baiDuMap'
import EchartMap from './hotMap'
import api from '@/api'
export default {
  name: 'kq-map1',
  data () {
    return {
      isShowBdMap: true,
      allNumb: [],
      nowNumb: [],
      stationData: {
        inCar: 180298,
        outCar: 190293,
        inPerson: 14303,
        outPerson: 17410
      },
      carStation: {}
    }
  },
  methods: {
    getPassengerData () {
      api.screen.getPassengerRealtime().then(res => {
        console.log(res, '实时客流')
        let allPassenger = 0
        let nowPassenger = 0
        res.forEach(item => {
          allPassenger += item.dayPassenger
          nowPassenger += item.passenger
        })
        this.allNumb = String(allPassenger).split('')
        this.nowNumb = String(nowPassenger).split('')
      })
    },
    getHeiWayData () {
      api.screen.getkeqiaoHigWay().then(res => {
        console.log(res, '这个是柯桥')
      }).catch(err => {
        console.log(err, '柯桥站挂掉')
      })
    },
    getTodayHighSpeedCar () {
      api.screen.getHighSpeed('today').then(res => {
        console.log(res, '今天高速车辆')
        this.stationData.inCar = res.downGoing
        this.stationData.outCar = res.upGoing
      }).catch(err => {
        console.log(err, '今天高速获取失败')
      })
    },
    getTrain () {
      api.screen.getTrain('day').then(res => {
        console.log(res, 'opopopo')
        this.stationData.inPerson = res.arrival
        this.stationData.outPerson = res.outbound
      }).catch(err => {
        console.log(err, '高铁获取失败')
      })
    }
  },
  created () {
    this.getHeiWayData()
    this.getTodayHighSpeedCar()
    this.getTrain()
    setInterval(this.getPassengerData(), 5000)
  },
  components: {
    BaiduMap,
    EchartMap
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .kq-maps{
    width: 100%;
    height: 100%;
    position: relative;
    .baiduMap{
      width: 100%;
      height: 100%;
    }
    .echartMap{
      width: 100%;
      height: 100%;
    }
    .maps{
      width: 100%;
      height: 100%;
    }
    .mapswitch{
      width: 100px;
      height: 30px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      span{
        color: #26bbf0;
      }
    }
    .supernatant{
      width: 70%;
      height: 40%;
      position: absolute;
      left: 30px;
      top: 20px;
      color: #fff;
      z-index: 9;
      .passengerNum{
        width: 100%;
        height: 150px;
        div{
          display: inline-block;
          p:nth-of-type(1){
            font-size: 22px;
          }
          p:nth-of-type(2){
            margin-top: 10px;
            font-size: 50px;
            display: inline-block;
            span{
              padding: 3px 8px;
              margin-right: 10px;
            }
          }
        }
        .allpassengerNum{
          margin-right: 30px;
          p:nth-of-type(2){
            span{
              border: 1px solid #FFD246;
              color: #FFD246;
            }
          }
        }
        .nowPassengerNum{
          p:nth-of-type(2){
            span{
              border: 1px solid #05E5FF;
              color: #05E5FF;
            }
          }
        }
      }
      .stationPassenger{
        font-size: 22px;
        .numb{
          color: #05E5FF;
          font-weight: 600;
        }
      }
    }
  }

</style>
