<template>
  <div class="news-republics">
    <el-carousel :interval="5000" arrow="always">
      <el-carousel-item v-for="item in newsList" :key="item.content">
        <a :href="item.url" target="_blank">
          <img :src="item.picPath" :alt="item.content">
        </a>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'news-republic',
  data () {
    return {
      newsList: [],
      imgUrl: []
    }
  },
  async created () {
    await this.getNewsData()
  },
  methods: {
    async getNewsData () {
      await api.screen.getNews().then(res => {
        console.log(res, '新闻数据')
        this.newsList = res
      }).catch(err => {
        console.log(err, '获取新闻失败')
      })
    }
  }
}
</script>

<style lang="scss" type="text/scss">
  .news-republic {
    .el-carousel{
      width: 100%;
      height: 100%;
    }
    .el-carousel__container{
      width: 100%;
      height: 100%;
    }
    .el-carousel__indicators{
      display: none;
    }
    .el-carousel__arrow{
      background: rgba(0, 0, 0, 0.3);
      width: 40px;
      height: 40px;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .news-republics{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    h3{
      color: #fff;
    }
  }

</style>
