<template>
  <div class="overview-data">
    <div class="titel">
      <div class="image">
        <img src="./../../../static/image/allpas.png" alt="">
      </div>
      <div class="passengerNum">
        <p class="num">{{totalpassenger}}</p>
        <p class="text">总客流</p>
      </div>
      <div class="compare">
        <img src="./../../../static/image/jiantou.png" alt="">
        <span>-1.20%</span>
      </div>
    </div>
    <div class="cont">
      <div class="catering sm-box">
        <div class="icon">
          <img src="./../../../static/image/canyin.png" alt="">
        </div>
        <div class="income">
          <p class="numb">{{diningIncome}}</p>
          <p class="txt">餐饮收入</p>
        </div>
      </div>
      <div class="tickets sm-box">
        <div class="income">
          <p class="numb">{{ticketIncome}}</p>
          <p class="txt">门票收入</p>
        </div>
        <div class="icon">
          <img src="./../../../static/image/tick.png" alt="">
        </div>
      </div>
      <div class="homestay sm-box">
        <div class="icon">
          <img src="./../../../static/image/minsu.png" alt="">
        </div>
        <div class="income">
          <p class="numb">{{homeStayIncome}}</p>
          <p class="txt">民宿收入</p>
        </div>
      </div>
      <div class="hotel sm-box">
        <div class="income">
          <p class="numb">{{hotelIncome}}</p>
          <p class="txt">酒店收入</p>
        </div>
        <div class="icon">
          <img src="./../../../static/image/hotel.png" alt="">
        </div>
      </div>
      <div class="centerMoney">
        <p class="numb">
          {{totalIncome}}
        </p>
        <p class="text">
          总收入
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'overview-data',
  data () {
    return {
      totalIncome: '16013700',
      hotelIncome: '3859000',
      ticketIncome: '6025870',
      diningIncome: '2483000',
      homeStayIncome: '3645830',
      totalpassenger: ''
    }
  },
  created () {
    this.getdiningIncome()
    this.gethotelIncome()
    this.gethomestayIncome()
    this.getticketIncome()
    this.getTotalIncome()
    this.getTotalPassengerFlow()
  },
  methods: {
    getdiningIncome () {
      api.screen.getIncome('dining').then(res => {
        console.log(res, '餐饮收入')
        this.diningIncome = res
      })
    },
    gethotelIncome () {
      api.screen.getIncome('grogshop').then(res => {
        console.log(res, '酒店收入')
        this.hotelIncome = res
      })
    },
    gethomestayIncome () {
      api.screen.getIncome('homestay').then(res => {
        console.log(res, '民宿收入')
        this.homeStayIncome = res
      })
    },
    getticketIncome () {
      api.screen.getIncome('admission').then(res => {
        console.log(res, '门票收入')
        this.ticketIncome = res
      })
    },
    getTotalIncome () {
      api.screen.getIncome('total').then(res => {
        console.log(res, '总收入')
        this.totalIncome = res
      })
    },
    getTotalPassengerFlow () {
      api.screen.getAllPassenger().then(res => {
        console.log(res, '总客流')
        this.totalpassenger = res.passenger
      }).catch(err => {
        console.log(err, '总客流失败')
      })
    }
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .overview-data{
    width: 100%;
    height: 100%;
    color: #00e5f8;
    .titel{
      width: 100%;
      height: 70px;
      padding: 5px 20px;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      div{
        float: left;
      }
      .image{
        width: 15%;
        height: 100%;
        margin-right: 15px;
        img{
          width: 50px;
          height: 50px;
          border-radius: 100%;
          vertical-align: top;
          background: #01e3fe;
          display: inline-block;
          float: right;
        }
      }
      .passengerNum{
        .num{
          font-size: 26px;
        }
        .text{
          font-size: 14px;
        }
      }
      .compare{
        position: absolute;
        right: 20px;
        bottom: 9%;
        img{
          width: 15px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
        }
      }

    }
    .cont{
      padding: 0;
      width: 100%;
      height: calc(100% - 70px);
      position: relative;
      overflow: hidden;
      .sm-box{
        width: calc(50% - 2px);
        height: calc(50% - 5px);
        float: left;
        box-shadow:0 0 40px -10px #0487bd inset;
        position: relative;
        overflow: hidden;
        div{
          float: left;
        }
        .icon{
          width: 30%;
          height: 100%;
          position: relative;
          img{
            width: 24px;
            height: 18px;
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .income{
          width: 70%;
          height: 100%;
          padding: 10% 0;
          box-sizing: border-box;
          line-height: 150%;
          min-height: 60px;
          .numb{
            font-size: 150%;
            font-weight: 600;
          }
          .txt{
            line-height: 20px;
            font-size: 14px;
          }
        }
      }
      .catering{
        div{
          float: left;
        }
        .income{
          line-height: 120%;
        }
        &:before{
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50px;
          box-shadow:0 0 40px -10px #0487bd;
          right: 0;
          bottom: 0;
          margin-right: -50px;
          margin-bottom: -50px;
          background: #07184e;
        }
      }
      .tickets{
        float: right;
        padding-left: 10%;
        box-sizing: border-box;
        div{
          float: right;
        }
        .icon{
        }
        &:before{
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50px;
          box-shadow:0 0 40px -10px #0487bd;
          left: 0;
          bottom: 0;
          margin-left: -50px;
          margin-bottom: -50px;
          background: #07184e;
        }
      }
      .homestay{
        margin-top: 2px;
        .income{
          line-height: 120%;
        }
        div{
          float: left;
        }
        &:before{
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50px;
          box-shadow:0 0 40px -10px #0487bd;
          right: 0;
          top: 0;
          margin-right: -50px;
          margin-top: -50px;
          background: #07184e;
        }
      }
      .hotel{
        margin-top: 2px;
        float: right;
        padding-left: 10%;
        box-sizing: border-box;
        div{
          float: right;
        }
        &:before{
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50px;
          box-shadow:0 0 40px -10px #0487bd;
          left: 0;
          top: 0;
          margin-left: -50px;
          margin-top: -50px;
          background: #07184e;
        }
      }
      .centerMoney{
        width: 90px;
        height: 90px;
        background: #01e3fe;
        color: #07184e;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%);
        p{
          text-align: center;
        }
        .numb{
          font-size: 18px;
          font-weight: 600;
          margin-top: 28px;
        }
        .text{
          font-size: 14px;
        }
      }
    }
  }

</style>
