<template>
  <div class="public-opinion-analyze" >
    <div class="opinion-analysis">
      <div class="text">
        <span class="word">今日舆情信息</span>
        <span class="numb">{{todayOpinion}}</span>
        <span class="word">条</span>
        <span class="word">今日热门信息</span>
        <span class="numb">{{todayHot}}</span>
        <span class="word">条</span>
      </div>
      <div class="charts">
        <div id="heighchartOpinion"></div>
      </div>
      <div class="hotNews">
        <a :href="hotnewsUrl" target="_blank">Top1:{{hotNews}}</a>
      </div>
    </div>
    <div class="hot-opinion">
      <div class="title">
        <span :class="activeIndex === 1?'activein': ''" @click="toggleTab(1)">最热酒店</span>
        <span :class="activeIndex === 2?'activein': ''" @click="toggleTab(2)">最热民宿</span>
        <span :class="activeIndex === 3?'activein': ''" @click="toggleTab(3)">最热餐饮</span>
      </div>
      <ScrollContainer>
        <div class="hot-content">
          <el-table
            stripe
            :data="hotData"
            style="width: 100%">
            <el-table-column
              prop="ranking"
              label="排名"
              width="50">
            </el-table-column>
            <el-table-column
              label="酒店名称">
              <template slot-scope="scope">
                <span class="names">{{scope.row.name}}</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="garde"
              width="60"
              label="综合评分">
            </el-table-column>
            <el-table-column
              width="60"
              label="同比上周">
              <template slot-scope="scope">
                <span v-if="scope.row.growth.includes('-')" class="add">{{scope.row.growth}}%</span>
                <span v-if="!scope.row.growth.includes('-')" class="reduce">{{scope.row.growth}}%</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </ScrollContainer>
    </div>
  </div>
</template>

<script>
import HighCharts from 'highcharts'
import ScrollContainer from '@/components/ScrollContainer'
import api from '@/api'
export default {
  name: 'public-opinion-analysis',
  data () {
    return {
      hotData: [],
      hotelData: [],
      homestayData: [],
      cateringData: [],
      activeIndex: 1,
      opinionData: [
        ['正面', 45.0],
        ['负面', 26.8],
        ['中性', 12.8]
      ],
      todayHot: '',
      todayOpinion: '',
      hotnewsUrl: '',
      hotNews: ''
    }
  },
  components: {
    ScrollContainer
  },
  methods: {
    async getHotHotel () {
      await api.screen.getHotData('hotel').then(res => {
        console.log(res, '酒店')
        this.hotelData = res
      }).catch(err => {
        console.log(err, '酒店失败')
      })
    },
    async getHotCaterign () {
      await api.screen.getHotData('catering').then(res => {
        console.log(res, '餐饮')
        this.cateringData = res
      }).catch(err => {
        console.log(err, '餐饮失败')
      })
    },
    async getHotHomeStay () {
      await api.screen.getHotData('homestay').then(res => {
        console.log(res, '民宿')
        this.homestayData = res
      }).catch(err => {
        console.log(err, '民宿失败')
      })
    },
    async getSentimentData () {
      await api.screen.getTodaySentiment().then(res => {
        console.log(res, '今日舆情分析')
        this.opinionData = [
          ['正面', res.frontCount],
          ['负面', res.downsideCount],
          ['中性', res.neutralCount]
        ]
        this.todayOpinion = res.totalCount
        this.todayHot = res.hotCount
        this.hotNews = res.content
        this.hotnewsUrl = res.url
      }).catch(err => {
        console.log(err, '失败')
      })
    },
    toggleTab (index) {
      this.activeIndex = index
      if (index === 1) {
        this.hotData = this.hotelData
      } else if (index === 2) {
        this.hotData = this.homestayData
      } else {
        this.hotData = this.cateringData
      }
    },
    getOption () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
          },
          animation: {
            duration: 1000
          }
        },
        title: {
          text: ''
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: -10,
          y: 40,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          }
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
          backgroundColor: 'rgba(0, 0, 0, 0.4)',
          borderWidth: 1,
          style: {
            color: '#fff'
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
              enabled: false,
              format: '{point.name}'
            },
            showInLegend: true
          }
        },
        series: [{
          type: 'pie',
          name: '舆情占比',
          data: this.opinionData
        }]
      }
    }
  },
  async created () {
    await this.getHotHotel()
    await this.toggleTab(1)
    await this.getHotCaterign()
    await this.getHotHomeStay()
  },
  async mounted () {
    await this.getSentimentData()
    await HighCharts.setOptions({
      colors: ['#99f07e', '#06bbea', '#fe9e09']
    })
    await HighCharts.chart('heighchartOpinion', this.getOption())
  }
}
</script>

<style lang="scss" type="text/scss">
  .public-opinion-analyze{
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: #054173;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: #054173;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .public-opinion-analyze{
    width: 100%;
    height: 100%;
    .opinion-analysis{
      width: 50%;
      height: 100%;
      float: left;
      .text{
        width: 100%;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        padding-left: 15px;
        box-sizing: border-box;
        .word{
          color: #26bbf0;
        }
        .numb{
          font-size: 16px;
          color: #ffd34c;
          margin: 0 5px;
          font-weight: 700;
        }
      }
      .charts{
        width: 100%;
        height: calc(100% - 70px);
        #heighchartOpinion{
          width: 100%;
          height: 100%;
        }
      }
      .hotNews{
        padding-left: 20px;
        box-sizing: border-box;
        a{
          color: #03d5f6;
        }
      }
    }
    .hot-opinion{
      width: 50%;
      height: 100%;
      float: right;
      position: relative;
      .title{
        width: 100%;
        height: 40px;
        position: absolute;
        top: -12%;
        left: 0;
        span{
          display: inline-block;
          margin-right: 5px;
          padding: 8px 12px;
          padding-top: 3px;
          box-sizing: border-box;
          color:#26bbf0;
          font-weight: 600;
          font-size: 14px;
          background: url("./../../../static/image/btnnol.png") no-repeat;
          background-size: 100%;
          cursor: pointer;
        }
        .activein{
          background: url("./../../../static/image/actibtn.png") no-repeat;
          background-size: 100%;
          color: #054173;
        }
      }
    }
    .add{
      color: #38ff1f;
    }
    .reduce{
      color: #e82e00;
    }
    .names{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
</style>
