<template>
  <div class="rural-passenger-flows">
    <div class="passenger-flows">
      <div id="heighchatsPassenger"></div>
    </div>
    <div class="sojourn-time">
      <div id="echa"></div>
    </div>
  </div>
</template>

<script>
import HighCharts from 'highcharts'
import 'echarts-liquidfill'
import api from '@/api'
export default {
  name: 'rural-passenger-flow',
  data () {
    return {
      position: [
        {center: ['20%', '30%']},
        {center: ['50%', '30%']},
        {center: ['80%', '30%']},
        {center: ['20%', '75%']},
        {center: ['50%', '75%']},
        {center: ['80%', '75%']}
      ],
      stayTime: [],
      barName: [],
      barData: []
    }
  },
  created () {
  },
  methods: {
    async getcountryData () {
      await api.screen.getCountrytourPassenger().then(res => {
        console.log(res, '乡村客流')
        res.forEach(item => {
          if (item) {
            let obj = {
              name: item.name,
              value: item.sojournTime
            }
            this.barName.push(item.name)
            this.barData.push(item.passengerFlowAddUp)
            this.stayTime.push(obj)
          }
        })
      }).catch(err => {
        console.log(err, '乡村客流失败')
      })
    },
    getOption () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          renderTo: 'heighchatsPassenger',
          type: 'column',
          options3d: {
            enabled: true,
            alpha: 15,
            beta: -8,
            depth: 200,
            viewDistance: 45
          }
        },
        title: {
          text: '本月累计客流量',
          style: {
            color: '#02c8e3',
            fontWeight: 'bold'
          }
        },
        legend: {
          enabled: false
        },
        subtitle: {
          text: '/万人',
          align: 'right',
          x: -10,
          y: 10,
          style: {
            color: '#02c8e3',
            fontWeight: 'bold'
          }
        },
        xAxis: {
          categories: this.barName,
          gridLineColor: 'transparent'
        },
        yAxis: {
          gridLineColor: 'transparent',
          title: {
            text: null
          }
        },
        zAxis: {
          gridLineColor: 'transparent',
          title: {
            text: null
          }
        },
        plotOptions: {
          column: {
            depth: 45
          }
        },
        series: [{
          data: this.barData
        }]
      }
    },
    getEchats () {
      let option = {
        title: {
          text: '本月乡村游客逗留时间',
          textStyle: {
            color: '#02c8e3'
          }
        },
        series: []
      }
      this.stayTime.forEach((item, index) => {
        let obj = {
          type: 'liquidFill',
          animation: true,
          waveAnimation: true,
          data: [0.76, 0.70, 0.68],
          color: ['#a5d8ed', '#007ea6', '#01d1ed'],
          center: this.position[index].center,
          waveLength: '60%',
          amplitude: 5,
          radius: '35%',
          label: {
            normal: {
              formatter: function () {
                return `${item.value}\n${item.name}`
              },
              textStyle: {
                fontSize: 20,
                color: '#036e87'
              },
              position: ['50%', '50%']
            }
          },
          outline: {
            itemStyle: {
              borderColor: '#01d1ed',
              borderWidth: 5
            },
            borderDistance: 0
          },
          itemStyle: {
            normal: {
              backgroundColor: '#036e87'
            }
          }
        }
        option.series.push(obj)
      })
      let myChart = this.$echarts.init(document.getElementById('echa'))
      myChart.setOption(option)
    }
  },
  async mounted () {
    await this.getcountryData()
    await HighCharts.setOptions({
      colors: ['#06bbea']
    })
    await HighCharts.chart('heighchatsPassenger', this.getOption())
    await this.getEchats()
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .rural-passenger-flows{
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    .passenger-flows{
      width: 100%;
      height: 50%;
      #heighchatsPassenger{
        width: 100%;
        height: 100%;
      }
    }
    .sojourn-time{
      width: 100%;
      height: 50%;
      #echa{
        width: 100%;
        height: 100%;
      }
    }
  }

</style>
