<template>
  <div class="consumption-analysis">
    <div class="title">
      <span class="btn" :class="activeIndex === 1?'activein': ''" @click="toggleTab(1)">本年</span>
      <span class="btn" :class="activeIndex === 2?'activein': ''" @click="toggleTab(2)">去年</span>
      <span class="btn" :class="activeIndex === 3?'activein': ''" @click="toggleTab(3)">前年</span>
      <span class="router" @click="goRouter">用户画像</span>
    </div>
    <div class="content">
      <div class="analyTop box">
        <div class="now-passenger">
          <span class="numb">{{consumeData.allperson}}</span><span class="text">人</span>
          <p>游客总人数</p>
        </div>
        <div class="now-passenger center">
          <span class="numb">{{consumeData.allconsume}}</span><span class="text">万元</span>
          <p>游客总消费</p>
        </div>
        <div class="now-scenic-passenger">
          <span class="numb">{{consumeData.allstay}}</span><span class="text">笔</span>
          <p>住宿订单数</p>
        </div>
      </div>
      <div class="analyDown box">
        <div class="now-passenger">
          <span class="numb">{{consumeData.oneStay}}</span><span class="text">元</span>
          <p>人均住宿消费额</p>
        </div>
        <div class="now-passenger center">
          <span class="numb">{{consumeData.scenicConsume}}</span><span class="text">笔</span>
          <p>景点消费额</p>
        </div>
        <div class="now-scenic-passenger">
          <span class="numb">{{consumeData.oneConsume}}</span><span class="text">元</span>
          <p>人均景点消费额</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'consumption-analysis',
  data () {
    return {
      activeIndex: 1,
      consumeData: {},
      list: [
        {
          allperson: 65464,
          allconsume: 5454,
          allstay: 65454,
          oneStay: 14325,
          scenicConsume: 65734,
          oneConsume: 4563
        },
        {
          allperson: 856755,
          allconsume: 5645,
          allstay: 87676,
          oneStay: 53454,
          scenicConsume: 645654,
          oneConsume: 6455
        },
        {
          allperson: 74564,
          allconsume: 64354,
          allstay: 24234,
          oneStay: 54665,
          scenicConsume: 5345,
          oneConsume: 23445
        }
      ]
    }
  },
  methods: {
    goRouter () {
      this.$router.push('/analyze/vister/basicInfo')
    },
    toggleTab (index) {
      this.activeIndex = index
      if (index === 1) {
        this.consumeData = this.list[0]
      } else if (index === 2) {
        console.log(2222)
        this.consumeData = this.list[1]
      } else if (index === 3) {
        this.consumeData = this.list[2]
      }
    }
  },
  created () {
    this.toggleTab(1)
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .consumption-analysis{
    width: 100%;
    height: 100%;
    .title{
      width: 100%;
      height: 40px;
      padding-left: 0px;
      box-sizing: border-box;
      position: relative;
      z-index: 3;
      .btn{
        display: inline-block;
        margin-right: 5px;
        padding: 8px 25px;
        padding-top: 3px;
        box-sizing: border-box;
        color:#26bbf0;
        font-weight: 600;
        font-size: 14px;
        background: url("./../../../static/image/btnnol.png") no-repeat;
        background-size: 100%;
        cursor: pointer;
      }
      .activein{
        background: url("./../../../static/image/actibtn.png") no-repeat;
        background-size: 100%;
        color: #054173;
      }
      .router{
        float: right;
        padding: 3px 15px;
        box-shadow:0 0 40px -10px #ffea47 inset;
        color: #ffea47;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .content{
      width: 100%;
      height: calc(100% - 40px);
      .analyTop{
        width: 100%;
        height: 50%;
        padding-top: 30px;
        box-sizing: border-box;
        position: relative;
      }
      .analyDown{
        width: 100%;
        height: 50%;
        padding-top: 10px;
        box-sizing: border-box;
        position: relative;
      }
      .box{
        padding-left: 20px;
        padding-right: 25px;
        box-sizing: border-box;
        color: #02e7ee;
        .now-passenger{
          float: left;
        }
        .now-scenic-passenger{
          float: right;
        }
        .center{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        .numb{
          font-size: 24px;
          font-weight: 600;
        }
        .text{
          float: right;
          font-size: 14px;
          margin-top: 10px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }

</style>
