<template>
  <div class="database">
    <div class="county-passenger-flow box">
      <div class="now-passenger">
        <span class="numb">{{nowPassenger}}</span><span class="text">人</span>
        <p>全县实时客流量</p>
      </div>
      <div class="now-scenic-passenger">
        <span class="numb">{{scenicPassenger}}</span><span class="text">人</span>
        <p>景区接待游客量</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="old-passenger-flow box">
      <div class="now-passenger">
        <span class="numb">{{inCarNum}}</span><span class="text">辆</span>
        <p>昨日来车流量总计</p>
      </div>
      <div class="now-scenic-passenger">
        <span class="numb">{{stayPerson}}</span><span class="text">人</span>
        <p>昨日住宿接待总计</p>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'database',
  data () {
    return {
      inCarNum: '',
      stayPerson: '',
      scenicPassenger: '',
      nowPassenger: ''
    }
  },
  methods: {
    getYesterdayCar () {
      api.screen.getHighSpeed('yesterday').then(res => {
        console.log(res, 'ioioioioioioioi')
        this.inCarNum = res.downGoing
      })
    },
    getHotelPersonNum () {
      api.screentwo.getHotelPerson().then(res => {
        console.log(res, 'opopopopopopo')
        this.stayPerson = res
      })
    }
  },
  created () {
    this.getYesterdayCar()
    this.getHotelPersonNum()
    setInterval(() => {
      this.scenicPassenger = localStorage.getItem('passenger') || ''
      this.nowPassenger = localStorage.getItem('nowPassenger') || ''
    }, 100)
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .database{
    width: 100%;
    height: 100%;
    .box{
      padding: 20px 40px;
      padding-right: 50px;
      padding-bottom: 0;
      box-sizing: border-box;
      color: #02e7ee;
      .now-passenger{
        float: left;
      }
      .now-scenic-passenger{
        float: right;
      }
      .numb{
        font-size: 28px;
        font-weight: 600;
      }
      .text{
        float: right;
        font-size: 14px;
        margin-top: 15px;
      }
      p{
        font-size: 14px;
      }
    }
    .county-passenger-flow{
      width: 100%;
      height: 40%;
      padding-bottom: 0;
      .numb{
        color: #ffd148;
      }
    }
    .line{
      width: 100%;
      height: 20%;
      background: url("./../../../static/image/bgLine.png") no-repeat;
      background-position: center;
      background-size: 100%;
    }
    .old-passenger-flow{
      width: 100%;
      height: 40%;
      padding-top: 0;
    }
  }

</style>
