<template>
  <div class="dispersion-ratio-analysis">
    <div class="day-analysis">
      <div id="heighchartsDayAnaly"></div>
    </div>
    <div class="month-analysis">
      <div id="heighchartsMonthAnaly"></div>
    </div>
  </div>
</template>

<script>
import HighCharts from 'highcharts'
import api from '@/api'

export default {
  name: 'dispersion-ratio-rnalysis',
  data () {
    return {
      dispersionData: [],
      mounthDispersion: []
    }
  },
  created () {
  },
  methods: {
    async getDispersionAnalysis () {
      await api.screentwo.getDispersionRatio('day').then(res => {
        this.dispersionData = [
          ['团队游客', res.teamPercent],
          ['散客', res.singlePercent],
          ['电商渠道', res.ecommercePercent]
        ]
      }).catch(err => {
        console.log(err)
      })
    },
    async getMounthDispersionAnalysis () {
      await api.screentwo.getDispersionRatio('month').then(res => {
        this.mounthDispersion = [
          ['团队游客', res.teamPercent],
          ['散客', res.singlePercent],
          ['电商渠道', res.ecommercePercent]
        ]
      }).catch(err => {
        console.log(err)
      })
    },
    getDayHeighChart () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45
          },
          marginLeft: -150,
          marginTop: 0
        },
        title: {
          text: '今日团散比分析情况',
          align: 'left',
          x: 20,
          style: {
            color: '#00e4fd'
          }
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: -40,
          y: 30,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          }
        },
        plotOptions: {
          pie: {
            innerSize: 50,
            depth: 25,
            showInLegend: true,
            dataLabels: {
              enabled: false
            }
          }
        },
        series: [{
          name: '团散比分析',
          data: this.dispersionData
        }]
      }
    },
    getMonthHeighChart () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45
          },
          marginLeft: -150,
          marginTop: 0
        },
        title: {
          text: '本月团散比分析情况',
          align: 'left',
          x: 20,
          style: {
            color: '#00e4fd'
          }
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: -40,
          y: 30,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          }
        },
        plotOptions: {
          pie: {
            innerSize: 50,
            depth: 25,
            showInLegend: true,
            dataLabels: {
              enabled: false
            }
          }
        },
        series: [{
          name: '团散比分析',
          data: this.mounthDispersion
        }]
      }
    }
  },
  async mounted () {
    await this.getDispersionAnalysis()
    await this.getMounthDispersionAnalysis()
    await HighCharts.setOptions({
      colors: ['#00b9bb', '#2378ef', '#4a89D0']
    })
    await HighCharts.chart('heighchartsDayAnaly', this.getDayHeighChart())
    await HighCharts.setOptions({
      colors: ['#8ce474', '#02ceef', '#f8910a']
    })
    await HighCharts.chart('heighchartsMonthAnaly', this.getMonthHeighChart())
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .dispersion-ratio-analysis{
    width: 100%;
    height: 100%;
    .day-analysis{
      width: 100%;
      height: 50%;
      #heighchartsDayAnaly{
        width: 100%;
        height: 100%;
      }
    }
    .month-analysis{
      width: 100%;
      height: 50%;
      #heighchartsMonthAnaly{
        width: 100%;
        height: 100%;
      }
    }
  }

</style>
