<template>
  <div class="Length-stay-analysis">
    <div class="title">
      <span class="btn" :class="activeIndex === 1?'activein': ''" @click="toggleTab(1)">国内</span>
      <span class="btn" :class="activeIndex === 2?'activein': ''" @click="toggleTab(2)">省内</span>
      <span class="btn" :class="activeIndex === 3?'activein': ''" @click="toggleTab(3)">境外</span>
      <el-select class="sele" v-model="dataTime" placeholder="请选择" @change="getChangeData">
        <el-option label="本年" value="year">本年</el-option>
        <el-option label="去年" value="lastyear">去年</el-option>
        <el-option label="前年" value="beforeyear">前年</el-option>
      </el-select>
    </div>
    <div class="content">
      <div class="text">平均住宿时长：<span class="numb">{{2.3}}</span>天</div>
      <div v-show="activeIndex === 1" id="heighChartSleepChina"></div>
      <div v-show="activeIndex === 2" id="heighChartSleepzhejiang"></div>
      <div v-show="activeIndex === 3" id="heighChartSleepWorld"></div>
    </div>
  </div>
</template>

<script>
import HighCharts from 'highcharts'
import api from '@/api'
export default {
  name: 'length-stay-analysis',
  data () {
    return {
      activeIndex: 1,
      dataTime: 'year',
      worldData: [],
      chinaData: [],
      zhejiangData: []
    }
  },
  methods: {
    toggleTab (index) {
      this.activeIndex = index
      // if (index === 1) {
      //   this.consumeData = this.list[0]
      // } else if (index === 2) {
      //   console.log(2222)
      //   this.consumeData = this.list[1]
      // } else if (index === 3) {
      //   this.consumeData = this.list[2]
      // }
    },
    async getChangeData () {
      console.log(this.dataTime)
      await this.getChinaData(this.dataTime)
      await this.getWordData(this.dataTime)
      await this.getZhejiangData(this.dataTime)
      await HighCharts.chart('heighChartSleepChina', this.getOptionChina())
      await HighCharts.chart('heighChartSleepzhejiang', this.getOptionZhejiang())
      await HighCharts.chart('heighChartSleepWorld', this.getOptionWorld())
    },
    async getChinaData (data) {
      await api.screentwo.getStayTime('inland', data).then(res => {
        console.log(res, 'china')
        this.chinaData = [
          ['1天', res.oneDay],
          ['2天', res.twoDay],
          {
            name: '3天及以上',
            y: res.moreThreeDay,
            sliced: true,
            selected: true
          }
        ]
      }).catch(err => {
        console.log(err, '失败')
      })
    },
    async getWordData (data) {
      await api.screentwo.getStayTime('overseas', data).then(res => {
        console.log(res, 'world')
        this.worldData = [
          ['1天', res.oneDay],
          ['2天', res.twoDay],
          {
            name: '3天及以上',
            y: res.moreThreeDay,
            sliced: true,
            selected: true
          }
        ]
      }).catch(err => {
        console.log(err, '失败')
      })
    },
    async getZhejiangData (data) {
      await api.screentwo.getStayTime('province', data).then(res => {
        console.log(res, 'zhejiang')
        this.zhejiangData = [
          ['1天', res.oneDay],
          ['2天', res.twoDay],
          {
            name: '3天及以上',
            y: res.moreThreeDay,
            sliced: true,
            selected: true
          }
        ]
      }).catch(err => {
        console.log(err, '失败')
      })
    },
    getOptionChina () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
          },
          animation: {
            duration: 1000
          },
          marginTop: -10,
          marginLeft: 50
        },
        title: {
          text: ''
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: 10,
          y: 30,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          }
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
          backgroundColor: 'rgba(0, 0, 0, 0.4)',
          borderWidth: 1,
          style: {
            color: '#fff'
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
              enabled: false,
              format: '{point.name}'
            },
            showInLegend: true
          }
        },
        series: [{
          type: 'pie',
          name: '住宿时长',
          data: this.chinaData
        }]
      }
    },
    getOptionZhejiang () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
          },
          animation: {
            duration: 1000
          },
          marginTop: -10,
          marginLeft: 50
        },
        title: {
          text: ''
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: 10,
          y: 30,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          }
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
          backgroundColor: 'rgba(0, 0, 0, 0.4)',
          borderWidth: 1,
          style: {
            color: '#fff'
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
              enabled: false,
              format: '{point.name}'
            },
            showInLegend: true
          }
        },
        series: [{
          type: 'pie',
          name: '住宿时长',
          data: this.zhejiangData
        }]
      }
    },
    getOptionWorld () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
          },
          animation: {
            duration: 1000
          },
          marginTop: -10,
          marginLeft: 50
        },
        title: {
          text: ''
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: 10,
          y: 30,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          }
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
          backgroundColor: 'rgba(0, 0, 0, 0.4)',
          borderWidth: 1,
          style: {
            color: '#fff'
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
              enabled: false,
              format: '{point.name}'
            },
            showInLegend: true
          }
        },
        series: [{
          type: 'pie',
          name: '住宿时长',
          data: this.worldData
        }]
      }
    }
  },
  created () {
    this.toggleTab(1)
  },
  async mounted () {
    await this.getChinaData(this.dataTime)
    await this.getWordData(this.dataTime)
    await this.getZhejiangData(this.dataTime)
    await HighCharts.setOptions({
      colors: ['#93E97C', '#05C0EB', '#FB910A']
    })
    await HighCharts.chart('heighChartSleepChina', this.getOptionChina())
    await HighCharts.chart('heighChartSleepzhejiang', this.getOptionZhejiang())
    await HighCharts.chart('heighChartSleepWorld', this.getOptionWorld())
  }
}
</script>

<style lang="scss">
  .Length-stay-analysis{
    .el-select{
      width: 80px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 125px;
      .el-input__inner{
        padding-right: 10px;
        background-color: transparent;
        border-color: transparent;
      }
    }
    .el-input__inner{
      background-color: transparent;
      border-color: transparent;
      border-bottom-color: #077dab;
      color: #077dab;
    }
    .el-input__suffix,.el-select .el-input .el-select__caret{
      color: #077dab;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .Length-stay-analysis{
    width: 100%;
    height: 100%;
    .title{
      width: 100%;
      height: 40px;
      padding-left: 0px;
      box-sizing: border-box;
      position: relative;
      z-index: 3;
      .btn{
        display: inline-block;
        margin-right: 5px;
        padding: 8px 25px;
        padding-top: 3px;
        box-sizing: border-box;
        color:#26bbf0;
        font-weight: 600;
        font-size: 14px;
        background: url("./../../../static/image/btnnol.png") no-repeat;
        background-size: 100%;
        cursor: pointer;
      }
      .activein{
        background: url("./../../../static/image/actibtn.png") no-repeat;
        background-size: 100%;
        color: #054173;
      }
      .sele{
        float: right;
        margin-top: -10px;
        margin-right: 5px;
      }
    }
    .content {
      width: 100%;
      height: calc(100% - 40px);
      .text{
        width: 100%;
        height: 30px;
        padding-left: 15px;
        color: #04e0ef;
        .numb{
          color: #fad24e;
          margin: 0 10px;
          font-size: 16px;
        }
      }
      #heighChartSleepChina,
      #heighChartSleepzhejiang,
      #heighChartSleepWorld{
        width: 100%;
        height: calc(100% - 30px);
      }
    }
  }

</style>
