<template>
  <div class="passenger-volume-forecastings">
    <div class="table-text">
      <ul>
        <li class="one"></li>
        <li class="two"><span>预计人数</span></li>
        <li class="three"><span>天气预报</span></li>
        <li class="fore"><span>在线预定</span></li>
      </ul>
    </div>
    <div class="table-cont" v-for="item in dataList" :key="item.times">
      <ul>
        <li class="one"><span>{{item.times}}</span></li>
        <li class="two"><span>{{item.reserve}}</span></li>
        <li class="three"><span>{{item.weather}}</span></li>
        <li class="fore"><span>{{item.person}}</span></li>
      </ul>
    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'passenger-volume-forecasting',
  data () {
    return {
      dataList: []
    }
  },
  created () {
    this.getPassengerFlow()
  },
  methods: {
    getPassengerFlow () {
      api.screentwo.getpassengerForecast().then(res => {
        console.log(res, 'ioiooioio')
        res.onlineBooking.forEach((item, index) => {
          let day = new Date().getDate() + 1
          day = Number(day) + index
          let month = '07'
          if (day > 31) {
            day = day - 31
            month = '08'
          }
          let obj = {times: `${month}-${day}`, person: item, weather: '晴', reserve: res.predictNumber[index]}
          this.dataList.push(obj)
        })
      })
    }
  }
}
</script>

<style lang="scss" type="text/scss">
</style>
<style scoped lang="scss" type="text/scss">
  .passenger-volume-forecastings{
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    .table-text{
      float: left;
      width: 12%;
      height: 100%;
      color: #fff;
    }
    .table-cont{
      width: 12%;
      height: 100%;
      float: left;
      color: #26bbf0;
    }
    .one{
      background: rgba(6, 66, 120, 0.5);
      color: #fff;
    }
    .three{
      background: rgba(6, 66, 120, 0.5);
    }
    ul{
      width: 100%;
      height: 100%;
      li{
        width: 100%;
        height: 25%;
        text-align: center;
        position: relative;
        span{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

</style>
