<template>
  <div class="precautionary-analysiss">
    <ScrollContainer>
      <el-table
        stripe
        :data="analysisData"
        style="width: 100%">
        <el-table-column
          prop="time"
          label="预警时间">
          <!--<template slot-scope='scope'>-->
          <!--<span>{{scope.row.time | timeFilter}}</span>-->
          <!--</template>-->
        </el-table-column>
        <el-table-column
          prop="type"
          label="预警类型">
        </el-table-column>
        <el-table-column
          prop="site"
          label="预警地点">
        </el-table-column>
        <el-table-column
          prop="compare"
          width="80"
          label="状态">
          <template slot-scope="scope">
            <span :class="scope.row.status === '解决中'?'doing':''">{{scope.row.status}}</span>
          </template>
        </el-table-column>
      </el-table>
    </ScrollContainer>
  </div>
</template>

<script>
import moment from 'moment'
import api from '@/api'
import ScrollContainer from '@/components/ScrollContainer'
export default {
  name: 'precautionary-analysis',
  data () {
    return {
      analysisData: []
    }
  },
  methods: {
    getWaring () {
      api.screentwo.getWaring().then(res => {
        console.log(res, 'opopopopo')
        this.analysisData = res
      }).catch(err => {
        console.log(err)
      })
    }
  },
  created () {
    this.getWaring()
  },
  filters: {
    timeFilter (item) {
      return moment(new Date()).format('HH:mm:ss')
    }
  },
  components: {
    ScrollContainer
  }
}
</script>

<style lang="scss" type="text/scss">
  .precautionary-analysiss{
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: #054173;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: #054173;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .precautionary-analysiss{
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    .doing{
      color: #ffd445;
    }
  }

</style>
