<template>
  <div class="source-analysis">
    <div class="title">
      <span class="btn" :class="activeIndex === 1?'activein': ''" @click="toggleTab(1)">国内</span>
      <span class="btn" :class="activeIndex === 2?'activein': ''" @click="toggleTab(2)">省内</span>
      <span class="btn" :class="activeIndex === 3?'activein': ''" @click="toggleTab(3)">境外</span>
      <el-select class="sele" v-model="dataTime" placeholder="请选择" @change="getchangeData">
        <el-option label="本年" value="year">本年</el-option>
        <el-option label="去年" value="lastyear">去年</el-option>
        <el-option label="前年" value="beforeyear">前年</el-option>
      </el-select>
    </div>
    <div class="content">
      <div v-if="activeIndex === 1" class="mapEchart">
        <ChinaMap class="maps" :year="dataTime"></ChinaMap>
      </div>
      <div v-if="activeIndex === 2" class="mapEchart">
        <ZhejaingMap class="maps" :year="dataTime"></ZhejaingMap>
      </div>
      <div v-if="activeIndex === 3" class="mapEchart ">
        <WorldMap class="maps" :year="dataTime"></WorldMap>
      </div>
    </div>
  </div>
</template>

<script>
import ChinaMap from '@/components/map/china'
import WorldMap from '@/components/map/worldMap'
import ZhejaingMap from '@/components/map/ZhejiangMap'
export default {
  name: 'source-analysis',
  data () {
    return {
      activeIndex: 1,
      dataTime: 'year'
    }
  },
  methods: {
    toggleTab (index) {
      this.activeIndex = index
      // if (index === 1) {
      //   this.consumeData = this.list[0]
      // } else if (index === 2) {
      //   console.log(2222)
      //   this.consumeData = this.list[1]
      // } else if (index === 3) {
      //   this.consumeData = this.list[2]
      // }
    },
    getchangeData () {
      console.log(this.dataTime)
    }
  },
  created () {
    this.toggleTab(1)
  },
  mounted () {
  },
  components: {
    ChinaMap,
    WorldMap,
    ZhejaingMap
  }
}
</script>

<style lang="scss">
  .source-analysis{
    .el-select{
      width: 80px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 125px;
      .el-input__inner{
        padding-right: 10px;
        background-color: transparent;
        border-color: transparent;
      }
    }
    .el-input__inner{
      background-color: transparent;
      border-color: transparent;
      border-bottom-color: #077dab;
      color: #077dab;
    }
    .el-input__suffix,.el-select .el-input .el-select__caret{
      color: #077dab;
    }
    .sele{
      .el-select-dropdown,.el-popper{
        color: #fff;
        border-color: transparent!important;
        background-color: transparent !important;
      }
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .source-analysis{
    width: 100%;
    height: 100%;
    .title{
      width: 100%;
      height: 40px;
      padding-left: 0px;
      box-sizing: border-box;
      position: relative;
      z-index: 3;
      .btn{
        display: inline-block;
        margin-right: 5px;
        padding: 8px 25px;
        padding-top: 3px;
        box-sizing: border-box;
        color:#26bbf0;
        font-weight: 600;
        font-size: 14px;
        background: url("./../../../static/image/btnnol.png") no-repeat;
        background-size: 100%;
        cursor: pointer;
      }
      .activein{
        background: url("./../../../static/image/actibtn.png") no-repeat;
        background-size: 100%;
        color: #054173;
      }
      .sele{
        float: right;
        margin-top: -10px;
        margin-right: 5px;
      }
    }
    .content {
      width: 100%;
      height: calc(100% - 40px);
      .mapEchart{
        width: 100%;
        height: 100%;
        .maps{
          width: 100%;
          height: 100%;
        }
      }
    }
  }

</style>
