<template>
  <div class="travel-agency-connection">
    <div class="title">
      <span class="btn" :class="activeIndex === 1?'activein': ''" @click="toggleTab(1)">入境旅游外联</span>
      <span class="btn" :class="activeIndex === 2?'activein': ''" @click="toggleTab(2)">国内旅游组织</span>
      <span class="btn" :class="activeIndex === 3?'activein': ''" @click="toggleTab(3)">出境旅游组织</span>
    </div>
    <div class="content">
      <div class="cont-top">
        <span class="numb">{{activeData | numFilter}}</span><span class="text">万人次</span><img src="./../../../static/image/jiantou.png" alt=""><span class="compare">0.43</span>
      </div>
      <div class="line" v-if="false"></div>
      <div class="cont-down"  v-if="false">
        <span class="numb">1416.34</span><span class="text">万人次</span><img src="./../../../static/image/jiantou.png" alt=""><span class="compare">0.43</span>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'travel-agency-connection',
  data () {
    return {
      activeIndex: 1,
      activeData: '',
      trivelObj: {}
    }
  },
  filters: {
    numFilter (item) {
      if (item) {
        item = Number(item) / 10000
        return item
      }
    }
  },
  methods: {
    toggleTab (index) {
      this.activeIndex = index
      if (index === 1) {
        this.activeData = this.trivelObj.entryCountry
      } else if (index === 2) {
        this.activeData = this.trivelObj.inland
      } else if (index === 3) {
        this.activeData = this.trivelObj.leaveCountry
      }
    },
    async getTrivelData () {
      await api.screentwo.getTrivelPAssenger().then(res => {
        this.trivelObj = res
      }).catch(err => {
        console.log(err)
        this.trivelObj = {
          entryCountry: 24591,
          inland: 513951,
          leaveCountry: 14052
        }
      })
    }
  },
  async created () {
    await this.getTrivelData()
    this.toggleTab(1)
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .travel-agency-connection{
    width: 100%;
    height: 100%;
    .title{
      width: 100%;
      height: 60px;
      padding-left: 10px;
      box-sizing: border-box;
      position: relative;
      z-index: 9;
      .btn{
        display: inline-block;
        margin-right: 5px;
        padding: 8px 14px;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 0;
        box-sizing: border-box;
        color:#26bbf0;
        font-weight: 600;
        font-size: 14px;
        background: url("./../../../static/image/boxBig.png") no-repeat;
        background-size: 100%;
        cursor: pointer;
      }
      .activein{
        background: url("./../../../static/image/actibtn.png") no-repeat;
        background-size: 100%;
        color: #054173;
      }
    }
    .content{
      width: 100%;
      height: calc(100% - 60px);
      padding: 20px 40px;
      box-sizing: border-box;
      color: #00e3fe;
      text-align: center;
      .cont-top{
        width: 100%;
        height: 30%;
        padding-bottom: 0;
      }
      .line{
        width: 100%;
        height: 20%;
        background: url("./../../../static/image/bgLine.png") no-repeat;
        background-position: center;
        background-size: 100%;
        margin-bottom: 10px;
      }
      .cont-down{
        width: 100%;
        height: 40%;
        padding-top: 0;
      }
      .numb{
        font-size: 30px;
        margin-right: 15px;
      }
      .text{
        font-size: 14px;
        margin-right: 15px;
      }
      .compare{
        font-size: 14px;
        color: #36f039;
      }
      img{
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-top: -5px;
        margin-right: 3px;
      }
    }
  }

</style>
