<template>
  <div class="all-consume">
    <div class="basic-content">
      <div class="sex-ratio">
        <div class="total-consumption-amount">
          <div class="all-amount-num box" @click="showConsumeDialog">
            <div class="image">
              <img src="" alt="">
            </div>
            <div class="amount-content">
              <p class="text">2108年累计总消费金额</p>
              <div class="amount-numb numbe">
                <span>&yen;</span><span>{{allconsumeNum}}</span>
              </div>
              <p class="compare">
                <span class="percent" :class="allComperWith.includes('-')?'reduce':'add'">{{allComperWith}}%</span>
                <span class="percent-with">同比去年</span>
              </p>
            </div>
          </div>
          <div class="line box"></div>
          <div class="all-person-num box" @click="showConsumeDialog">
            <p class="text">
              2018年累计总消费人数
            </p>
            <p class="person-numb numbe">
              <span>{{consumePerson}}</span>
            </p>
            <p class="compare">
              <span class="percent" :class="personRatio.includes('-')?'reduce':'add'">{{personRatio}}%</span>
              <span class="percent-with">同比去年</span>
            </p>
          </div>
          <div class="per-capita-num box" @click="showConsumeDialog">
            <p class="text">
              人均消费
            </p>
            <p class="person-numb numbe">
              <span>&yen;</span>
              <span>{{consumePre}}</span>
            </p>
            <p class="compare">
              <span class="percent" :class="preRatio.includes('-')?'reduce':'add'">{{preRatio}}%</span>
              <span class="percent-with">同比去年</span>
            </p>
          </div>
          <div class="operate-fun box">
            <p> <el-button @click="showImportDialog">导入数据</el-button><el-button @click="showContrativeDialog">对比分析</el-button></p>
            <p> <el-button @click="showDiagnosisDialog">诊断建议</el-button><el-button @click="showExportPrintDialog">导出打印</el-button></p>
          </div>
        </div>
        <div class="title">
          <span class="btn" @click="toggleItem('hotel')" :class="acIndex === 'hotel'?'activeBtn':''">酒店</span>
          <span class="btn" @click="toggleItem('scenic')" :class="acIndex === 'scenic'?'activeBtn':''">景区</span>
          <span class="btn" @click="toggleItem('catering')" :class="acIndex === 'catering'?'activeBtn':''">餐饮</span>
          <div class="select" v-if="false">
            <el-select v-model="starFromTime" placeholder="请选择" class="selectFromTime">
              <el-option value="按月">按月</el-option>
              <el-option value="按年">按年</el-option>
            </el-select>
            <el-date-picker
              v-model="starDay"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
          </div>
          <div class="addres">
            区域： 浙江省·绍兴市·柯桥区
          </div>
        </div>
        <div class="foodConsumeTop10">
          <div class="echartsBox">
            <div class="sml-echart-box">
              <div v-show="activeType === 'line'" id="echartConsomeLine"></div>
              <div v-show="activeType === 'pie'" id="echartConsomePie"></div>
            </div>
          </div>
        </div>
        <div class="botmBtn">
          <span @click="toggleLinePie('line')" :class="activeType === 'line'?'activein': ''">折线图</span>
          <span @click="toggleLinePie('pie')" :class="activeType === 'pie'?'activein': ''">饼&nbsp;&nbsp;图</span>
        </div>
      </div>
      <div class="rightBox">
        <div class="line"></div>
        <div class="age-ratio box">
          <div class="title">
            <p class="text">消费分布</p>
            <p class="text">Consumeption distribution</p>
          </div>
          <div class="pieEcharts">
            <div class="img s-down"></div>
            <div class="img s-left"></div>
            <div class="img s-up"></div>
            <div class="img s-left-up"></div>
            <div class="img s-r-up"></div>
            <div class="img s-right"></div>
            <div class="img s-r-line"></div>
            <div class="select">
              <el-select v-model="adminFromTime" placeholder="请选择">
                <el-option value="按月">按月</el-option>
                <!--<el-option value="按年">按年</el-option>-->
              </el-select>
              <el-select v-model= 'chooseVegeMonth' placeholder='请选择月份' @change="selectVegeMonthData">
                <el-option value='1' label="2018-01">2018-01</el-option>
                <el-option value='2' label="2018-02">2018-02</el-option>
                <el-option value='3' label="2018-03">2018-03</el-option>
                <el-option value='4' label="2018-04">2018-04</el-option>
                <el-option value='5' label="2018-05">2018-05</el-option>
                <el-option value='6' label="2018-06">2018-06</el-option>
              </el-select>
            </div>
            <div id="echatsScenicPie">
            </div>
          </div>
        </div>
      </div>
    </div>
    <ConsumeDialog
      v-if="visible"
      :visible="visible"
      @getMore="getMore"
      @closeDialog="closeDialog">
    </ConsumeDialog>
    <ContrastiveAnalysisDialog
      v-if="contrastiveVisible"
      :visible="contrastiveVisible"
      @closeContrastiveDialog="closeContrastiveDialog">
    </ContrastiveAnalysisDialog>
    <DiagnosisSuggestion
      v-if="diagnosisVisible"
      :visible="diagnosisVisible"
      @closeDiagnosisDialog="closeDiagnosisDialog">
    </DiagnosisSuggestion>
    <ExportToPrintDialog
      v-if="exportPrintVisible"
      :visible="exportPrintVisible"
      @closeExportPrintDialog="closeExportPrintDialog">
    </ExportToPrintDialog>
    <ImportDialog
      v-if="importVisible"
      :visible="importVisible"
      @closeImportDialog="closeImportDialog"
      @closeImportDialogSuccess="closeImportDialogSuccess">
    </ImportDialog>
  </div>
</template>

<script>
import ConsumeDialog from '@/components/consume/ConsumeDialog'
import ContrastiveAnalysisDialog from '@/components/analysisDialog/ContrastiveAnalysisDialog'
import DiagnosisSuggestion from '@/components/analysisDialog/DiagnosisSuggestion'
import ExportToPrintDialog from '@/components/analysisDialog/ExportToPrint'
import ImportDialog from '@/components/analysisDialog/ImportData'
import HighCharts from 'highcharts'
import api from '@/api'
export default {
  name: 'all-consume',
  data () {
    return {
      visible: false,
      contrastiveVisible: false,
      diagnosisVisible: false,
      exportPrintVisible: false,
      importVisible: false,
      starFromTime: '按月',
      starDay: new Date().getTime(),
      adminFromTime: '按月',
      adminDay: new Date().getTime(),
      passengerFromTime: '按月',
      passengerDay: new Date().getTime(),
      activeType: 'line',
      oldData: [],
      newData: [],
      hotelData: {
        oldData: [],
        newData: []
      },
      scenicData: {
        oldData: [],
        newData: []
      },
      foodData: {
        oldData: [],
        newData: []
      },
      acIndex: 'hotel',
      allconsumeNum: 6643564,
      allComperWith: '10',
      consumePerson: 8324,
      personRatio: '26',
      consumePre: 893,
      preRatio: '26',
      AdminData: [],
      adminBarData: [],
      chooseVegeMonth: '1',
      highData: [
        ['2018', 8],
        ['2017', 3]
      ]
    }
  },
  created () {
    this.getConsume()
    this.getConsumeAnalysis(this.acIndex)
  },
  methods: {
    closeImportDialogSuccess () {
      this.importVisible = false
    },
    getConsume () {
      api.consume.getAllConsume().then(res => {
        console.log(res, '消费总额')
        this.allconsumeNum = res[0].count
        this.allComperWith = String(res[0].growth)
        this.consumePerson = res[1].count
        this.personRatio = String(res[1].growth)
        this.consumePre = res[2].count
        this.preRatio = String(res[2].growth)
      })
    },
    showConsumeDialog () {
      this.visible = true
    },
    showImportDialog () {
      this.importVisible = true
    },
    showContrativeDialog () {
      this.contrastiveVisible = true
    },
    showDiagnosisDialog () {
      this.diagnosisVisible = true
    },
    showExportPrintDialog () {
      this.exportPrintVisible = true
    },
    closeDialog () {
      this.visible = false
    },
    closeContrastiveDialog () {
      this.contrastiveVisible = false
    },
    closeDiagnosisDialog () {
      this.diagnosisVisible = false
    },
    closeExportPrintDialog () {
      this.exportPrintVisible = false
    },
    closeImportDialog () {
      this.importVisible = false
    },
    getMore () {
      this.closeDialog()
      this.$router.push('/analyze/vister/basicInfo')
    },
    async selectVegeMonthData () {
      await this.getConsumeDistri(this.chooseVegeMonth)
      await this.getEchartAdmin()
    },
    async getConsumeAnalysis (type) {
      await api.consume.getconsumeAnalysis(type).then(res => {
        console.log(res, '这个是酒店')
        this.hotelData = {
          oldData: [],
          newData: []
        }
        this.scenicData = {
          oldData: [],
          newData: []
        }
        this.foodData = {
          oldData: [],
          newData: []
        }
        let oldConsume = 0
        let newConsume = 0
        res.forEach((item, index) => {
          if (type === 'hotel') {
            if (index < 6) {
              this.hotelData.newData.push(item.income)
              newConsume += item.income
            } else {
              this.hotelData.oldData.push(item.income)
              oldConsume += item.income
            }
            this.oldData = this.hotelData.oldData
            this.newData = this.hotelData.newData
          } else if (type === 'scenic') {
            if (index < 6) {
              this.scenicData.newData.push(item.income)
              newConsume += item.income
            } else {
              this.scenicData.oldData.push(item.income)
              oldConsume += item.income
            }
            this.oldData = this.scenicData.oldData
            this.newData = this.scenicData.newData
          } else {
            if (index < 6) {
              this.foodData.newData.push(item.income)
              newConsume += item.income
            } else {
              this.foodData.oldData.push(item.income)
              oldConsume += item.income
            }
            this.oldData = this.foodData.oldData
            this.newData = this.foodData.newData
          }
        })
        this.highData = [
          ['2018', newConsume],
          ['2017', oldConsume]
        ]
      }).catch(err => {
        console.log(err, 'opopopopop')
      })
    },
    async getConsumeDistri (month) {
      await api.consume.getConsumeDistri(month).then(res => {
        this.AdminData = []
        this.adminBarData = []
        console.log(res, '消费分布')
        res.forEach(item => {
          let obj = {
            value: item.percent,
            name: item.target
          }
          this.adminBarData.push(obj)
          this.AdminData.push(item.target)
        })
      })
    },
    toggleLinePie (type) {
      this.activeType = type
    },
    async toggleItem (type) {
      this.acIndex = type
      await this.getConsumeAnalysis(type)
      await this.getLineEchart()
      await HighCharts.chart('echartConsomePie', this.getYearHeighchart())
    },
    getEchartAdmin () {
      let option = {
        legend: {
          orient: 'vertical',
          x: 50,
          y: 'center',
          show: true,
          data: this.AdminData,
          textStyle: {
            color: '#fff'
          }
        },
        color: ['rgb(255,148,153)', 'rgb(111,215,84)', 'rgb(182,136,217)', 'rgb(62,176,247)'],
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['18%', '50%'],
            avoidLabelOverlap: false,
            center: ['50%', '55%'],
            label: {
              normal: {
                show: true,
                position: 'outside',
                formatter: '{b}:{c}%',
                textStyle: {
                  fontSize: '14'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                length: 40,
                length2: 20,
                show: true,
                lineStyle: {
                  color: new this.$echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    offset: 0,
                    color: '#876AEF'
                  }, {
                    offset: 1,
                    color: '#fff'
                  }
                  ]),
                  width: 3,
                  shadowColor: 'rgba(0, 0, 0, 5)',
                  shadowBlur: 10,
                  shadowOffsetX: -8,
                  shadowOffsetY: 10
                }
              }

            },
            data: this.adminBarData
          }
        ]
      }
      var dom = document.getElementById('echatsScenicPie')
      var myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
    },
    getLineEchart () {
      let that = this
      let option = {
        tooltip: {
          trigger: 'axis',
          textStyle: {
            fontSize: 15,
            color: '#fff'
          }
        },
        legend: {
          orient: 'horizontal',
          right: '4%',
          top: 30,
          itemGap: 20,
          // itemWidth:16,
          // itemHeight:12,
          data: ['2017', '2018'],
          textStyle: {
            color: '#fff'
          }
        },
        toolbox: {
          show: true,
          orient: 'vertical',
          right: 'right',
          top: '20%',
          itemGap: 20,
          feature: {
            magicType: {
              show: false,
              type: ['line', 'bar']
            },
            restore: {
              show: false
            },
            saveAsImage: {
              show: true
            }
          },
          iconStyle: {
            normal: {
              color: '#0390e9'
            }
          }
        },
        grid: {
          show: true,
          left: 60,
          top: 34,
          right: 44,
          bottom: 42,
          borderWidth: 0
        },
        xAxis: [{
          type: 'category',
          boundaryGap: false,
          data: ['1月', '2月', '3月', '4月', '5月', '6月'],
          splitLine: { // 坐标轴在 grid 区域中的分隔线；
            show: false,
            lineStyle: { // 分割线颜色，可设单个，也可以设置数组。
              color: 'rgba(170,172,178,0.33)'
            }
          },
          axisLine: { // 坐标轴轴线相关设置。就是数学上的x轴
            show: false,
            lineStyle: {
              color: 'rgba(170,172,178,0.53)'
            }
          },
          axisLabel: {
            textStyle: {
              color: 'rgba(255,255,255,0.83)',
              fontSize: 15
            }
          }
        }],
        yAxis: [{
          type: 'value',
          min: 0,
          //   max: 4000,
          splitLine: {
            show: false,
            lineStyle: {
              color: 'rgba(170,172,178,0.33)'
            }
          },
          axisLine: { // 坐标轴轴线相关设置。就是数学上的y轴
            show: false,
            lineStyle: {
              color: 'rgba(170,172,178,0.53)'
            }
          },
          axisLabel: {
            textStyle: {
              color: 'rgba(255,255,255,0.83)',
              fontSize: 12
            }
          },
          splitArea: {
            show: false,
            areaStyle: {
              color: ['#112245', 'rgba(34,50,82,0.4)']
            }
          }
        }],
        series: [{
          name: '2017',
          type: 'line',
          smooth: true, // 是否平滑曲线显示
          lineStyle: { // 线条样式
            normal: {
              width: 1
            }
          },
          areaStyle: { // 区域填充样式
            normal: {
              // 线性渐变，前4个参数分别是x0,y0,x2,y2(范围0~1);相当于图形包围盒中的百分比。如果最后一个参数是‘true’，则该四个值是绝对像素位置。
              color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                offset: 0,
                color: 'rgba(0, 255, 255, 0.9)'
              }, {
                offset: 0.7,
                color: 'rgba(0, 255, 255, 0.6)'
              }], false),

              shadowColor: 'rgba(0, 0, 0, 0.9)', // 阴影颜色
              shadowBlur: 10 // shadowBlur设图形阴影的模糊大小。配合shadowColor,shadowOffsetX/Y, 设置图形的阴影效果。
            }
          },
          itemStyle: { // 折现拐点标志的样式
            normal: {
              color: 'rgb(0,255,255)'
            }
          },
          data: (function () {
            var d = []
            for (var i = 0; i < that.oldData.length; ++i) {
              d.push(that.oldData[i] || 0)
            }
            return d
          })(),
          markPoint: {
            data: [{
              type: 'max'
            }],
            symbolSize: 50,
            itemStyle: {
              normal: {
                borderColor: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: 'rgba(151, 210, 190, 0.5)'
                }, {
                  offset: 0.8,
                  color: 'rgba(73, 174, 169, 0.8)'
                }], false),
                borderWidth: 12,
                color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: '#97F6B4'
                }, {
                  offset: 0.8,
                  color: '#96ceaa'
                }], false),
                label: {
                  show: true,
                  fontSize: 14,
                  color: '#fff'
                },
                shadowColor: 'rgba(143, 215, 192, 1)',
                shadowBlur: 40,
                shadowOffsetX: 0
              }
            }
          }
        }, {
          name: '2018',
          type: 'line',
          smooth: true,
          lineStyle: {
            normal: {
              width: 1
            }
          },
          areaStyle: {
            normal: {
              color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                offset: 0,
                color: 'rgba(240, 231, 80, 0.9)'
              }, {
                offset: 0.8,
                color: 'rgba(240, 231, 80, 0.4)'
              }], false),
              shadowColor: 'rgba(0, 0, 0, 0.9)',
              shadowBlur: 10
            }
          },
          itemStyle: {
            normal: {
              color: 'rgb(240,231,80)'

            }
          },
          data: (function () {
            var d = []
            for (var i = 0; i < that.newData.length; ++i) {
              d.push(that.newData[i] || 0)
            }
            return d
          })(),
          markPoint: {
            data: [{
              type: 'max'
            }],
            symbolSize: 50,
            itemStyle: {
              normal: {
                borderColor: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: 'rgba(151, 210, 190, 0.5)'
                }, {
                  offset: 0.8,
                  color: 'rgba(73, 174, 169, 0.8)'
                }], false),
                borderWidth: 12,
                color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: '#97F6B4'
                }, {
                  offset: 0.8,
                  color: '#96ceaa'
                }], false),
                label: {
                  show: true,
                  fontSize: 14,
                  color: '#fff'
                },
                shadowColor: 'rgba(143, 215, 192, 1)',
                shadowBlur: 40,
                shadowOffsetX: 0
              }
            }
          }
        }

        ] // series结束
      } // option结束
      var dom = document.getElementById('echartConsomeLine')
      var myChart = this.$echarts.init(dom)
      myChart.resize()
      myChart.setOption(option, true)
    },
    getYearHeighchart () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 5,
            depth: 10,
            viewDistance: 45
          }
        },
        title: {
          text: ''
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: 10,
          y: 230,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          }
        },
        plotOptions: {
          pie: {
            innerSize: 120,
            depth: 45,
            showInLegend: true,
            dataLabels: {
              enabled: false,
              format: '{point.name}'
            }
          }
        },
        series: [{
          name: '柯桥全域游消费分析',
          data: this.highData
        }]
      }
    }
  },
  filters: {
    moneyFilter (item) {
      item = String(item)
    }
  },
  components: {
    ConsumeDialog,
    ContrastiveAnalysisDialog,
    DiagnosisSuggestion,
    ExportToPrintDialog,
    ImportDialog
  },
  async mounted () {
    await this.getConsumeDistri(this.chooseVegeMonth)
    await this.getConsumeAnalysis(this.acIndex)
    await this.getEchartAdmin()
    await this.getLineEchart()
    HighCharts.setOptions({
      colors: ['#106DFD', '#FF8B8B']
    })
    await HighCharts.chart('echartConsomePie', this.getYearHeighchart())
  }
}
</script>

<style lang="scss">
  .all-consume{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 200px;
      .el-input__inner{
        /*padding-right: 10px;*/
        width: 200px;
      }
    }
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: transparent;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: transparent;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
    .el-table td, .el-table th{
      padding: 15px 0;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .all-consume{
    width: 100%;
    height: calc(100% - 160px);
    padding-top: 165px;
    .basic-content{
      width: 100%;
      height: 100%;
      position: relative;
      .sex-ratio{
        position: absolute;
        top: 53%;
        width: 55%;
        height:95%;
        left: 0;
        transform: translateY(-50%);
        padding: 40px;
        padding-top: 0;
        box-sizing: border-box;
        .total-consumption-amount{
          width: 100%;
          height: 120px;
          padding: 15px;
          box-sizing: border-box;
          .box{
            float: left;
            .text{
              font-size: 12px;
              color: #02bed8;
              line-height: 25px;
            }
            .numbe{
              font-size: 26px;
              color: #00e4ff;
              font-weight: 700;
              line-height: 40px;
            }
            .compare{
              font-size: 14px;
              margin-left: 15px;
              span:nth-of-type(2){
                color: #00e4ff;
              }
              .add{
                color: #ff441b;
                position: relative;
                &:before{
                  position: absolute;
                  left: -15px;
                  top: 3px;
                  border: 5px solid transparent;
                  content: '';
                  border-bottom-color: #ff441b;
                }
              }
              .reduce{
                color: #65d450;
                position: relative;
                &:before{
                  position: absolute;
                  left: -15px;
                  top: 5px;
                  border: 5px solid transparent;
                  content: '';
                  border-top-color: #65d450;
                }
              }
            }
          }
          .line{
            position: relative;
            width: 0.5px;
            height: 100%;
            background: #00e4ff;
            margin: 0 45px;
          }
          .all-amount-num{
            .image{
              float: left;
              line-height: 80px;
              margin: 0 20px;
              img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: inline-block;vertical-align: middle;
                background: red;
              }
            }
            .amount-content{
              float: left;
            }
          }
          .all-person-num{
            margin-right: 45px;
          }
          .operate-fun{
            float: right;
            p:nth-of-type(1){
              margin-bottom: 10px;
            }
          }
        }
        .title{
          width: 100%;
          height: 60px;
          line-height: 60px;
          color: #038ba0;
          margin-bottom: 20px;
          .select{
            float: right;
          }
          .addres{
            float: right;
            margin-right: 50px;
            color: #038ba0;
          }
          .btn{
            float: left;
            padding: 0px 25px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #038ba0;
            color: #038ba0;
            margin-top: 20px;
            font-size: 14px;
            cursor: pointer;
            &:nth-of-type(2){
              border-left: none;
              border-right: none;
            }
          }
          .active{
            background: #00e4ff;
            color: #023950;
          }
        }
        .foodConsumeTop10{
          width: 100%;
          height: calc(100% - 250px);
          position: relative;
          background: url("./../../../static/image/echat.png") no-repeat;
          background-size: 100%;
          .echartsBox{
            width: 100%;
            height: 100%;
            padding: 20px 30px;
            box-sizing: border-box;
            .sml-echart-box{
              width: 100%;
              height: 95%;
              #echartConsomePie,
              #echartConsomeLine{
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .botmBtn{
          height: 50px;
          float: right;
          margin-top: 15px;
          color: #4C8C76;
          span{
            display: inline-block;
            margin-right: 5px;
            padding: 8px 25px;
            padding-top: 3px;
            box-sizing: border-box;
            color:#26bbf0;
            font-weight: 600;
            font-size: 14px;
            background: url("./../../../static/image/btnnol.png") no-repeat;
            background-size: 100%;
            cursor: pointer;
          }
          .activein{
            background: url("./../../../static/image/actibtn.png") no-repeat;
            background-size: 100%;
            color: #054173;
          }
        }
      }
      .rightBox{
        width: 43%;
        height: calc(100% + 175px);
        position: absolute;
        right: 0;
        top: -170px;
        padding: 40px;
        padding-top: 15px;
        box-sizing: border-box;
        border-left: 0.5px solid #023950;
        .line{
          background: url("./../../../static/image/s-left-up.png") no-repeat;
          background-size: 100%;
          width: 8px;
          height: 120px;
          position: absolute;
          left: 0;
          top: 0;
        }
        .age-ratio{
          /*position: absolute;*/
          border-radius: 5px;
          width: 100%;
          height: 100%;
        }
        /*.Passenger-analysis{*/
        /*border-radius: 5px;*/
        /*width: 100%;*/
        /*height: 50%;*/
        /*}*/
        .box{
          .title{
            width: 100%;
            height: 60px;
            margin-bottom: 30px;
            p:nth-of-type(1) {
              color: #fff;
              font-size: 26px;
              font-weight: 600;
            }
            p:nth-of-type(2){
              color: #00e3ff;
              font-size: 14px;
            }
          }
          .pieEcharts{
            width: 100%;
            height: calc(100% - 80px);
            position: relative;
            .img{
              position: absolute;
            }
            .s-down{
              width: 100%;
              height: 15px;
              bottom: 0;
              left: 0;
              background: url("./../../../static/image/s-down.png") repeat;
              /*background-size: 100%;*/
            }
            .s-left{
              width: 10px;
              height: 100%;
              left: 0;
              background: url("./../../../static/image/s-left.png") repeat;
            }
            .s-up{
              width: calc(100% - 74px);
              height: 10px;
              top: 0;
              background: url("./../../../static/image/s-up.png") repeat;
            }
            .s-left-up{
              width: 100px;
              height: 85px;
              left: 0;
              top: 0;
              background: url("./../../../static/image/s-left-up.png") no-repeat;
            }
            .s-r-up{
              width: 74px;
              height: 82px;
              top: 0;
              right: 0;
              background: url("./../../../static/image/s-r-up.png") no-repeat;
            }
            .s-right{
              width: 14px;
              height: calc(100% - 82px);
              bottom: 0;
              right: 0;
              background: url("./../../../static/image/s-right.png") repeat;
            }
            .s-r-ub{
              left: 0;
              top: 0;
              width: 100px;
              height: 100px;
              background: url("./../../../static/image/s-r-ub.png") no-repeat;
            }
            .s-l-up{
              width: 6px;
              height: 75px;
              top: 0;
              right: 0;
              background: url("./../../../static/image/s-l-up.png") no-repeat;
            }
            .s-r-line{
              width: 65px;
              height: 6px;
              bottom: 0;
              right: 0;
              background: url("./../../../static/image/s-r-line.png") no-repeat;
              background-size: contain;
            }
            .s-l-line{
              width: 65px;
              height: 6px;
              bottom: 0;
              left: 0;
              background: url("./../../../static/image/s-l-down.png") no-repeat;
              background-size: contain;
            }
            .select{
              position: absolute;
              top: 30px;
              right: 110px;
              z-index: 19;
            }
            #echatsScenicPie{
              width: 100%;
              height: 100%;
            }
          }

        }
      }
    }
    .add{
      color: #38ff1f;
    }
    .reduce{
      color: #e82e00;
    }
    .star{
      width: 27px;
      height: 27px;
    }
    .activeBtn{
      background: #00e4ff;
    }
  }

</style>
