<template>
    <div class="consume-dialog">
      <el-dialog
        :title="title"
        :close-on-click-modal = false
        :visible="visible"
        :before-close="closeDialog"
        width="60%"
        class="dialog echatDialog"
        center>
        <div class="card" ref="fullHeights">
          <div class="toggle-title">
            <span class="toggleBtn" @click="toggleData('echats')">
              游客消费画像
            </span>
            <span class="toggleBtn" @click="toggleData('from')">
              消费数据
            </span>
            <span class="look-more" v-if="!isShowSelect" @click="getMore">查看更多</span>
          </div>
          <div class="echats" v-show="!isShowSelect">
            <div class="sex-ratio box">
              <div class="title">
                <p>男女比例</p>
                <p>Proportion of men and women</p>
              </div>
              <div class="echartBox">
                <div id="echatsSexRatio">
                  男女比例饼图
                </div>
                <div class="img s-down"></div>
                <div class="img s-left"></div>
                <div class="img s-up"></div>
                <div class="img s-r-up"></div>
                <div class="img s-right"></div>
              </div>
            </div>
            <div class="age-ratio box">
              <div class="title">
                <p>年龄占比</p>
                <p>Age ratio</p>
              </div>
              <div class="echartBox">
                <div id="echatsAgeRatio">
                </div>
                <div class="img s-down"></div>
                <div class="img s-left"></div>
                <div class="img s-up"></div>
                <div class="img s-r-up"></div>
                <div class="img s-right"></div>
              </div>
            </div>
            <div class="passengAddress">
              <div class="address-type">
                <span @click="toggelEchart('province')" :class="activeType === 'province'?'active':''">全省</span>
                <span @click="toggelEchart('inland')" :class="activeType === 'inland'?'active':''">全国</span>
                <span @click="toggelEchart('overseas')" :class="activeType === 'overseas'?'active':''">境外</span>
              </div>
              <div class="content">
                <div class="title">
                  <span>客源地分布</span>
                </div>
                <div id="echatsPassengAds"></div>
              </div>
            </div>
          </div>
          <div class="fromData"  v-if="isShowSelect">
            <div class="title">
              <p>商圈旅游点消费排名</p>
              <p>Business clrcle tourlsm consumption</p>
            </div>
            <div class="fromContent">
              <ConsumFrom></ConsumFrom>
            </div>
          </div>
        </div>
        <div slot="footer" class="dialog-footer cardFooter">
          <div class="closeBox">
            <span @click="closeDialog" class="closeBtn">确定</span>
          </div>
        </div>
      </el-dialog>
    </div>
</template>

<script>
import ConsumFrom from '@/components/consume/ConsumFrom'
import api from '@/api'
export default {
  props: ['visible'],
  name: 'consume-dialog',
  data () {
    return {
      title: '2018年柯桥全域游客消费画像',
      fullHeight: document.documentElement.clientHeight,
      sexData: [],
      ageData: [],
      ageDataDetail: [],
      selectData: [
        {value: '全部', label: '全部'},
        {value: '景区', label: '景区'},
        {value: '酒店', label: '酒店'},
        {value: '民宿', label: '民宿'},
        {value: '旅行社', label: '旅行社'}
      ],
      checkData: '全部',
      isShowSelect: false,
      activeType: 'province',
      PassengerNum: [],
      consumeNum: [],
      choseData: []
    }
  },
  created () {
    this.getPassengerConsume('inland')
  },
  methods: {
    async getSexData () {
      await api.visterAnalysis.getMaleFemaleRatio('1').then(res => {
        console.log(res, 'opoppopopop')
        this.sexData = []
        res.forEach(item => {
          let obj = {
            value: item.percent,
            name: item.target
          }
          this.sexData.push(obj)
        })
      })
    },
    async getAgeData () {
      await api.visterAnalysis.getAgeRadio('1').then(res => {
        console.log(res, 'opopopopop')
        res.forEach(item => {
          let obj = {
            name: item.target,
            value: item.percent
          }
          this.ageDataDetail.push(obj)
          this.ageData.push(item.target)
        })
      })
    },
    async getPassengerConsume (type) {
      await api.consume.getAddressPasengerAna(type).then(res => {
        console.log(res, '客源分布')
        this.PassengerNum = []
        this.consumeNum = []
        this.choseData = []
        res.forEach(item => {
          this.PassengerNum.push(item.count)
          this.choseData.push(item.region)
          this.consumeNum.push(item.amount)
        })
      }).catch(err => {
        console.log(err, 'opopopopo')
      })
    },
    getMore () {
      this.$emit('getMore')
    },
    closeDialog () {
      this.$emit('closeDialog')
    },
    toggleData (type) {
      if (type === 'echats') {
        this.isShowSelect = false
      } else {
        this.isShowSelect = true
      }
    },
    getEchartPasseng () {
      let option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {// 坐标轴指示器，坐标轴触发有效
            type: 'shadow'// 默认为直线，可选为：'line' | 'shadow'
          }
        },
        legend: {
          data: ['消费人数', '消费金额'],
          top: 30,
          left: '20%',
          textStyle: {
            color: '#fff',
            fontSize: 14
          }
        },
        grid: {
          left: '5%',
          right: '20%',
          bottom: '5%',
          containLabel: true
        },
        xAxis: {
          type: 'value',
          position: 'top',
          show: false,
          splitLine: {false: false},
          boundaryGap: [0, 0.01]
        },
        yAxis: {
          type: 'category',
          splitLine: {false: false},
          axisLine: {
            show: false
          },
          axisLabel: {
            color: '#fff',
            fontSize: 14
          },
          axisTick: {
            show: false
          },
          splitArea: {
            show: true,
            areaStyle: {
              color: ['rgba(250,250,250,0.0)', 'rgba(250,250,250,0.05)']
            }
          },
          data: this.choseData
        },
        series: [
          {
            name: '消费人数',
            barWidth: '30%',
            label: {
              normal: {
                show: true,
                position: 'right',
                textStyle: {
                  color: '#2B6ECF',
                  fontSize: 16
                }
              }
            },
            itemStyle: {
              normal: {
                color: '#2B6ECF',
                shadowBlur: 10,
                shadowColor: 'rgba(43, 110, 207, 0.8)',
                shadowOffsetY: 3,
                shadowOffsetX: 30
              }
            },
            type: 'bar',
            data: this.PassengerNum
          },
          {
            name: '消费金额',
            barWidth: '30%',
            label: {
              normal: {
                show: true,
                position: 'right',
                textStyle: {
                  color: '#ff195f',
                  fontSize: 14
                }
              }
            },
            itemStyle: {
              normal: {
                color: '#ff195f',
                shadowBlur: 10,
                shadowColor: 'rgba(255, 25, 95, 0.8)',
                shadowOffsetY: 3,
                shadowOffsetX: 30
              }
            },
            type: 'bar',
            data: this.consumeNum
          }
        ]
      }
      var dom = document.getElementById('echatsPassengAds')
      var myChart = this.$echarts.init(dom)
      myChart.resize()
      myChart.setOption(option, true)
    },
    getEchartSex () {
      let option = {
        legend: {
          orient: 'vertical',
          x: 50,
          y: 'center',
          show: true,
          data: ['男', '女'],
          textStyle: {
            color: '#02b1c7'
          }
        },
        color: ['rgb(255,148,153)', 'rgb(111,215,84)', 'rgb(182,136,217)', 'rgb(62,176,247)'],
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['30%', '70%'],
            avoidLabelOverlap: false,
            center: ['50%', '55%'],
            label: {
              normal: {
                show: true,
                position: 'outside',
                formatter: '{b}:{c}%',
                textStyle: {
                  fontSize: '14'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '16',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                length: 40,
                length2: 20,
                show: true,
                lineStyle: {
                  color: new this.$echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    offset: 0,
                    color: '#876AEF'
                  }, {
                    offset: 1,
                    color: '#fff'
                  }
                  ]),
                  width: 3,
                  shadowColor: 'rgba(0, 0, 0, 5)',
                  shadowBlur: 10,
                  shadowOffsetX: -8,
                  shadowOffsetY: 10
                }
              }

            },
            data: this.sexData
          }
        ]
      }
      var dom = document.getElementById('echatsSexRatio')
      var myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
    },
    getEchartAge () {
      let option = {
        legend: {
          orient: 'vertical',
          x: 50,
          y: 'center',
          show: true,
          data: this.ageData,
          textStyle: {
            color: '#fff'
          }
        },
        color: ['rgb(255,148,153)', 'rgb(111,215,84)', 'rgb(182,136,217)', 'rgb(62,176,247)', 'rgb(149, 255, 212)', 'rgb(164, 179, 255)'],
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['30%', '70%'],
            avoidLabelOverlap: false,
            center: ['50%', '55%'],
            label: {
              normal: {
                show: true,
                position: 'outside',
                formatter: '{b}:{c}%',
                textStyle: {
                  fontSize: '14'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '16',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                length: 40,
                length2: 20,
                show: true,
                lineStyle: {
                  color: new this.$echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    offset: 0,
                    color: '#876AEF'
                  }, {
                    offset: 1,
                    color: '#fff'
                  }
                  ]),
                  width: 3,
                  shadowColor: 'rgba(0, 0, 0, 5)',
                  shadowBlur: 10,
                  shadowOffsetX: -8,
                  shadowOffsetY: 10
                }
              }

            },
            data: this.ageDataDetail
          }
        ]
      }
      var dom = document.getElementById('echatsAgeRatio')
      var myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
    },
    async toggelEchart (type) {
      this.activeType = type
      await this.getPassengerConsume(type)
      await this.getEchartPasseng()
    }
  },
  async mounted () {
    await this.getSexData()
    await this.getAgeData()
    await this.getPassengerConsume(this.activeType)
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullHeight = document.documentElement.clientHeight
        that.fullHeight = window.fullHeight
      })()
    }
    setTimeout(function () {
      console.log(that.$refs.fullHeights, 'ppppppp')
      that.$refs.fullHeights.style.height = that.fullHeight * 0.7 + 'px'
      that.getEchartPasseng()
      that.getEchartSex()
      that.getEchartAge()
    }, 10)
  },
  components: {
    ConsumFrom
  }
}
</script>

<style lang="scss">
  .consume-dialog{
    .el-dialog{
      background: url("./../../../static/image/dialog.png") no-repeat;
      background-size: 100%;
      background-position: center;
      position: relative;
      .el-dialog__title{
        color: #00e4ff;
        font-size: 20px;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .el-dialog__headerbtn{
        font-size: 24px;
        top: 1px;
        right: 0;
        .el-dialog__close{
          color: #00e4ff;
        }
      }
      .el-dialog__footer{
        position: absolute;
        left: 52%;
        bottom: 0px;
        transform: translateX(-50%);
      }
    }
    .el-dialog__body{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .el-input__inner{
      height: 30px;
    }
    .el-dialog--center .el-dialog__body{
      padding-top: 10px;
    }
    .el-dialog__header{
      padding-top: 10px;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .consume-dialog{
    width: 100%;
    height: 80%;
    .echatDialog{
      width: 100%;
      height: 100%;
      .card{
        width: 100%;
        .toggle-title{
          width: 100%;
          height: 30px;
          padding-left: 20px;
          box-sizing: border-box;
          .toggleBtn{
            display: inline-block;
            padding: 8px 30px;
            border: 1px solid #00e3ff;
            font-size: 14px;
            color: #0192aa;
            margin-left: 20px;
            position: relative;
            &::after{
              display: inline-block;
              content: '';
              width: 8px;
              height: 8px;
              background: url("./../../../static/image/btnLeft.png") no-repeat;
              background-size: 100%;
              background-position: center;
              position: absolute;
              left: -4px;
              top: -4px;
            }
            &::before{
              display: inline-block;
              content: '';
              width: 8px;
              height: 8px;
              background: url("./../../../static/image/btnRight.png") no-repeat;
              background-size: 100%;
              background-position: center;
              position: absolute;
              right: -4px;
              bottom: -4px;
            }
          }
          .active-router{
            background: #00e3ff;
            border: none;
            color: #222;
          }
          .look-more{
            float: right;
            margin-right: 50px;
            border: none;
            color: #26bbf0;
            cursor: pointer;
            position: relative;
            z-index: 9;
          }
        }
        .echats{
          width: 100%;
          height: calc(100% - 30px);
          margin-top: 20px;
          padding: 10px 20px;
          box-sizing: border-box;
          position: relative;
          .sex-ratio{
            width: 43%;
            height: 45%;
            position: absolute;
            left: 0;
            top: 0;
          }
          .age-ratio{
            width: 43%;
            height: 45%;
            position: absolute;
            left: 0;
            top: 48%;
          }
          .passengAddress{
            width: 55%;
            height: 90%;
            position: absolute;
            right: 0;
            top: -60px;
            .address-type{
              width: 100%;
              height: 60px;
              padding-top: 10px;
              box-sizing: border-box;
              span{
                float: left;
                padding: 5px 20px;
                border: 1px solid #00e3fe;
                color: #00e3fe;
                &:nth-of-type(2){
                  border-right: none;
                  border-left: none;
                }
              }
              .active{
                background: #00e3fe;
                color: #013c4f;
              }
            }
            .content{
              width: 100%;
              height: calc(100% - 70px);
              border: 0.5px solid #393573;
              margin-top: 20px;
              padding: 5px;
              box-sizing: border-box;
              .title{
                width: 100%;
                height: 50px;
                text-align: center;
                line-height: 50px;
                color: #00e3fe;
                border-bottom: 0.5px solid #393573;
                span{
                  letter-spacing: 2px;
                  font-size: 16px;
                }
              }
              #echatsPassengAds{
                width: 100%;
                height: calc(100% - 50px);
              }
            }
          }
          .box{
            .title{
              width: 100%;
              height: 60px;
              p:nth-of-type(1){
                font-size: 20px;
                color: #fff;
                font-weight: 600;
              }
              p:nth-of-type(2){
                font-size: 14px;
                color: #00e4ff;
              }
            }
            .echartBox{
              width: 100%;
              height: calc(100% - 60px);
              position: relative;
              .img{
                position: absolute;
              }
              .s-down{
                width: 100%;
                height: 15px;
                bottom: 0;
                left: 0;
                background: red;
                background: url("./../../../static/image/s-down.png") repeat;
                /*background-size: 100%;*/
              }
              .s-left{
                width: 10px;
                height: 100%;
                left: 0;
                top: 0;
                background: url("./../../../static/image/s-left.png") repeat;
              }
              .s-up{
                width: calc(100% - 74px);
                height: 10px;
                top: 0;
                background: url("./../../../static/image/s-up.png") repeat;
              }
              .s-r-up{
                width: 74px;
                height: 82px;
                top: 0;
                right: 0;
                background: url("./../../../static/image/s-r-up.png") no-repeat;
              }
              .s-right{
                width: 14px;
                height: calc(100% - 82px);
                bottom: 0;
                right: 0;
                background: url("./../../../static/image/s-right.png") repeat;
              }
              .s-r-ub{
                left: 0;
                top: 0;
                width: 100px;
                height: 100px;
                background: url("./../../../static/image/s-r-ub.png") no-repeat;
              }
              #echatsAgeRatio,
              #echatsSexRatio{
                width: 100%;
                height: 100%;
              }
            }

          }
        }
        .fromData{
          width: 100%;
          height: calc(100% - 30px);
          margin-top: 20px;
          padding: 5px 20px;
          box-sizing: border-box;
          .title{
            width: 100%;
            height: 50px;
            padding: 0 20px;
            line-height: 26px;
            box-sizing: border-box;
            p:nth-of-type(1){
              font-size: 20px;
              color: #fff;
              font-weight: 600;
            }
            p:nth-of-type(2){
              font-size: 14px;
              color: #00e4ff;
            }
          }
          .fromContent{
            width: 100%;
            height: calc(100% - 60px);
            padding: 10px;
            box-sizing: border-box;
          }
        }
      }
    }
    .closeBox{
      height: 50px;
      width: 130px;
      position: relative;
      border: 1px solid #0192aa;
      border-radius: 5px;
      .closeBtn{
        width: 120px;
        height: 40px;
        padding-top: 8px;
        box-sizing: border-box;
        background: #3766EC;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
</style>
