<template>
  <div class="consum-from">
    <div class="selecBtn">
      <el-select v-model="dataFrom" placeholder="请选择" class="selectFromTime" @change="choseData">
        <el-option label='餐饮' value="catering">餐饮</el-option>
        <el-option label='酒店' value="hotel">酒店</el-option>
        <el-option label='民宿' value="homestay">民宿</el-option>
        <el-option label='旅行社' value="travel">旅行社</el-option>
      </el-select>
    </div>
    <div class="content">
      <ScrollContainer>
        <el-table
          stripe
          :data="analysisData"
          style="width: 100%">
          <el-table-column
            prop="ranking"
            label="Top排名">
          </el-table-column>
          <el-table-column
            prop="area"
            label="消费者所属区域">
          </el-table-column>
          <el-table-column
            prop="date"
            label="消费时间">
          </el-table-column>
          <el-table-column
            prop="count"
            label="消费笔数">
          </el-table-column>
          <el-table-column
            prop="amount"
            label="消费金额">
          </el-table-column>
          <el-table-column
            prop="growth"
            label="消费金额占比">
            <template slot-scope="scope">
              <span v-if="scope.row.growth.includes('-')" class="add">{{scope.row.growth}}%</span>
              <span v-if="!scope.row.growth.includes('-')" class="reduce">{{scope.row.growth}}%</span>
            </template>
          </el-table-column>
        </el-table>
      </ScrollContainer>
    </div>
  </div>
</template>

<script>
import ScrollContainer from '@/components/ScrollContainer'
import api from '@/api'
export default {
  name: 'consum-from',
  data () {
    return {
      dataFrom: 'hotel',
      analysisData: []
    }
  },
  components: {
    ScrollContainer
  },
  methods: {
    choseData () {
      console.log(this.dataFrom)
      this.getRankingData(this.dataFrom)
      // if (this.dataFrom === '景区') {
      //   this.analysisData = this.scenic
      // }
      // if (this.dataFrom === '酒店') {
      //   this.analysisData = this.hotel
      // }
      // if (this.dataFrom === '民宿') {
      //   this.analysisData = this.homestay
      // }
      // if (this.dataFrom === '旅行社') {
      //   this.analysisData = this.trivel
      // }
    },
    getRankingData (type) {
      api.consume.getConsumeRanking(type).then(res => {
        console.log(res, 'ssssssssssss')
        this.analysisData = res
      })
    }
  },
  created () {
    this.getRankingData('hotel')
  }
}
</script>

<style lang="scss">
  .consum-from{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 200px;
      .el-input__inner{
        /*padding-right: 10px;*/
        width: 200px;
      }
    }
    .el-table__header-wrapper{
      border:  1px solid #01a6bc;
      box-shadow:0 0 60px -10px #0487bd inset;
    }
    .el-table{
      color: #01a6bc;
      background: transparent;
    }
    .el-table thead{
      color: #01a6bc;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: transparent;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: transparent;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
    .el-table td, .el-table th{
      padding: 10px 0;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .consum-from{
    width: 100%;
    height: 100%;
    .selecBtn{
      width: 100%;
      height: 40px;
      float: right;
      margin-right: 30px;
      .selectFromTime{
        float: right;
        margin-right: 30px;
      }
    }
    .content{
      width: 100%;
      height: calc(100% - 100px);
    }
    .add{
      color: #38ff1f;
    }
    .reduce{
      color: #e82e00;
    }
  }

</style>
