<template>
  <div class="food-consumption">
    <div class="basic-content">
      <div class="sex-ratio">
        <div class="title">
          <span class="text">行业Top10</span>
          <div class="select">
            <el-select v-model="starFromTime" placeholder="请选择" class="selectFromTime">
              <el-option value="按月">按月</el-option>
              <!--<el-option value="按年">按年</el-option>-->
            </el-select>
            <el-select v-model= 'chooseMonth' placeholder='请选择月份' @change="selectMonthData">
              <el-option value='1' label="2018-01">2018-01</el-option>
              <el-option value='2' label="2018-02">2018-02</el-option>
              <el-option value='3' label="2018-03">2018-03</el-option>
              <el-option value='4' label="2018-04">2018-04</el-option>
              <el-option value='5' label="2018-05">2018-05</el-option>
              <el-option value='6' label="2018-06">2018-06</el-option>
            </el-select>
          </div>
          <div class="addres">
            区域： 浙江省·绍兴市·柯桥区
          </div>
        </div>
        <div class="foodConsumeTop10">
          <ScrollContainer>
            <el-table
              stripe
              :data="analysisData"
              style="width: 100%">
              <el-table-column
                prop="companyName"
                label="餐厅名">
              </el-table-column>
              <el-table-column
                prop="average"
                label="人均消费">
              </el-table-column>
              <el-table-column
                prop="totalOrder"
                label="本月累计订单">
              </el-table-column>
              <el-table-column
                label="同比增长">
                <template slot-scope="scope">
                  <span v-if="!scope.row.growth.includes('-')" class="add">{{scope.row.growth}}%</span>
                  <span v-if="scope.row.growth.includes('-')" class="reduce">{{scope.row.growth}}%</span>
                </template>
              </el-table-column>
            </el-table>
          </ScrollContainer>
          <div class="rightDown"></div>
        </div>
      </div>
      <div class="rightBox">
        <div class="line"></div>
        <div class="age-ratio box">
          <div class="title">
            <p class="text">行政区占比</p>
            <p class="text">Administrative area ratio</p>
          </div>
          <div class="pieEcharts">
            <div class="select">
              <el-select v-model="adminFromTime" placeholder="请选择">
                <el-option value="按月">按月</el-option>
                <!--<el-option value="按年">按年</el-option>-->
              </el-select>
              <el-select v-model= 'chooseRatioMonth' placeholder='请选择月份' @change="selectRatioMonthData">
                <el-option value='1' label="2018-01">2018-01</el-option>
                <el-option value='2' label="2018-02">2018-02</el-option>
                <el-option value='3' label="2018-03">2018-03</el-option>
                <el-option value='4' label="2018-04">2018-04</el-option>
                <el-option value='5' label="2018-05">2018-05</el-option>
                <el-option value='6' label="2018-06">2018-06</el-option>
              </el-select>
            </div>
            <div id="echatsAdministrative">
            </div>
          </div>
        </div>
        <div class="Passenger-analysis box">
          <div class="title">
            <p class="text">菜系占比</p>
            <p class="text">Proprotion of vegetable lines</p>
          </div>
          <div class="pieEcharts">
            <div class="select">
              <el-select v-model="passengerFromTime" placeholder="请选择">
                <el-option value="按月">按月</el-option>
                <!--<el-option value="按年">按年</el-option>-->
              </el-select>
              <el-select v-model= 'chooseVegeMonth' placeholder='请选择月份' @change="selectVegeMonthData">
                <el-option value='1' label="2018-01">2018-01</el-option>
                <el-option value='2' label="2018-02">2018-02</el-option>
                <el-option value='3' label="2018-03">2018-03</el-option>
                <el-option value='4' label="2018-04">2018-04</el-option>
                <el-option value='5' label="2018-05">2018-05</el-option>
                <el-option value='6' label="2018-06">2018-06</el-option>
              </el-select>
            </div>
            <div id="echartVegetable">
              这个是菜系占比
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ScrollContainer from '@/components/ScrollContainer'
import api from '@/api'
export default {
  name: 'food-consumption',
  data () {
    return {
      analysisData: [],
      starFromTime: '按月',
      starDay: new Date().getTime(),
      adminFromTime: '按月',
      adminDay: new Date().getTime(),
      passengerFromTime: '按月',
      passengerDay: new Date().getTime(),
      chooseMonth: '1',
      chooseRatioMonth: '1',
      chooseVegeMonth: '1',
      vegeData: [],
      vegeTitle: [],
      ratioTitle: [],
      ratioData: []
    }
  },
  created () {
    this.getTopTen(this.chooseMonth)
  },
  methods: {
    async getRatio (month) {
      await api.consume.getCaterRatio(month).then(res => {
        this.vegeData = []
        this.vegeTitle = []
        this.ratioTitle = []
        this.ratioData = []
        console.log(res, '占比')
        res.forEach((item, index) => {
          if (index < 5) {
            let obj = {
              value: item.percent,
              name: item.target
            }
            this.ratioData.push(obj)
            this.ratioTitle.push(item.target)
          } else {
            let obj = {
              value: item.percent,
              name: item.target
            }
            this.vegeData.push(obj)
            this.vegeTitle.push(item.target)
          }
        })
      })
    },
    getTopTen (month) {
      api.consume.getCateringConsume(month).then(res => {
        console.log(res, '餐饮')
        res.forEach(item => {
          item.growth = String(item.growth)
        })
        this.analysisData = res
      })
    },
    selectMonthData () {
      this.getTopTen(this.chooseMonth)
    },
    async selectRatioMonthData () {
      await this.getRatio(this.chooseRatioMonth)
      await this.getEchartAdmin()
      await this.getEchartVegetable()
    },
    async selectVegeMonthData () {
      await this.getRatio(this.chooseVegeMonth)
      await this.getEchartAdmin()
      await this.getEchartVegetable()
    },
    getEchartAdmin () {
      let option = {
        legend: {
          orient: 'vertical',
          x: 50,
          y: 'center',
          show: true,
          data: this.ratioTitle,
          textStyle: {
            color: '#fff'
          }
        },
        color: ['rgb(255,148,153)', 'rgb(111,215,84)', 'rgb(182,136,217)', 'rgb(62,176,247)', 'rgb(242,255,65)'],
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['30%', '70%'],
            avoidLabelOverlap: false,
            center: ['50%', '55%'],
            label: {
              normal: {
                show: true,
                position: 'outside',
                formatter: '{b}:{c}%',
                textStyle: {
                  fontSize: '14'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '20',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                length: 40,
                length2: 20,
                show: true,
                lineStyle: {
                  color: new this.$echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    offset: 0,
                    color: '#876AEF'
                  }, {
                    offset: 1,
                    color: '#fff'
                  }
                  ]),
                  width: 3,
                  shadowColor: 'rgba(0, 0, 0, 5)',
                  shadowBlur: 10,
                  shadowOffsetX: -8,
                  shadowOffsetY: 10
                }
              }

            },
            data: this.ratioData
          }
        ]
      }
      var dom = document.getElementById('echatsAdministrative')
      var myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
    },
    getEchartVegetable () {
      let option = {
        legend: {
          orient: 'vertical',
          x: 50,
          y: 'center',
          show: true,
          data: this.vegeTitle,
          textStyle: {
            color: '#fff'
          }
        },
        color: ['rgb(255,148,153)', 'rgb(111,215,84)', 'rgb(182,136,217)', 'rgb(62,176,247)', 'rgb(242,255,65)'],
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['30%', '70%'],
            avoidLabelOverlap: false,
            center: ['50%', '55%'],
            label: {
              normal: {
                show: true,
                position: 'outside',
                formatter: '{b}:{c}%',
                textStyle: {
                  fontSize: '14'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '20',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                length: 40,
                length2: 20,
                show: true,
                lineStyle: {
                  color: new this.$echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    offset: 0,
                    color: '#876AEF'
                  }, {
                    offset: 1,
                    color: '#fff'
                  }
                  ]),
                  width: 3,
                  shadowColor: 'rgba(0, 0, 0, 5)',
                  shadowBlur: 10,
                  shadowOffsetX: -8,
                  shadowOffsetY: 10
                }
              }

            },
            data: this.vegeData
          }
        ]
      }
      var dom = document.getElementById('echartVegetable')
      var myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
    }
  },
  components: {
    ScrollContainer
  },
  async mounted () {
    await this.getRatio(this.chooseRatioMonth)
    await this.getEchartAdmin()
    await this.getEchartVegetable()
  }
}
</script>

<style lang="scss">
  .food-consumption{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 200px;
      .el-input__inner{
        /*padding-right: 10px;*/
        width: 200px;
      }
    }
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: transparent;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: transparent;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
    .el-table td, .el-table th{
      padding: 15px 0;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .food-consumption{
    width: 100%;
    height: calc(100% - 180px);
    padding-top: 170px;
    .basic-content{
      width: 100%;
      height: 100%;
      position: relative;
      .sex-ratio{
        position: absolute;
        top: 50%;
        width: 55%;
        height: 90%;
        left: 0;
        transform: translateY(-50%);
        padding: 40px;
        box-sizing: border-box;
        .title{
          width: 100%;
          height: 60px;
          line-height: 60px;
          color: #038ba0;
          margin-bottom: 20px;
          .select{
            float: right;
          }
          .addres{
            float: right;
            margin-right: 50px;
            color: #038ba0;
          }
        }
        .foodConsumeTop10{
          width: 100%;
          height: calc(100% - 80px);
          background: url("./../../../static/image/foodBg.png") no-repeat;
          background-size: 100%;
          background-position: center;
          position: relative;
          .rightDown{
            position: absolute;
            width: 58px;
            height: 5px;
            background: url("./../../../static/image/s-r-line.png") no-repeat;
            background-position: center;
            background-size: 100%;
            bottom: 0;
            right: 0;
            z-index: 3;
          }
        }
      }
      .rightBox{
        width: 43%;
        height: calc(100% + 175px);
        position: absolute;
        right: 0;
        top: -170px;
        padding: 40px;
        padding-top: 15px;
        box-sizing: border-box;
        border-left: 0.5px solid #023950;
        .line{
          background: url("./../../../static/image/s-left-up.png") no-repeat;
          background-size: 100%;
          width: 8px;
          height: 120px;
          position: absolute;
          left: 0;
          top: 0;
        }
        .age-ratio{
          /*position: absolute;*/
          border-radius: 5px;
          width: 100%;
          height: 50%;
        }
        .Passenger-analysis{
          border-radius: 5px;
          width: 100%;
          height: 50%;
        }
        .box{
          .title{
            width: 100%;
            height: 60px;
            p:nth-of-type(1) {
              color: #fff;
              font-size: 26px;
              font-weight: 600;
            }
            p:nth-of-type(2){
              color: #00e3ff;
              font-size: 14px;
            }
          }
          .pieEcharts{
            width: 100%;
            height: calc(100% - 100px);
            position: relative;
            background: url('./../../../static/image/smlBox.png') no-repeat;
            background-size: 100%;
            background-position: center;
            .select{
              position: absolute;
              top: 0px;
              right: 100px;
              z-index: 19;
            }
            #echartVegetable,
            #echatsAdministrative{
              width: 100%;
              height: 100%;
            }
          }

        }
      }
    }
    .add{
      color: #38ff1f;
    }
    .reduce{
      color: #e82e00;
    }
  }
</style>
