<template>
  <div class="forecast">
    <div class="title1">
      <span class="text">未来客流分析</span>
    </div>
    <div class="mapFather">
      <!--<div class="flow">-->
        <!--<div class="universe">-->
          <!--<p>今日柯桥全域总客流量</p>-->
          <!--<span class="sum" v-for="(item, index) in sum" :key="index">{{item}}</span>-->
        <!--</div>-->
        <!--<div class="actual">-->
          <!--<p>实时客流量</p>-->
          <!--<span class="now" v-for="(item, index) in nowPassenger" :key="index">{{item}}</span>-->
        <!--</div>-->
      <!--</div>-->
      <div class="dataFrom">
        <div class="guide">数据来源</div>
        <div class="sources">
          <span @click="toggleDataFrom('trick')" :class="activeIndex === 'trick'?'activeBtn':''">票务</span>
          <span @click="toggleDataFrom('wifi')" :class="activeIndex === 'wifi'?'activeBtn':''">wifi数据</span>
          <span @click="toggleDataFrom('video')" :class="activeIndex === 'video'?'activeBtn':''">视频图像</span>
        </div>
      </div>
      <div class="foreMap">
        <ForecastMap @showDialog="showDialog"></ForecastMap>
      </div>
    </div>
    <div class="echart">
      <div class="title">
        <span class="text">未来客流预测</span>
      </div>
      <div class="box">
        <div id="days">
        </div>
        <div id="scenic">
            <div class="touristHotelEchart" v-for="(item,i) in echartsData" :key="i">
                <div class="echarts" :id="'touristHotel'+i">
                </div>
                <h4 class="title">
                  {{item.value}}/{{item.max}}人
                </h4>
            </div>
        </div>

      </div>
    </div>
    <ForecastDialog
      v-if="foreVisible"
      :visible="foreVisible"
      :title="titles"
      @closeForeCastDialog="closeForeCastDialog">
    </ForecastDialog>
  </div>
</template>

<script>
import api from '@/api'
import ForecastMap from '@/components/passenger/forecastMap'
import ForecastDialog from '@/components/analysisDialog/forecastPassenger'
require('echarts/extension-src/bmap/bmap.js')
export default {
  name: 'forecast',
  data () {
    return {
      sum: [],
      nowPassenger: [],
      echartsData: [],
      nums: [],
      activeIndex: 'trick',
      foreVisible: false,
      xAxis: [],
      titles: ''
    }
  },
  methods: {
    toggleDataFrom (type) {
      console.log(type, 'opopopppopo')
      this.activeIndex = type
      this.getFutureNum(this.activeIndex)
      this.getTypeData(this.activeIndex)
    },
    async getTypeData (type) {
      this.echartsData = []
      await this.getPassengerFlow(type)
      await this.drawScenic()
    },
    async getPassengerFlow (type) {
      await api.screen.getPassengerRealtime().then(res => {
        console.log(res, '实时客流')
        res.forEach((item, index) => {
          if (index < 3) {
            let obj = {
              name: item.scenicName,
              value: item.passenger,
              max: item.maxPassenger
            }
            if (type === 'wifi') {
              obj.value = Math.floor(obj.value * 0.8)
            } else if (type === 'video') {
              obj.value = Math.floor(obj.value * 0.6)
            }
            console.log(this.echartsData, ',l,l,l,l,l,l,l')
            this.echartsData.push(obj)
          }
        })
      })
    },
    async getFutureNum (type) {
      await api.forecast.getFuture().then(res => {
        console.log(res, 'qscswd')
        this.nums = []
        res.predictNumber.forEach(item => {
          if (type === 'wifi') {
            this.nums.push(Math.floor(item * 0.8))
          } else if (type === 'video') {
            this.nums.push(Math.floor(item * 0.6))
          } else {
            this.nums.push(item)
          }
        })
        console.log(this.nums, '年后')
        let myDays = this.$echarts.init(document.getElementById('days'))
        myDays.setOption({
          title: {
            x: 'left',
            text: '未来7天客流总预测',
            textStyle: {
              fontSize: 14,
              fontWeight: 'normal',
              color: '#00e3ff'
            },
            left: 20,
            top: 10
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: [
            {
              type: 'category',
              data: this.xAxis,
              splitLine: {
                show: true,
                lineStyle: {
                  color: '#043e55'
                }
              },
              axisTick: {
                alignWithLabel: true
              },
              axisLabel: {
                textStyle: {
                  color: '#00e3ff'
                }
              }
            }
          ],
          yAxis: [
            {
              type: 'value',
              splitLine: {
                show: true,
                lineStyle: {
                  color: '#043e55'
                }
              },
              axisLine: {
                lineStyle: {
                  type: 'solid',
                  color: '#00e3ff',
                  width: '1'
                }
              },
              axisLabel: {
                textStyle: {
                  color: '#00e3ff'
                }
              }
            }
          ],
          series: [
            {
              name: '数量',
              type: 'bar',
              barWidth: 20,
              data: this.nums,
              itemStyle: {
                normal: {
                  color: new this.$echarts.graphic.LinearGradient(
                    0, 0, 0, 1,
                    [
                      {offset: 0, color: '#fe6e6b'},
                      {offset: 1, color: '#b6fe63'}
                    ]
                  )
                }
              }
            }]
        })
      })
    },
    drawScenic () {
      let colors = [
        new this.$echarts.graphic.LinearGradient(
          1, 0, 0, 0,
          [
            {offset: 1, color: '#06152c'},
            {offset: 0, color: '#f46768'}
          ]
        ),
        new this.$echarts.graphic.LinearGradient(
          1, 0, 0, 0,
          [
            {offset: 1, color: '#06152c'},
            {offset: 0, color: '#11ec75'}
          ]
        ), new this.$echarts.graphic.LinearGradient(
          1, 0, 0, 0,
          [
            {
              offset: 1,
              color: '#06152c'
            },
            {
              offset: 0,
              color: '#f7af02'
            }
          ]
        )
      ]
      for (let i = 0; i < this.echartsData.length; i++) {
        let option = {
          grid: {
            top: '30%',
            left: '10%'
          },
          tooltip: {
            trigger: 'item',
            formatter: '{b} : ({d}%)'
          },
          series: [
            {
              color: ['#06152c', colors[i]],
              type: 'pie',
              radius: ['55%', '80%'],
              center: ['64%', '50%'],
              avoidLabelOverlap: false,
              hoverAnimation: false,
              label: {
                normal: {
                  show: false,
                  position: 'center',
                  textStyle: {
                    fontSize: '14',
                    fontWeight: '',
                    color: '#fff'
                  },
                  formatter: '{b}'
                }
              },
              data: [
                {
                  value: this.echartsData[i].max - this.echartsData[i].value,
                  name: ''
                },
                {
                  value: this.echartsData[i].value,
                  name: this.echartsData[i].name,
                  label: {
                    normal: {
                      show: true
                    }
                  }}
              ]
            }
          ]
        }
        let mychart = this.$echarts.init(document.getElementById('touristHotel' + i))
        mychart.resize()
        mychart.setOption(option, true)
      }
    },
    showDialog (type) {
      console.log(type)
      this.titles = `${type}客流预测`
      this.foreVisible = true
    },
    closeForeCastDialog () {
      this.foreVisible = false
    }
  },
  async mounted () {
    await this.getPassengerFlow()
    await this.drawScenic()
  },
  created () {
    for (let i = 0; i < 7; i++) {
      let day = new Date().getDate() + 1
      day = Number(day) + i
      let month = '07'
      if (day > 31) {
        day = day - 31
        month = '08'
      }
      this.xAxis.push(`${month}-${day}`)
    }
    this.getFutureNum(this.activeIndex)
  },
  components: {
    ForecastMap,
    ForecastDialog
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .forecast{
    width:100%;
    height:100%;
    color:#fff;
    position: relative;
    .title1{
      /*display: flex;*/
      width:50%;
      position: absolute;
      top:10px;
      left:10px;
      padding-left:25px;
      z-index:9;
      /*justify-content: space-between;*/
      box-sizing: border-box;
      .text{
        font-size: 23px;
        color:#fff;
        margin-bottom: 120px;
      }
    }
    .mapFather{
      width:50%;
      height:100%;
      padding:1px 2px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      background: url("./../../../static/image/city.png") no-repeat;
      background-size: 100% auto;
      position: relative;
      .flow{
        position: absolute;
        top:150px;
        left:0;
        height:70px;
        width:100%;
        display: flex;
        justify-content: space-between;
        z-index: 3;
        padding:0 25px;
        box-sizing: border-box;
        p{
          font-size: 18px;
          margin-bottom: 10px;
        }
        .sum{
          color:#00e3ff;
          margin-right: 5px;
        }
        .now{
          color:#a1fb76;
          margin-right: 5px;
        }
        span{
          display: inline-block;
          width:40px;
          height:80px;
          line-height:80px;
          text-align: center;
          background:#011523;
          font-size: 35px;
        }
      }
      .dataFrom{
        color:#00ceed;
        position: absolute;
        display: flex;
        top:50px;
        left:60%;
        z-index: 99;
        .guide{
          height:44px;
          line-height: 44px;
        }
        .sources{
          margin-left: 20px;
          padding-top:10px;
          box-sizing: border-box;
          span{
            margin:0;
            border:1px solid #00ceed;
            display:inline-block;
            float:left;
            padding:2px 10px;
            cursor: pointer;
            &:nth-of-type(1){
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            &:nth-of-type(3) {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
          .activeBtn{
            background: #00e4ff;
            color: #fff;
          }
        }
      }
      .foreMap{
        width:100%;
        height:100%;
      }
    }
    .echart{
      width:50%;
      height:100%;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
      background: url("./../../../static/image/realRight.png") no-repeat;
      background-size: 100% auto;
      .title{
        width:100%;
        height:80px;
        padding:25px 0px 8px 25px;
        font-size: 22px;
        box-sizing: border-box;
      }
      .box{
        width:100%;
        height:calc(100% - 80px);
        padding:0 25px;
        box-sizing: border-box;
        #days{
          width:100%;
          height:50%;
          margin-bottom: 5px;
          background: url("./../../../static/image/bg-one.png") no-repeat;
          background-size: 100% auto;
        }
        #scenic{
          width:100%;
          height:49%;
          padding: 60px 0;
          box-sizing: border-box;
          background: url("./../../../static/image/bg-one.png") no-repeat;
          background-size: 100% auto;
          display:flex;
          flex-wrap: wrap;
          .touristHotelEchart{
            width:30%;
            height:100%;
            //border:1px solid yellow;
            display:flex;
            flex-direction: column;
            .echarts{
              height:80%;
              width:100%;
            }
            .title{
              height:20%;
              margin-top:-10px;
              text-align: center;
              color:#00bfff;
              font-size: 12px;
              color: #00bfff;
            }

          }
        }
      }
    }
  }

</style>
