<template>
  <div class="analyze">
    <div class="title1">
      <span class="text">客流总趋势图</span>
    </div>
    <div class="flow right">
      <div class="title">
      </div>
      <div class="dataFrom">
        <div class="guide">数据来源</div>
        <div class="sources">
          <span @click="toggleDataFrom('trick')" :class="activeIndex === 'trick'?'activeBtn':''">票务</span>
          <span @click="toggleDataFrom('wifi')" :class="activeIndex === 'wifi'?'activeBtn':''">wifi数据</span>
          <span @click="toggleDataFrom('video')" :class="activeIndex === 'video'?'activeBtn':''">视频图像</span>
        </div>
      </div>
      <div class="history">
        <div class="total">
          <div class="all-amount-num box">
            <div class="image">
              <img src="./../../../static/image/icon.png" alt="">
            </div>
            <div class="amount-content">
              <p class="text">2108年全域累计总客流量</p>
              <div class="amount-numb numbe">
                <span>{{currentYearCount}}</span>
              </div>
              <p class="compare">
                <span class="percent add">10%</span>
                <span class="percent-with">同比去年</span>
              </p>
            </div>
          </div>
          <div class="line box"></div>
          <div class="all-person-num box">
            <p class="text">
              本月累计客流
            </p>
            <p class="person-numb numbe">
              <span>{{currentMonth}}</span>
            </p>
            <p class="compare">
              <span class="percent reduce">26%</span>
              <span class="percent-with">同比去年</span>
            </p>
          </div>
          <div class="per-capita-num box">
            <p class="text">
              上月总客流
            </p>
            <p class="person-numb numbe">
              <span>{{lastMonthCount}}</span>
            </p>
            <p class="compare">
              <span class="percent reduce">26%</span>
              <span class="percent-with">同比去年</span>
            </p>
          </div>
          <div class="per-capita-num box">
            <p class="text">
              截至客流最高月份
            </p>
            <p class="person-numb numbe">
              <span>{{maxFlowMonth}}</span>
            </p>
          </div>
        </div>
        <div class="date">
          <el-select v-model="area" placeholder="请选择景区" class="region" @change="choseRegion">
            <el-option label='全部' value="0">全部</el-option>
            <el-option label='柯岩风景区' value="1">柯岩风景区</el-option>
            <el-option label='安昌古镇' value="2">安昌古镇</el-option>
            <el-option label='大香林风景区' value="3">大香林风景区</el-option>
            <el-option label='中国轻纺城' value="4">中国轻纺城</el-option>
            <el-option label='绿林竹海景区' value="5">绿林竹海景区</el-option>
            <el-option label='香雪梅海旅游区' value="6">香雪梅海旅游区</el-option>
            <el-option label='乔波冰雪世界' value="7">乔波冰雪世界</el-option>
            <el-option label='千年榧林' value="8">千年榧林</el-option>
          </el-select>
          <el-select v-model="hotFromTime" placeholder="请选择" @change="selectDay">
            <el-option labei='按月' value="按月">按月</el-option>
            <el-option labei='按年' value="按年">按年</el-option>
          </el-select>
          <!--<el-date-picker-->
            <!--v-model="hotDay"-->
            <!--type="date"-->
            <!--placeholder="选择日期">-->
          <!--</el-date-picker>-->
        </div>
        <div id="hot"></div>
        <div class="people"></div>
      </div>
    </div>
    <div class="visitor">
      <div class="title">
        <div class="tname">
          <span>景区客流占比</span>
        </div>
        <div class="btn-box">
          <p> <el-button @click="showImportDialog">导入数据</el-button><el-button @click="showContrativeDialog">对比分析</el-button></p>
          <p> <el-button @click="showDiagnosisDialog">诊断建议</el-button><el-button @click="showExportPrintDialog">导出打印</el-button></p>
        </div>
      </div>
      <div class="area-box">
        <div class="area-date" v-if=false>
            <el-select v-model="hotFromTime" placeholder="请选择">
              <el-option value="按月">按月</el-option>
              <el-option value="按年">按年</el-option>
            </el-select>
            <!--<el-date-picker-->
              <!--v-model="hotDay"-->
              <!--type="date"-->
              <!--placeholder="选择日期">-->
            <!--</el-date-picker>-->
         </div>
        <div id="area">
        </div>
      </div>
    </div>
    <ContrastiveAnalysisDialog
      v-if="contrastiveVisibles"
      :visible="contrastiveVisibles"
      @closeContrastiveDialog="closeContrastiveDialog">
    </ContrastiveAnalysisDialog>
    <DiagnosisSuggestion
      v-if="diagnosisVisibles"
      :visible="diagnosisVisibles"
      @closeDiagnosisDialog="closeDiagnosisDialog">
    </DiagnosisSuggestion>
    <ExportToPrintDialog
      v-if="exportPrintVisibles"
      :visible="exportPrintVisibles"
      @closeExportPrintDialog="closeExportPrintDialog">
    </ExportToPrintDialog>
    <ImportDialog
      v-if="importVisible"
      :visible="importVisible"
      @closeImportDialog="closeImportDialog"
      @closeImportDialogSuccess="closeImportDialogSuccess">
    </ImportDialog>
  </div>
</template>

<script>
import api from '@/api'
import ContrastiveAnalysisDialog from '@/components/analysisDialog/ContrastiveAnalysisDialog'
import DiagnosisSuggestion from '@/components/analysisDialog/DiagnosisSuggestion'
import ExportToPrintDialog from '@/components/analysisDialog/ExportToPrint'
import ImportDialog from '@/components/analysisDialog/ImportData'
export default {
  name: 'analyze',
  data () {
    return {
      area: '0',
      hotFromTime: '按月',
      hotDay: '',
      maxFlowMonth: '',
      currentMonth: '',
      lastMonthCount: '',
      currentYearCount: '',
      visibles: false,
      contrastiveVisibles: false,
      diagnosisVisibles: false,
      exportPrintVisibles: false,
      importVisible: false,
      activeIndex: 'trick',
      xAxis: [],
      passengerData: []
    }
  },
  created () {
  },
  methods: {
    closeImportDialogSuccess () {
      this.hotFromTime = '按月'
      this.area = '0'
      this.importVisible = false
      this.choseRegion()
    },
    async choseRegion () {
      let type = 'month'
      if (this.hotFromTime === '按年') {
        type = 'year'
      }
      await this.getHistoryPassenger(this.area, type)
      await this.drawFuture()
    },
    async selectDay () {
      let type = 'month'
      if (this.hotFromTime === '按年') {
        type = 'year'
      }
      await this.getHistoryPassenger(this.area, type)
      await this.drawFuture()
    },
    async getHistoryPassenger (region, type) {
      await api.history.getHistoryPassenger(region, type).then(res => {
        console.log(res, '历史数据')
        this.xAxis = []
        this.passengerData = []
        res.forEach(item => {
          if (type === 'month') {
            this.xAxis.push(item.month)
            this.passengerData.push(item.cnt)
          } else {
            this.xAxis.unshift(item.year)
            this.passengerData.unshift(item.cnt)
          }
        })
      })
    },
    async toggleDataFrom (type) {
      console.log(type, 'opopopppopo')
      this.activeIndex = type
      this.init(type)
      this.drawPie()
    },
    showImportDialog () {
      this.importVisible = true
    },
    showConsumeDialog () {
      this.visibles = true
    },
    showContrativeDialog () {
      this.contrastiveVisibles = true
    },
    showDiagnosisDialog () {
      this.diagnosisVisibles = true
    },
    showExportPrintDialog () {
      this.exportPrintVisibles = true
    },
    closeDialog () {
      this.visibles = false
    },
    closeContrastiveDialog () {
      this.contrastiveVisibles = false
    },
    closeDiagnosisDialog () {
      this.diagnosisVisibles = false
    },
    closeExportPrintDialog () {
      this.exportPrintVisibles = false
    },
    closeImportDialog () {
      this.importVisible = false
    },
    async init (type) {
      await api.history.assengerMax().then(res => {
        this.maxFlowMonth = res + '月'
      }).catch(err => {
        console.log(err)
      })
      await api.history.passengerflow('month').then(res => {
        if (type === 'wifi') {
          res.passenger = Math.floor(res.passenger * 0.8)
        } else if (type === 'video') {
          res.passenger = Math.floor(res.passenger * 0.6)
        }
        this.currentMonth = res.passenger
      }).catch(err => {
        console.log(err)
      })
      await api.history.passengerflow('last-month').then(res => {
        if (type === 'wifi') {
          res.passenger = Math.floor(res.passenger * 0.8)
        } else if (type === 'video') {
          res.passenger = Math.floor(res.passenger * 0.6)
        }
        this.lastMonthCount = res.passenger
      }).catch(err => {
        console.log(err)
      })
      await api.history.passengerflow('year').then(res => {
        let arr = []
        if (type === 'wifi') {
          res.passenger = Math.floor(res.passenger * 0.8)
        } else if (type === 'video') {
          res.passenger = Math.floor(res.passenger * 0.6)
        }
        let currenData = res.passenger.toString().split('').reverse()
        for (let i = 0; i < currenData.length; i++) {
          arr.push(currenData[i])
          if ((i === '2' && currenData.length > 3) || (i === '5' && currenData.length > 6)) {
            arr.push(',')
          }
        }
        this.currentYearCount = arr.reverse().join('')
      }).catch(err => {
        console.log(err)
      })
    },
    async drawPie (type) {
      let data = []
      let arr = []
      await api.history.flowProportion().then(res => {
        res.forEach(item => {
          if (type === 'wifi') {
            item.count = Math.floor(item.count * 0.8)
          } else if (type === 'video') {
            item.count = Math.floor(item.count * 0.6)
          }
          let obj = {
            name: item.name,
            value: item.count
          }
          data.push(obj)
          arr.push(item.name)
        })
        let myMap = this.$echarts.init(document.getElementById('area'))
        myMap.resize()
        myMap.setOption({
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c} ({d}%)'
          },
          legend: {
            formatter: function (name) {
              let total = 0
              let target
              for (let i = 0, l = data.length; i < l; i++) {
                total += data[i].value
                if (data[i].name === name) {
                  target = data[i].value
                }
              }
              return name + '   ' + ((target / total) * 100).toFixed(0) + ' % '
            },
            icon: 'circle',
            orient: 'vertical',
            x: 'left',
            left: '8%',
            top: '2%',
            itemHeight: 20,
            // data: ['景区A', '景区B', '景区C', '景区D', '其  他'],
            data: arr,
            textStyle: {
              color: '#02daf5',
              fontSize: 16
            }
          },
          series: [
            {
              type: 'pie',
              radius: '55%',
              label: {
                fontSize: 14,
                color: '#557dda',
                formatter: (name) => {
                  let total = 0
                  let target
                  for (let i = 0, l = data.length; i < l; i++) {
                    total += data[i].value
                    if (data[i].name === name.name) {
                      target = data[i].value
                    }
                  }
                  return name.name + '   ' + ((target / total) * 100).toFixed(0) + ' % '
                }
              },
              labelLine: {
                lineStyle: {
                  color: '#a999f2'
                }
              },
              center: ['50%', '55%'],
              // data: [
              //   {value: 1548, name: '景区A'},
              //   {value: 535, name: '景区B'},
              //   {value: 510, name: '景区C'},
              //   {value: 634, name: '景区D'},
              //   {value: 735, name: '其  他'}
              // ],
              data: data,
              itemStyle: {
                emphasis: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ],
          color: ['#2c24ad', '#4141c2', '#1d3455', '#cc75ec', '#7e44d7']
        })
      }).catch(err => {
        console.log(err)
      })
    },
    drawFuture () {
      let myHot = this.$echarts.init(document.getElementById('hot'))
      myHot.resize()
      myHot.setOption({
        color: ['#6EAEFF', '#E5740F'],
        calculable: true,
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: this.xAxis,
          splitLine: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: '#00e3ff'
            }
          }
        },
        yAxis: {
          type: 'value',
          splitLine: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: '#00e3ff'
            }
          }
        },
        series: [
          // {
          //   name: '2017年',
          //   type: 'line',
          //   areaStyle: {
          //     color: '#4E5571'
          //   },
          //   data: [15, 11, 15, 23, 12, 19, 20]
          // },
          {
            name: '2018年',
            type: 'line',
            areaStyle: {
              color: '#ED622E'
            },
            data: this.passengerData

          }
        ]
      })
    }
  },
  async mounted () {
    await this.getHistoryPassenger(this.area, 'month')
    await this.drawFuture()
    this.init(this.activeIndex)
    this.drawPie()
  },
  components: {
    ContrastiveAnalysisDialog,
    DiagnosisSuggestion,
    ExportToPrintDialog,
    ImportDialog
  }
}
</script>

<style lang="scss">
  .analyze{
    .el-select{
      width: 80px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 125px;
    }
    .el-input__inner , .el-button{
      background-color: transparent;
      color:#02daf5;
      border:1px solid #03738b
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .analyze{
    width:100%;
    height:100%;
    /*display: flex;*/
    /*justify-content: space-between;*/
    position: relative;
    .title1{
      /*display: flex;*/
      width:50%;
      position: absolute;
      top:10px;
      left:10px;
      padding-left:25px;
      z-index:9;
      /*justify-content: space-between;*/
      box-sizing: border-box;
      .text{
        font-size: 23px;
        margin-bottom: 120px;
        color:#fff;
      }
    }
    .flow{
      width: 50%;
      height:100%;
      float: left;
      background: url("./../../../static/image/city.png") no-repeat;
      background-size: 100% auto;
      position: relative;
      .title{
        width:100%;
        height:150px;

      }
      .history{
        width:100%;
        height:calc(100% - 150px);
        position: relative;
        .total{
          width: 100%;
          height: 120px;
          padding: 15px;
          box-sizing: border-box;
          position: absolute;
          top:15px;
          left:0;
          border-radius: 5px;
          span{
            color:#02daf5;
          }
          .box{
            float: left;
            .text{
              font-size: 12px;
              color: #02daf5;
              line-height: 25px;
            }
            .numbe{
              font-size: 26px;
              color: #222;
              font-weight: 700;
              line-height: 40px;
            }
            .compare{
              font-size: 14px;
              margin-left: 15px;
              span:nth-of-type(2){
                color: #999;
              }
              .add{
                color: #ff441b;
                position: relative;
                &:before{
                  position: absolute;
                  left: -15px;
                  top: 6px;
                  border: 5px solid transparent;
                  content: '';
                  border-top-color: #ff441b;
                }
              }
              .reduce{
                color: #65d450;
                position: relative;
                &:before{
                  position: absolute;
                  left: -15px;
                  top: 2px;
                  border: 5px solid transparent;
                  content: '';
                  border-bottom-color: #65d450;
                }
              }
            }
          }
          .line{
            position: relative;
            width: 2px;
            height: 100%;
            background: #ccc;
            margin: 0 45px;
          }
          .all-amount-num{
            .image{
              float: left;
              line-height: 80px;
              margin: 0 20px;
              /*background: url("./../../../static/image/people1.png");*/
              img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: inline-block;vertical-align: middle;
              }
            }
            .amount-content{
              float: left;
            }
          }
          .all-person-num{
            margin-right: 45px;
          }
          .per-capita-num{
            margin-right: 45px;
          }
        }
        .date{
          width:300px;
          height:40px;
          position: absolute;
          z-index: 3;
          background: transparent;
          right:0;
          top: 130px;
          float:right;
          .region{
            width:150px;
          }
        }
        #hot{
          width:100%;
          height:calc(100% - 220px);
          position:absolute;
          top:180px;
          left:0;
          background: url("./../../../static/image/bg1.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      .dataFrom{
        color:#00ceed;
        position: absolute;
        display: flex;
        top:50px;
        left:60%;
        z-index: 99;
        .guide{
          height:44px;
          line-height: 44px;
        }
        .sources{
          margin-left: 20px;
          padding-top:10px;
          box-sizing: border-box;
          span{
            margin:0;
            border:1px solid #00ceed;
            display:inline-block;
            float:left;
            padding:2px 10px;
            cursor: pointer;
            &:nth-of-type(1){
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            &:nth-of-type(3) {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
          .activeBtn{
            background: #00e4ff;
            color: #fff;
          }
        }
      }
    }
    .visitor{
      width:50%;
      height:100%;
      float: right;
      background: url("./../../../static/image/realRight.png") no-repeat;
      background-size: 100% auto;
      padding:15px 20px 5px 20px;
      box-sizing: border-box;
      .title{
        width:100%;
        height:100px;
        display: flex;
        .tname{
          font-size:23px;
          color:#fff;
          width:40%;
        }
        .btn-box{
          float:left;
        }
      }
      .area-box{
        width:100%;
        height:calc(100% - 100px);
        background: url("./../../../static/image/bg2.png") no-repeat;
        background-size: 95% 100%;
        position: relative;
        .area-date{
          position:absolute;
          top:20px;
          right:150px;
          z-index: 3;
          background: transparent;
        }
        #area{
          width:100%;
          height:100%;
        }
      }
    }
  }

</style>
