<template>
  <div class="passengerflows">
    <div class="title1">
      <span class="text">综合客流分析</span>
    </div>
    <div class="main">
      <div class="mapFather">
        <div class="flow">
          <div class="universe">
            <p>今日柯桥全域总客流量</p>
            <span class="sum" v-for="(item, index) in sum" :key="index">{{item}}</span>
          </div>
          <div class="actual">
            <p>实时客流量</p>
            <span class="now" v-for="(item, index) in nowPassenger" :key="index">{{item}}</span>
          </div>
        </div>
        <div class="dataFrom">
          <div class="guide">数据来源</div>
          <div class="sources">
            <span @click="toggleDataFrom('trick')" :class="activeIndexs === 'trick'?'activeBtn':''">票务</span>
            <span @click="toggleDataFrom('wifi')" :class="activeIndexs === 'wifi'?'activeBtn':''">wifi数据</span>
            <span @click="toggleDataFrom('video')" :class="activeIndexs === 'video'?'activeBtn':''">视频图像</span>
          </div>
        </div>
        <div class="toggleBtn">
          <span :class="activeIndex === 'hot'?'active':''" @click="toggleMap('hot')">热力图</span>
          <span :class="activeIndex === 'line'?'active':''" @click="toggleMap('line')">流向图</span>
        </div>
        <div v-if="!isShowMap" class="hotMap">
          <HotMap></HotMap>
        </div>
        <div class="chinaMap" v-if="isShowMap">
          <China></China>
        </div>
      </div>
      <div class="real">
        <div class="title">
          <div class="left">
            <span class="text">实时客流监测</span>
            <p>
              实时总客流: <span class="all">{{allpassenger}}</span>人,同比上升<span class="up">5.2</span> %
            </p>
          </div>
          <div class="right">
            <div class="time">北京时间(GMT+8)</div>
            <div class="currentDate">{{currentTime | timeFiler}}</div>
            <span>实时更新(最后更新时间:{{severTime | severFilter}})</span>
          </div>
        </div>
        <div class="list">
          <img src="./../../../static/image/tup.png" alt="" class="up">
          <img src="./../../../static/image/tdown.png" alt="" class="down">
          <el-table
            class="mytable"
            :data="tableData"
            style="width: 100%">
            <el-table-column
              prop="scenicName"
              label="景区名"
              width="150">
            </el-table-column>
            <el-table-column
              prop="passenger"
              label="实时客流"
              width="150">
            </el-table-column>
            <el-table-column
              prop="maxPassenger"
              label="最大承载"
              width="150">
            </el-table-column>
            <el-table-column
              prop="dayPassenger"
              label="日累计客流"
              width="150">
            </el-table-column>
            <el-table-column
              prop="status"
              label="状态"
              width="150">
              <template slot-scope="scope">
                <span v-if="scope.row.state === 'normal'" class="normal">{{scope.row.type}}</span>
                <span v-if="scope.row.state === 'ready'" class="ready">{{scope.row.type}}</span>
                <span v-if="scope.row.state === 'overstep'" class="overstep">{{scope.row.type}}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import api from '@/api'
import HotMap from '@/components/screenOne/hotMap'
import China from '@/components/map/china'
export default{
  name: 'passengerflows',
  data () {
    return {
      currentTime: new Date(),
      chartOne: null,
      tableData: [],
      sum: [],
      nowPassenger: [],
      allpassenger: '',
      isShowMap: false,
      activeIndex: 'hot',
      activeIndexs: 'trick',
      severTime: new Date().getTime()
    }
  },
  methods: {
    toggleDataFrom (type) {
      console.log(type, 'opopopppopo')
      this.activeIndexs = type
      this.getPassengerFlow(this.activeIndexs)
    },
    toggleMap (type) {
      this.activeIndex = type
      if (type === 'hot') {
        this.isShowMap = false
      } else {
        this.isShowMap = true
      }
    },
    getPassengerFlow (type) {
      api.screen.getPassengerRealtime().then(res => {
        console.log(res, '实时客流')
        this.severTime = new Date().getTime()
        this.tableData = res
        this.sum = []
        this.nowPassenger = []
        let sum1 = 0
        let sum2 = 0
        this.tableData.forEach(item => {
          if (type === 'wifi') {
            item.passenger = Math.floor(item.passenger * 0.8)
          } else if (type === 'video') {
            item.passenger = Math.floor(item.passenger * 0.6)
          }
          sum1 += item.passenger
          sum2 += item.dayPassenger
          if (item.status > 3) {
            item.state = 'overstep'
            item.type = '超饱和'
          } else if (item.status > 2 && item.status < 4) {
            item.state = 'ready'
            item.type = '饱和'
          } else {
            item.state = 'normal'
            item.type = '正常'
          }
        })
        this.allpassenger = sum1
        this.sum = String(sum2).split('')
        this.nowPassenger = String(sum1).split('')
      })
    },
    getCurrentTime () {
      let that = this
      setInterval(function () {
        that.currentTime = new Date().getTime()
      }, 1000)
    }
  },
  created () {
    this.getCurrentTime()
    let that = this
    setInterval(function () {
      that.getPassengerFlow(that.activeIndexs)
    }, 5000)
  },
  mounted () {
  },
  filters: {
    timeFiler (item) {
      return moment(item).format('HH:mm:ss')
    },
    severFilter (item) {
      return moment(item).format('YYYY-MM-DD HH:mm')
    }
  },
  components: {
    HotMap,
    China
  }
}
</script>

<style lang="scss" type="text/scss">
  .passengerflows{
    .list{
      .mytable{
        th{
          background-color:#013c4f;
          color:#fff;
          border:none;
        }
        td{
          background-color: #031328;
          color:#02b1c7;
          border:none;
        }
        .el-button{
          border:none;
        }
      }
    }
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: #03243d;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: #032337;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
  }
</style>

<style scoped lang="scss" type="text/scss">
  .passengerflows{
    width:100%;
    height:100%;
    position: relative;
    .title1{
      /*display: flex;*/
      width:50%;
      position: absolute;
      top:10px;
      left:10px;
      padding-left:25px;
      z-index:9;
      /*justify-content: space-between;*/
      box-sizing: border-box;
      .text{
        font-size: 23px;
        margin-bottom: 120px;
        color:#fff;
      }
    }
    .main{
      width:100%;
      height:100%;
      color:#fff;
      display: flex;
      justify-content: space-between;
      .mapFather{
        width:100%;
        height:100%;
        padding:1px 2px;
        background: url("./../../../static/image/city.png") no-repeat;
        background-size: 100% auto;
        position: relative;
        .flow{
          position: absolute;
          top:150px;
          left:0;
          height:70px;
          width:100%;
          display: flex;
          justify-content: space-between;
          z-index: 3;
          padding:0 25px;
          box-sizing: border-box;
          p{
            font-size: 18px;
            margin-bottom: 10px;
          }
          .sum{
            color:#00e3ff;
            margin-right: 5px;
          }
          .now{
            color:#a1fb76;
            margin-right: 5px;
          }
          span{
            display: inline-block;
            width:40px;
            height:80px;
            line-height:80px;
            text-align: center;
            background:#011523;
            font-size: 35px;
          }
        }
        .toggleBtn{
          position: absolute;
          bottom: 30px;
          right: 50px;
          height: 30px;
          z-index: 9;
          span{
            padding: 5px 10px;
            margin-right: 10px;
            line-height: 30px;
            font-size: 14px;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
            border: 1px solid #26bbf0;
          }
          .active{
            background: #26bbf0;
          }
        }
        .dataFrom{
          color:#00ceed;
          position: absolute;
          display: flex;
          top:50px;
          left:60%;
          z-index: 99;
          .guide{
            height:44px;
            line-height: 44px;
          }
          .sources{
            margin-left: 20px;
            padding-top:10px;
            box-sizing: border-box;
            span{
              margin:0;
              border:1px solid #00ceed;
              display:inline-block;
              float:left;
              padding:2px 10px;
              cursor: pointer;
              &:nth-of-type(1){
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
              &:nth-of-type(3) {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }
            }
            .activeBtn{
              background: #00e4ff;
              color: #fff;
            }
          }
        }
        .hotMap{
          width:100%;
          height:100%;
        }
        .chinaMap{
          width: 100%;
          height: 100%;
        }
      }
      .real{
        width:47%;
        height:100%;
        position: relative;
        background: url("./../../../static/image/realRight.png") no-repeat;
        background-size: 100% auto;
        img{
          position: absolute;
          top:0;
          left:0;
        }
        .title{
          display: flex;
          width:100%;
          height: 200px;
          .left{
            width:50%;
            height:180px;
            /*background: #6f7180;*/
            display: flex;
            flex-direction: column;
            padding:10px 15px;
            .text{
              font-size: 23px;
              margin-bottom: 120px;
            }
            .all{
              font-size: 20px;
              color:#08a55b;
            }
            .up{
              color:#ffb403;
              font-size:20px;
            }
            p{
              font-size:17px;
              color:#00b6d1;
            }
          }
          .right{
            width:50%;
            height:180px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding-top:50px;
            padding-bottom:15px;
            .currentDate{
              font-size: 30px;
              color:#bb5053
            }
            .time{
              color:#00b6d1;
            }
            span{
              margin-top:50px;
            }
          }
        }
        .list{
          width: 100%;
          height:calc(100% - 200px);
          padding-left: 15px;
          padding-right:20px;
          box-sizing: border-box;
          position:relative;
          .up{
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 13px;
            margin-top: -3px;
            z-index: 3;
          }
          .down{
            position: absolute;
            left: 85%;
            top: 35px;
            z-index: 3;
          }
        }
      }
    }
    .overstep{
      color: #e82e00;
    }
    .ready{
      color:#0dbe66;
    }
    .normal{
      color:#939c9c;
    }
  }

</style>
