html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
div,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,li {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}
a{
  text-decoration: none;
}
img{
  border: none;
}
body{
  font-family: '微软雅黑';
}
.el-menu-item.is-active{
  color: #26bbf0;
}
.clearfix:after{
  content:'';
  display:block;
  clear:both;
}
.Admin{
  color: #fff;
}
html,body{
  width: 100%;
  height: 100%;
}
.el-table td, .el-table th{
  padding: 8px 0;
}
.el-input--suffix .el-input__inner{
  padding-right: 10px;
}
.el-select-dropdown,.el-picker-panel{
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #0487bd;
  box-shadow:0 0 40px -10px #0487bd inset;
}
.el-picker-panel__icon-btn,.el-date-picker__header-label{
  color: #0487bd;
}
.el-date-table th{
  color: #0487bd;
  border-color: rgba(4, 135, 189, 0.6);
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #01E4FF;
  color: #222;
}
.el-select-dropdown__item{
  color: #04b6fc !important;
}
