<template>
    <div class="appraise-monitor">
      <div class="hot">
        <div class="title1">
          <span class="text">景区评价实时热度</span>
          <div class="data">
            <!--<div class="guide">数据来源</div>-->
            <!--<div class="sources">-->
              <span>综合统计</span>
            <!--</div>-->
          </div>
        </div>
        <!--<div class="flow">-->
          <!--<div class="universe">-->
            <!--<p>今日柯桥全域总客流量</p>-->
            <!--<span class="sum" v-for="(item, index) in sum" :key="index">{{item}}</span>-->
          <!--</div>-->
          <!--<div class="actual">-->
            <!--<p>实时客流量</p>-->
            <!--<span class="now" v-for="(item, index) in nowPassenger" :key="index">{{item}}</span>-->
          <!--</div>-->
        <!--</div>-->
        <div class="hotMap">
          <HotMap></HotMap>
        </div>
      </div>
      <div class="appraise">
        <div class="evaluate">
          <div class="title">
            <span class="text">舆情评价</span>
            <span class="getMore" @click="getMore">查看更多</span>
            <div class="ota">
              <el-select v-model="ota" placeholder="请选择" @change="chooseOta">
                <el-option
                  v-for="item in otaList"
                  :key="item.index"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </div>
            <div class="appraiseType">
              <el-select v-model="appraiseType" placeholder="请选择" @change="chooseAppraiseType">
                <el-option
                  v-for="item in typeList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </div>
          </div>
          <div id="sensitivity">
            <el-carousel height="300px">
              <el-carousel-item v-for="item in news" :key="item[0].contents">
                <div class="tweet">
                  <div v-for="n in item" :key='n.content' class="contents">
                    <div class="content">
                      <div class="matter">{{n.reviewText}}</div>
                    </div>
                    <div class="time-date">
                      <img src="./../../../static/image/email.png" alt="" @click="sendMessage(n.reviewText)">
                      <span class="year">{{n.reviewDate}}</span>
                      <span class="types">{{n.source}}</span>
                    </div>
                    <i class="el-icon-close" @click="delectMessage(n.reviewText)"></i>
                  </div>
                </div>
              </el-carousel-item>
            </el-carousel>
          </div>
        </div>
        <div class="key">
          <div class="title">
            <span class="text">热门评价关键词</span>
            <div class="select" v-if="false">
              <el-select v-model="hotFromTime" placeholder="请选择">
                <el-option value="按月">按月</el-option>
              </el-select>
              <el-date-picker
                v-model="hotDay"
                type="month"
                placeholder="选择日期">
              </el-date-picker>
            </div>
            <div class="router">
              <router-link to="/analyze/travelAgency" target="_blank">查看涉旅企业舆情评分</router-link>
            </div>
          </div>
          <div id="keyword">
          </div>
        </div>
      </div>
      <AppraiseDialog
        v-if="AppraiseVisible"
        :visible="AppraiseVisible"
        @closeAppraiseDialog="closeAppraiseDialog">
      </AppraiseDialog>
      <MessageDialog
        v-if="messageVisible"
        :visible="messageVisible"
        :message="choseMessage"
        @closeMessageDialog="closeMessageDialog">
      </MessageDialog>
    </div>
</template>

<script>
import api from '@/api'
import HotMap from '@/components/map/tiantaiHotMap'
import AppraiseDialog from '@/components/analysisDialog/AppraiseDialog'
import MessageDialog from '@/components/analysisDialog/messageDialog'
export default {
  name: 'appraise-monitor',
  data () {
    return {
      hotFromTime: '按月',
      hotDay: '',
      news: [],
      words: [],
      sum: [],
      nowPassenger: [],
      otaList: [
        {value: '全部', label: '全部', index: '-1'}
      ],
      ota: '全部',
      typeList: [
        {value: '全部', label: '全部'},
        {value: '正面', label: '正面'},
        {value: '负面', label: '负面'}
      ],
      appraiseType: '全部',
      newsList: [],
      cloneList: [],
      AppraiseVisible: false,
      choseMessage: '',
      messageVisible: false
    }
  },
  methods: {
    sendMessage (test) {
      this.choseMessage = test
      this.messageVisible = true
    },
    closeMessageDialog () {
      this.messageVisible = false
    },
    delectMessage (test) {
      let arr = []
      this.news = []
      this.newsList = this.newsList.filter((item) => {
        if (item.reviewText !== test) {
          return item
        }
      })
      this.newsList.forEach((item, index) => {
        arr.push(item)
        if (index % 2 === 1) {
          this.news.push(arr)
          arr = []
        }
      })
      this.cloneList = this.newsList
    },
    closeAppraiseDialog () {
      this.AppraiseVisible = false
    },
    getMore () {
      this.AppraiseVisible = true
    },
    getScenicAppraise () {
      api.safeAppraise.getScenicAppraise().then(res => {
        console.log(res, '景区评价')
      })
    },
    getPassengerFlow () {
      api.screen.getPassengerRealtime().then(res => {
        console.log(res, '实时客流')
        this.sum = []
        this.nowPassenger = []
        let sum1 = 0
        let sum2 = 0
        res.forEach(item => {
          sum1 += item.passenger
          sum2 += item.dayPassenger
        })
        this.sum = String(sum2).split('')
        this.nowPassenger = String(sum1).split('')
      })
    },
    drawWord () {
      console.log(this.words, 'kaiaiaiakaiaksi')
      let myWord = this.$echarts.init(document.getElementById('keyword'))
      let plantCap = this.words
      let datalist = [{
        offset: [50, 43],
        symbolSize: 125,
        opacity: 0.95,
        color: '#acedff'
      }, {
        offset: [19, 78],
        symbolSize: 110,
        opacity: 0.88,
        color: '#7aabe2'
      }, {
        offset: [10, 20],
        symbolSize: 80,
        opacity: 0.84,
        color: '#98f1ff'
      }, {
        offset: [86, 20],
        symbolSize: 78,
        opacity: 0.8,
        color: '#c0a7f2'
      },
      {
        offset: [40, 70],
        symbolSize: 105,
        opacity: 0.75,
        color: '#6f74ae'
      },
      {
        offset: [85, 53],
        symbolSize: 105,
        opacity: 0.75,
        color: '#ffcba3'
      },
      {
        offset: [60, 50],
        symbolSize: 105,
        opacity: 0.75,
        color: '#944cae'
      },
      {
        offset: [50, 90],
        symbolSize: 105,
        opacity: 0.75,
        color: '#e5ffc5'
      },
      {
        offset: [80, 34],
        symbolSize: 105,
        opacity: 0.75,
        color: '#9bbce6'
      },
      {
        offset: [20, 50],
        symbolSize: 105,
        opacity: 0.75,
        color: '#6f74ae'
      },
      {
        offset: [70, 80],
        symbolSize: 60,
        opacity: 0.68,
        color: '#8a3647'
      }]
      let datas = []
      for (let i = 0; i < plantCap.length; i++) {
        let item = plantCap[i]
        let itemToStyle = datalist[i]
        datas.push({
          name: [`{title1|${item.name}}`, `{title2|${item.value}}`].join('\n'),
          value: itemToStyle.offset,
          symbolSize: itemToStyle.symbolSize,
          label: {
            normal: {
              textStyle: {
                fontSize: 14,
                rich: {
                  title1: {
                    fontSize: 14,
                    color: '#222',
                    lineHeight: 26

                  },
                  title2: {
                    fontSize: 14,
                    color: '#ef3833'
                  }
                }
              }
            }
          },
          itemStyle: {
            normal: {
              color: itemToStyle.color,
              opacity: itemToStyle.opacity
            }
          }
        })
      }
      var complant = {
        option: {
          grid: {
            show: false,
            top: 10,
            bottom: 10
          },
          xAxis: [{
            gridIndex: 0,
            type: 'value',
            show: false,
            min: 0,
            max: 100,
            nameLocation: 'middle',
            nameGap: 5
          }],
          yAxis: [{
            gridIndex: 0,
            min: 0,
            show: false,
            max: 100,
            nameLocation: 'middle',
            nameGap: 30
          }],
          series: [{
            type: 'scatter',
            // symbol: 'circle',
            symbol: 'image://./../../../static/image/qiu.png',
            symbolSize: 120,
            label: {
              normal: {
                show: true,
                formatter: '{b}',
                color: 'black',
                textStyle: {
                  fontSize: '80'
                }
              }
            },
            itemStyle: {
              normal: {
                color: '#00acea'
              }
            },
            data: datas
          }]
        }
      }

      myWord.setOption(complant.option)
    },
    async getAllEvaluation () {
      await api.safeAppraise.getEvaluate().then(res => {
        console.log(res, '评价')
        this.newsList = res
        this.cloneList = this.newsList
        let arr = []
        for (let i = 0; i < res.length; i++) {
          let obj = {
            value: res[i].source,
            label: res[i].source,
            index: `${i}`
          }
          this.otaList.push(obj)
          arr.push(res[i])
          if (i % 2 === 1) {
            this.news.push(arr)
            arr = []
          }
        }
      })
    },
    async getBadAppraise () {
      await api.safeAppraise.getHotWord().then(res => {
        console.log(res, '787878787')
        res.forEach((item, index) => {
          if (index < 11) {
            this.words.push({name: item.word, value: item.index})
          }
        })
      }).catch(err => {
        console.log(err, '关键词失败')
      })
    },
    chooseOta () {
      let arr = []
      this.news = []
      if (this.ota === '全部') {
        this.newsList = this.cloneList
      } else {
        this.newsList = this.cloneList.filter((item) => {
          if (item.source === this.ota) {
            return item
          }
        })
      }
      this.newsList.forEach((item, index) => {
        arr.push(item)
        if (index % 2 === 1) {
          this.news.push(arr)
          arr = []
        }
      })
    },
    chooseAppraiseType () {
      let arr = []
      this.news = []
      if (this.appraiseType === '全部') {
        this.newsList = this.cloneList
      } else {
        this.newsList = this.cloneList.filter((item) => {
          if (item.type === this.appraiseType) {
            return item
          }
        })
      }
      this.newsList.forEach((item, index) => {
        arr.push(item)
        if (index % 2 === 1) {
          this.news.push(arr)
          arr = []
        }
      })
    }
  },
  async mounted () {
    await this.getBadAppraise()
    await this.drawWord()
  },
  created () {
    this.getPassengerFlow()
    this.getAllEvaluation()
    this.getScenicAppraise()
  },
  components: {
    HotMap,
    AppraiseDialog,
    MessageDialog
  }
}
</script>
<style lang="scss">
 .appraise-monitor{
   .el-select{
     width: 80px;
     color: #fff;
   }
   .ota{
     .el-select{
       width: 100px;
     }
   }
   .el-date-editor.el-input, .el-date-editor.el-input__inner{
     width: 125px;
     padding:2px 3px;
   }
   .el-input__inner{
     background: transparent;
     height: 30px;
     line-height: 40px;
     border-color: transparent;
     box-shadow:0 0 40px -10px #0487bd inset;
   }
 }
</style>

<style scoped lang="scss" type="text/scss">
  .appraise-monitor{
    width:100%;
    height:100%;
    color:#fff;
    .hot{
      width:50%;
      height:100%;
      padding:1px 2px;
      background: url("./../../../static/image/city.png") no-repeat;
      background-size: 100% auto;
      float: left;
      position: relative;
      .flow{
        position: absolute;
        top:150px;
        left:0;
        height:70px;
        width:100%;
        display: flex;
        justify-content: space-between;
        z-index: 3;
        padding:0 25px;
        box-sizing: border-box;
        p{
          font-size: 18px;
          margin-bottom: 10px;
        }
        .sum{
          color:#00e3ff
        }
        .now{
          color:#a1fb76;
        }
        span{
          display: inline-block;
          width:40px;
          height:80px;
          line-height:80px;
          text-align: center;
          background:#011523;
          font-size: 35px;
        }
      }
      .title1{
        position: absolute;
        width:100%;
        top:1px;
        left:1px;
        z-index: 2;
        .text{
          margin-left: 25px;
          font-size:20px;
          line-height:50px;
          font-weight: 500;
        }
        .data{
          color: #183553;
          position: absolute;
          width:80px;
          top:10px;
          right:10px;
          display: flex;
          background: #00e4ff;
          span{
            margin:0;
            display:inline-block;
            padding:2px 10px;
            border-radius: 5px;
            text-align: center;
            font-size: 14px;
          }
        }
      }
      .hotMap{
        width:100%;
        height:100%;
      }
    }
    .appraise{
      width: 49.5%;
      height:100%;
      float: right;
      background: url("./../../../static/image/realRight.png") no-repeat;
      background-size: 100% auto;
      .evaluate{
        width:100%;
        height:50%;
        position: relative;
        .title{
          margin-left:30px;
          height:40px;
          line-height:40px;
          font-size: 20px;
          position: relative;
        }
        .getMore{
          color: #00e4ff;
          font-size: 14px;
          float: right;
          margin-right: 200px;
          cursor: pointer;
        }
        .ota{
          width: 100px;
          height: 30px;
          position: absolute;
          left: 100px;
          top: 0;
        }
        .appraiseType{
          position: absolute;
          left: 230px;
          top: 0;
        }
        #sensitivity{
          position: absolute;
          top:50px;
          left:30px;
          background: url("./../../../static/image/sensitive.png") no-repeat;
          background-size: 100% auto;
          width:90%;
          height:calc(100% - 50px);
          color:#02daf5;
          .contents{
            /*position: absolute;*/
            /*top:20px;*/
            /*left:30px;*/
            margin-top: 20px;
            margin-left:50px;
            width:80%;
            height:100px;
            border:1px solid #274884;
            position: relative;
            .content{
              margin-top: 15px;
              margin-left:20px;
              display: flex;
              height:100px;
              width:80%;
              span{
                width:100px;
              }
            }
            .time-date{
              position: absolute;
              bottom:15px;
              right:15px;
              img{
                width: 19px;
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
              }
            }
            i{
              position: absolute;
              right: 10px;
              top: 10px;
              font-size: 16px;
            }
          }
         }
      }
      .key{
        width:100%;
        height:50%;
        position: relative;
        .title{
          height:50px;
          .text{
            margin-left: 20px;
            font-size:20px;
            line-height:50px;
            font-weight: 500;
          }
          .select{
            display:inline-block;
            float:right;
            margin-top:4px;
            margin-right:150px;
          }
          .router{
            float: right;
            margin-right: 150px;
            margin-top: 60px;
            font-size: 14px;
            position: relative;
            z-index: 9;
            cursor: pointer;
            a{
              color: #00e4ff;
            }
          }
        }
        #keyword{
          width: 90%;
          height:calc(100% - 50px);
          position: absolute;
          top:50px;
          left:30px;
          background: url("./../../../static/image/hotWord.png") no-repeat;
          background-size: 100% auto;
        }

      }
    }
  }
</style>
