<template>
  <div class="htop">
    <div class="titleshow" v-if="route.includes('law')">
      <div class="all-amount-num box">
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="amount-content">
          <p class="text">2108年累计投诉</p>
          <div class="amount-numb numbe">
            <span>45</span>
          </div>
          <p class="compare">
            <span class="percent add">10%</span>
            <span class="percent-with">同比去年</span>
          </p>
        </div>
      </div>
      <div class="line box"></div>
      <div class="all-person-num box">
        <p class="text">
          本月累计投诉
        </p>
        <p class="person-numb numbe">
          <span>8</span>
        </p>
        <p class="compare">
          <span class="percent reduce">26%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="per-capita-num box">
        <p class="text">
          上月投诉
        </p>
        <p class="person-numb numbe">
          <span>12</span>
        </p>
        <p class="compare">
          <span class="percent reduce">26%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="operate-fun box">
        <p> <el-button>导入数据</el-button><el-button>对比分析</el-button></p>
        <p> <el-button>诊断建议</el-button><el-button>导出打印</el-button></p>
      </div>
    </div>
    <div class="titleshow" v-if="route.includes('urgency')">
      <div class="all-amount-num box">
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="amount-content">
          <p class="text">2108年累计报警</p>
          <div class="amount-numb numbe">
            <span>25</span>
          </div>
          <p class="compare">
            <span class="percent add">10%</span>
            <span class="percent-with">同比去年</span>
          </p>
        </div>
      </div>
      <div class="line box"></div>
      <div class="all-person-num box">
        <p class="text">
          本月累计报警
        </p>
        <p class="person-numb numbe">
          <span>4</span>
        </p>
        <p class="compare">
          <span class="percent reduce">26%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="per-capita-num box">
        <p class="text">
          上月报警
        </p>
        <p class="person-numb numbe">
          <span>12</span>
        </p>
        <p class="compare">
          <span class="percent reduce">26%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="operate-fun box">
        <!--<p> <el-button>导入数据</el-button><el-button>对比分析</el-button></p>-->
        <p> <el-button>导出打印</el-button></p>
      </div>
    </div>
    <div class="titleshow" v-if="route.includes('history')">
      <div class="all-amount-num box">
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="amount-content">
          <p class="text">2108年全域累计总客流量</p>
          <div class="amount-numb numbe">
            <span>124,345</span>
          </div>
          <p class="compare">
            <span class="percent add">10%</span>
            <span class="percent-with">同比去年</span>
          </p>
        </div>
      </div>
      <div class="line box"></div>
      <div class="all-person-num box">
        <p class="text">
          本月累计客流
        </p>
        <p class="person-numb numbe">
          <span>12000</span>
        </p>
        <p class="compare">
          <span class="percent reduce">26%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="per-capita-num box">
        <p class="text">
          上月总客流
        </p>
        <p class="person-numb numbe">
          <span>11680</span>
        </p>
        <p class="compare">
          <span class="percent reduce">26%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="per-capita-num box">
        <p class="text">
          截至客流最高月份
        </p>
        <p class="person-numb numbe">
          <span>2月</span>
        </p>
      </div>
      <div class="operate-fun box">
        <p> <el-button>导入数据</el-button><el-button>对比分析</el-button></p>
        <p> <el-button>诊断建议</el-button><el-button>导出打印</el-button></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'header',
  data () {
    return {
      route: ''
    }
  },
  methods: {
    showTitle () {
      this.route = this.$route.path
    }
  },
  watch: {
    '$route' () {
      this.showTitle()
    }
  },
  created () {
    this.showTitle()
  }
}
</script>

<style type="text/scss" lang="scss" scoped>
  .htop{
    .titleshow{
      width: 100%;
      height: 120px;
      padding: 15px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
      .box{
        float: left;
        .text{
          font-size: 12px;
          color: #999;
          line-height: 25px;
        }
        .numbe{
          font-size: 26px;
          color: #222;
          font-weight: 700;
          line-height: 40px;
        }
        .compare{
          font-size: 14px;
          margin-left: 15px;
          span:nth-of-type(2){
            color: #999;
          }
          .add{
            color: #ff441b;
            position: relative;
            &:before{
              position: absolute;
              left: -15px;
              top: 6px;
              border: 5px solid transparent;
              content: '';
              border-top-color: #ff441b;
            }
          }
          .reduce{
            color: #65d450;
            position: relative;
            &:before{
              position: absolute;
              left: -15px;
              top: 2px;
              border: 5px solid transparent;
              content: '';
              border-bottom-color: #65d450;
            }
          }
        }
      }
      .line{
        position: relative;
        width: 2px;
        height: 100%;
        background: #ccc;
        margin: 0 45px;
      }
      .all-amount-num{
        .image{
          float: left;
          line-height: 80px;
          margin: 0 20px;
          img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: inline-block;vertical-align: middle;
            background: red;
          }
        }
        .amount-content{
          float: left;
        }
      }
      .all-person-num{
        margin-right: 45px;
      }
      .per-capita-num{
        margin-right: 45px;
      }
      .operate-fun{
        float: right;
        p:nth-of-type(1){
          margin-bottom: 10px;
        }
      }
    }
  }

</style>
