<template>
  <div class="complain-low">
    <div class="tname">
      <div class="all-amount-num box">
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="amount-content">
          <p class="text">2108年累计投诉</p>
          <div class="amount-numb numbe">
            <span>{{lawYear.count}}</span>
          </div>
          <p class="compare">
            <span class="percent add">{{lawYear.growth}}%</span>
            <span class="percent-with">同比去年</span>
          </p>
        </div>
      </div>
      <div class="line box"></div>
      <div class="all-person-num box">
        <p class="text">
          本月累计投诉
        </p>
        <p class="person-numb numbe">
          <span>{{lawMonth.count}}</span>
        </p>
        <p class="compare">
          <span class="percent reduce">{{lawMonth.growth}}%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="per-capita-num box">
        <p class="text">
          上月投诉
        </p>
        <p class="person-numb numbe">
          <span>{{lawLastMonth.count}}</span>
        </p>
        <p class="compare">
          <span class="percent reduce">{{lawLastMonth.growth}}%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="operate-fun box">
        <p> <el-button>导入数据</el-button><el-button>对比分析</el-button></p>
        <p> <el-button>诊断建议</el-button><el-button>导出打印</el-button></p>
      </div>
    </div>
    <div class="content">
      <div class="title">
        <div class="main">投诉主体分布</div>
        <div class="area-date">
          <!--<el-select v-model="hotFromTime" placeholder="请选择">-->
            <!--<el-option value="按月">按月</el-option>-->
            <!--<el-option value="按年">按年</el-option>-->
          <!--</el-select>-->
          <el-date-picker
            v-model="hotDay"
            type="month"
            @change="check"
            placeholder="选择月份">
          </el-date-picker>
        </div>
      </div>
      <div class="police-type">
        <div id="bie"></div>
        <div class="tables">
          <ScrollContainer>
            <el-table
              stripe
              :data="cateringData"
              class="myPolice"
              @row-click="getRowData"
              style="width: 100%">
              <el-table-column
                prop="subject"
                label="投诉主体">
              </el-table-column>
              <el-table-column
                prop="type"
                label="投诉类型">
              </el-table-column>
              <el-table-column
                prop="complainCount"
                label="投诉件数">
              </el-table-column>
              <el-table-column
                prop="handleCount"
                label="处理件数">
              </el-table-column>
              <el-table-column
                prop="growth"
                label="同比增长">
                <template slot-scope="scope">
                  <span v-if="scope.row.growth > 0" class="add">{{scope.row.growth}}</span>
                  <span v-if="scope.row.growth === '-'" class="alike">{{scope.row.growth}}</span>
                  <span v-if="scope.row.growth < 0" class="reduce">{{scope.row.growth}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="source"
                label="投诉来源">
              </el-table-column>
            </el-table>
          </ScrollContainer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ScrollContainer from '@/components/ScrollContainer'
import api from '@/api'
export default {
  name: 'complain-law',
  data () {
    return {
      lawYear: '',
      lawMonth: '',
      lawLastMonth: '',
      hotFromTime: '月份',
      hotDay: '',
      num:'1',
      pieData:[],
      cateringData: []
    }
  },
  methods: {
    getRowData (row, event, column) {
      console.log(row)
    },
    async getLawYear (){
      await api.safeLaw.getTotalLaw('year').then(res =>{
        console.log(res,'年的投诉')
        this.lawYear = res
      })
    },
    async getLawMonth (){
      await api.safeLaw.getTotalLaw('month').then(res =>{
        console.log(res,'月的投诉')
        this.lawMonth = res
      })
    },
    async getLawLastMonth (){
      await api.safeLaw.getTotalLaw('lastmonth').then(res =>{
        console.log(res,'上月的投诉')
        this.lawLastMonth = res
      })
    },
    async getAlltypes(){
      await api.safeLaw.getAllType(this.num).then(res =>{
        console.log(res,'所有的数据')
        this.cateringData = res
      })
    },
    async getPie(){
      await api.safeLaw.getAnalyze().then(res =>{
//        console.log(res,'饼图数据')
        for(let i=0;i<res.length; i++){

          res[i].percent = Number(res[i].percent)
        }
        res.forEach(item => {
          let obj = {
            name: item.name,
            value: item.percent
          }
          this.pieData.push(obj)
        })
        console.log(this.pieData,"())))))))))))")
        let myMap = this.$echarts.init(document.getElementById('bie'))
        myMap.setOption({
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c} ({d}%)'
          },
          legend: {
            formatter: (name)=>{
              let total = 0;
              let target;
              for (let i = 0; i <  this.pieData.length; i++) {
                total += this.pieData[i].value;
                if (this.pieData[i].name === name) {
                  target = this.pieData[i].value
                }
              }
              return name + '   ' + ((target / total) * 100).toFixed(0) + ' % '
            },
            icon: 'circle',
            orient: 'vertical',
            x: 'left',
            left: '8%',
            top: '2%',
            itemHeight: 20,
//          data: ['酒店', '景区', '餐饮', '其他'],
            textStyle: {
              color: '#02daf5',
              fontSize: 16
            }
          },
          series: [
            {
              type: 'pie',
              radius: '55%',
              label: {
                fontSize: 14,
                color: '#557dda',
                formatter: '{b}: {d}%'
              },
              labelLine: {
                lineStyle: {
                  color: '#a999f2'
                }
              },
              center: ['50%', '55%'],
              data: this.pieData,
              itemStyle: {
                emphasis: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ],
          color: ['#2c24ad', '#4141c2', '#1d3455', '#cc75ec', '#7e44d7']
        })
      })

    },
    check(val){
      console.log(val)
      console.log(val.getMonth())
      let target = val.getMonth()+1
      this.num = target
      this.getAlltypes()

    }
  },
  mounted () {

  },
  created () {
    this.getLawYear()
    this.getLawMonth()
    this.getLawLastMonth()
    this.getAlltypes()
    this.getPie()
  },
  components: {
    ScrollContainer
  }
}
</script>
<style lang="scss">
  .complain-low{
  .el-select{
    width: 100px;
  }
  .el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 125px;
  }
  .el-input__inner , .el-button{
    background-color: transparent;
    color:#02daf5;
    border:1px solid #03738b
  }
  .el-table{
    color: #01e2ff;
    background: transparent;
  }
  .el-table thead{
    color: #fff;
  }
  .el-table th,.el-table tr{
    background-color: transparent;
  }
  .el-table thead tr{
    background-color: #03243d;
  }
  .el-table td, .el-table th.is-leaf{
    border-bottom: 1px solid transparent;
  }
  .el-table td{
    border-color: transparent;
  }
  .el-table--striped .el-table__body tr.el-table__row--striped td{
    background: #03243d;
  }
  .el-table--border::after, .el-table--group::after, .el-table::before{
    background-color: transparent;
  }
  }
</style>

<style scoped lang="scss" type="text/scss">
  .complain-low{
    width:100%;
    height:100%;
    color:#fff;
    position: relative;
    background: url("./../../../static/image/city.png") no-repeat;
    background-size: 100% auto;
    .tname{
      width: 100%;
      height: 120px;
      padding: 15px;
      box-sizing: border-box;
      position: absolute;
      top:100px;
      left:0;
      border-radius: 5px;
      span{
        color:#02daf5;
      }
      .box{
        float: left;
        .text{
          font-size: 12px;
          color:#02daf5;
          line-height: 25px;
        }
        .numbe{
          font-size: 26px;
          color: #222;
          font-weight: 700;
          line-height: 40px;
        }
        .compare{
          font-size: 14px;
          margin-left: 15px;
          span:nth-of-type(2){
            color: #999;
          }
          .add{
            color: #ff441b;
            position: relative;
            &:before{
              position: absolute;
              left: -15px;
              top: 6px;
              border: 5px solid transparent;
              content: '';
              border-top-color: #ff441b;
            }
          }
          .reduce{
            color: #65d450;
            position: relative;
            &:before{
              position: absolute;
              left: -15px;
              top: 2px;
              border: 5px solid transparent;
              content: '';
              border-bottom-color: #65d450;
            }
          }
        }
      }
      .line{
        position: relative;
        width: 2px;
        height: 100%;
        background: #ccc;
        margin: 0 45px;
      }
      .all-amount-num{
        .image{
          float: left;
          line-height: 80px;
          margin: 0 20px;
          img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: inline-block;vertical-align: middle;
            background: red;
          }
        }
        .amount-content{
          float: left;
        }
      }
      .all-person-num{
        margin-right: 45px;
      }
      .per-capita-num{
        margin-right: 45px;
      }
      .operate-fun{
        float: right;
        p:nth-of-type(1){
          margin-bottom: 10px;
        }
      }
    }
    .content{
      width:100%;
      height:70%;
      position: absolute;
      background: url("./../../../static/image/faw-police.png") no-repeat;
      background-size: 100% auto;
      top:30%;
      left:0;
      .title{
        width:100%;
        height:10%;
        display: flex;
        justify-content: space-between;
        .main{
          margin-top: 22px;
          margin-left: 10px;
        }
        .area-date{
          background: transparent;
          margin-right: 40px;
        }
      }
      .police-type{
        display: flex;
        justify-content: space-between;
        width:100%;
        height:90%;
        #bie{
          width:50%;
          height:100%;
        }
        .tables{
          width: 50%;
          height: 100%;
          padding:2px 20px;
          box-sizing: border-box;
          .leftimg{
            position: absolute;
            width: 114px;
            height: 14px;
            background: url("./../../../static/image/fromleft.png") no-repeat;
            left: 0;
            top: 0;
            margin-left: -4px;
            margin-top: -4px;
            z-index: 2018;
          }
          .rightimg{
            position: absolute;
            width: 114px;
            height: 14px;
            background: url("./../../../static/image/fromRight.png") no-repeat;
            right: 0;
            top: 38px;
            z-index: 2018;
            margin-right: -4px;
          }
        }
      }
    }
    .reduce{
      color: #e82e00;
    }
    .alike{
      color:#ffb400;
    }
    .add{
      color: #10de71;
    }
  }
</style>
