<template>
    <div class="media-monitor">
      <div class="media-left">
        <div class="title">
          <span>主流媒体正负面占比</span>
        </div>
        <div class="message">
          <div class="time">
            <span v-for="(days,index) in timeDay" :key="index" @click="chose(index)">
              {{days}}
            </span>
          </div>
          <div id="mediaRatio"></div>
        </div>
      </div>
      <div class="media-right">
        <div class="title">
          <span class="text">负面报道列表</span>
        </div>
        <div class="mediaList">
          <div class="news" v-for="item in newsData" :key="item.index">
            <span class="tit">{{item.content}}</span>
            <span class="way">{{item.source}}</span>
            <span class="day">{{item.date}}</span>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'media-monitor',
  data () {
    return {
      newsData: [],
      echartData: {
        mediaName: [],
        positivePercent: [],
        negativePercent: []
      },
      timeType: 'week',
      timeDay: ['今天', '昨天', '近一周', '近一月']
    }
  },
  methods: {
    drawMedia () {
      let myReport = new this.$echarts.init(document.getElementById('mediaRatio'))
      myReport.clear()
      myReport.setOption({
        title: {
          textStyle: {
            text: 'niaho',
            color: '#fff'
          }
        },
        legend: {
          data: ['正面', '负面'],
          textStyle: {
            color: '#fff',
            fontSize: 16
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          show: false,
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        yAxis: {
          type: 'category',
          offset: -30,
          axisLine: {
            show: false,
            lineStyle: {
              color: '#02daf5',
              width: 0.5
            }
          },
          axisLabel: {
            margin: 150,
            textStyle: {
              fontSize: 20
            }
          },
          data: this.echartData.mediaName,
          axisTick: {
            show: false
          }
        },
        series: [
          {
            name: '正面',
            type: 'bar',
            stack: '总量',
            itemStyle: {
              normal: {
                color: '#2b6ecf'
              }
            },
            label: {
              normal: {
                show: true,
                position: 'insideRight'
              }
            },
            data: this.echartData.positivePercent
          },
          {
            name: '负面',
            barWidth: '25%',
            stack: '总量',
            type: 'bar',
            center: ['50%', '40%'],
            data: this.echartData.negativePercent,
            itemStyle: {
              normal: {
                color: new this.$echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                  offset: 0,
                  color: '#381933'
                },
                {
                  offset: 1,
                  color: '#e63668'
                }
                ])
              }
            },
            label: {
              normal: {
                show: true,
                position: 'right',
                color: '#fff'
              }
            }
          }
        ]
      }, true)
    },
    async getAllMedia () {
      await api.safeMedia.getNegative().then(res => {
        console.log(res, '负面报道')
        this.newsData = res
      })
    },
    getReport () {
      api.safeMedia.getMixed(this.timeType).then(res => {
        for (let i = 0; i < res.length; i++) {
          this.echartData.mediaName.push(res[i].mediaName)
          this.echartData.positivePercent.push(res[i].positivePercent)
          this.echartData.negativePercent.push(res[i].negativePercent)
        }
        this.drawMedia()
      })
    },
    chose (index) {
      console.log(index)
      this.echartData = {
        mediaName: [],
        positivePercent: [],
        negativePercent: []
      }
      if (index === 0) {
        this.timeType = 'today'
        this.getReport()
      } else if (index === 1) {
        this.timeType = 'yesterday'
        this.getReport()
      } else if (index === 2) {
        this.timeType = 'week'
        this.getReport()
      } else {
        this.timeType = 'month'
        this.getReport()
      }
    }
  },
  mounted () {
    this.getAllMedia()
  },
  created () {
    this.getReport()
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .media-monitor{
    width:100%;
    height:100%;
    color:#fff;
    display: flex;
    justify-content: space-between;
    .media-left{
      width:55%;
      height:100%;
      background: url("./../../../static/image/city.png") no-repeat;
      background-size: 100% auto;
      .title{
        width:100%;
        height:150px;
        padding-left: 30px;
        padding-top: 10px;
        box-sizing: border-box;
        span{
          font-size: 20px;
          color:#fff;
        }
      }
      .message{
        width:100%;
        height:calc(100% - 150px);
        position: relative;
        .time{
          height:40px;
          margin-right:30px;
          padding-top:15px;
          box-sizing: border-box;
          color:#03b5cd;
          position: absolute;
          top:10px;
          right:10px;
          cursor: pointer;
          span{
            margin:0;
            border:1px solid #03b5cd;
            display:inline-block;
            float:left;
            padding:2px 10px;
            &:nth-of-type(1){
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            &:nth-of-type(4) {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
        #mediaRatio{
          width:100%;
          height:calc(100% - 50px);
          /*border:1px solid green;*/
          position: absolute;
          top:50px;
          left:0;
          background: url("./../../../static/image/mainstream.png") no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .media-right{
      width:45%;
      height:100%;
      background: url("./../../../static/image/realRight.png") no-repeat;
      background-size: 100% auto;
      padding:20px 25px 5px 25px;
      box-sizing: border-box;
      .title{
        width:100%;
        height:100px;
        span{
          line-height: 30px;
          font-size:20px;
          padding-left: 30px;
        }
      }
      .mediaList{
        width:100%;
        height:calc(100% - 100px);
        background: url("./../../../static/image/media-right.png") no-repeat;
        background-size: 100% 100%;
        padding: 20px 20px 20px 20px;
        box-sizing: border-box;
        .news{
          border:1px solid #043b52;
          margin: 10px auto;
          width:90%;
          height:55px;
          display: flex;
          color:#03647c;
          background-color: #081632;
          justify-content: space-between;
          span{
            display: inline-block;
            padding-top: 10px;
          }
          .tit{
            width:60%;
            margin-left: 20px;
          }
          .day{
            width:20%;
          }
        }
      }
    }
  }
</style>
