<template>
    <div class="price-monitor">
      <div class="tendency">
        <div class="title">
          <span>价格走势</span>
        </div>
        <div class="source">
          <div class="data">
            <div class="guide">数据来源</div>
            <div class="sources1">
              <span>综合数据</span>
            </div>
            <div class="sources2">
              <span :class="activeIndex === 'hotel'?'active':''" @click="changeType('hotel')">酒店</span>
              <span :class="activeIndex === 'homestay'?'active':''" @click="changeType('homestay')">民宿</span>
              <span :class="activeIndex === 'catering'?'active':''" @click="changeType('catering')">餐饮</span>
            </div>
          </div>
          <div class="price">
            <span>均价:</span> <span>￥{{averagePrice}}</span>
            <span>同比去年</span>
            <span>{{proportionLastYear}}%</span>
          </div>
        </div>
        <div class="echart">
          <div class="echartTitle">
            <div class="police">
              <span>最高警戒线:</span><span>3200</span>
              <span>最低警戒线:</span><span>699</span>
            </div>
            <div class="chose">
              <el-select v-model="choseType" placeholder="请选择" @change="rank">
                <el-option
                  v-for="item in types"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </div>
          </div>
          <div id="price">
          </div>
        </div>
      </div>
      <div class="abnormal">
        <div class="title">
          <span class="text">价格异常记录</span>
        </div>
        <div id="record">
          <div class="details" v-for="news in prices" v-bind:key="news.index">
            <p><span>渠道:</span> <span>{{news.source}}</span></p>
            <p><span>时间:</span> <span>{{news.date}}</span></p>
            <p><span>异常:</span> <span class="warn">{{news.content}}</span></p>
            <p><span>地方:</span> <span >{{news.name}}</span></p>
            <img src="./../../../static/image/price.png" alt="">
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import api from '@/api'

export default {
  name: 'price-monitor',
  data () {
    return {
      kind: 'ticket',
      classify: 'hotel',
      averagePrice: 0,
      proportionLastYear: 0,
      starLevel: 5,
      types: [
        {value: '五星级', label: '五星级'},
        {value: '四星级', label: '四星级'},
        {value: '三星级', label: '三星级'}
      ],
      prices: [],
      oldData: [2000, 122, 3121, 54, 60, 2630, 1150, 2442, 1292],
      newData: [1130, 812, 1134, 2361, 413, 1330, 1301, 594, 1230],
      choseType: '五星级',
      activeIndex: 'hotel'
    }
  },
  methods: {
    init () {
      if (this.classify === 'hotel') {
        this.classify = this.classify + '?star=' + this.starLevel
      }
      this.getLineEchart()
    },
    rank (val) {
      if (val === '五星级') {
        this.starLevel = 5
        if (this.classify === 'hotel') {
          this.classify = this.classify + '?star=' + this.starLevel
        }
      } else if (val === '四星级') {
        this.starLevel = 4
        if (this.classify === 'hotel') {
          this.classify = this.classify + '?star=' + this.starLevel
        }
      } else {
        this.starLevel = 3
        if (this.classify === 'hotel') {
          this.classify = this.classify + '?star=' + this.starLevel
        }
      }
      this.getLineEchart()
    },
    change (kindType) {
      console.log(this.classify, 'this.classify kindType')
      let arr = []
      this.kind = kindType
      arr = this.classify.split('?')
      this.classify = arr[0]
      if (this.classify === 'hotel') {
        this.classify = this.classify + '?star=' + this.starLevel
      }
      this.getLineEchart()
    },
    changeType (str) {
      this.activeIndex = str
      if (str === 'hotel') {
        this.classify = str + '?star=' + this.starLevel
      } else {
        this.classify = str
      }
      this.getLineEchart()
    },
    async getLineEchart () {
      await api.safePrice.getYearPrice(this.kind, this.classify).then(res => {
        this.averagePrice = res.averageprice
        this.proportionLastYear = res.growth
      }).catch(err => {
        console.log(err)
      })
      await api.safePrice.getDayPrice(this.kind, this.classify).then(res => {
        let legent = []
        let data = []
        let xData = []
        let arr = []
        let obj = {
          value: '',
          name: ''
        }
        for (let i = 0; i < res.length; i++) {
          legent.push(res[i].year)
          xData = []
          for (let j = 0; j < res[i].priceDays.length; j++) {
            obj.value = res[i].priceDays[j].averageprice
            obj.name = res[i].priceDays[j].day
            arr.push(obj)
            xData.push(res[i].priceDays[j].day)
            obj = {
              value: '',
              name: ''
            }
          }
          data.push(arr)
          arr = []
        }
        let that = this
        let option = {
          tooltip: {
            trigger: 'axis',
            textStyle: {
              fontSize: 15,
              color: '#fff'
            }
          },
          legend: {
            orient: 'horizontal',
            right: '10%',
            top: 30,
            itemGap: 20,
            data: legent,
            textStyle: {
              color: '#fff'
            }
          },
          toolbox: {
            show: true,
            orient: 'vertical',
            right: '5%',
            top: 25,
            itemGap: 20,
            feature: {
              magicType: {
                show: false,
                type: ['line', 'bar']
              },
              restore: {
                show: false
              },
              saveAsImage: {
                show: true
              }
            },
            iconStyle: {
              normal: {
                color: '#2e7fc4'
              }
            }
          },
          grid: {
            show: true,
            left: 60,
            top: 34,
            right: 44,
            bottom: 42,
            borderWidth: 0
          },
          xAxis: [{
            type: 'category',
            boundaryGap: false,
            data:xData,
            splitLine: { // 坐标轴在 grid 区域中的分隔线；
              show: false,
              lineStyle: { // 分割线颜色，可设单个，也可以设置数组。
                color: 'rgba(170,172,178,0.33)'
              }
            },
            axisLine: { // 坐标轴轴线相关设置。就是数学上的x轴
              show: false,
              lineStyle: {
                color: 'rgba(170,172,178,0.53)'
              }
            },
            axisLabel: {
              textStyle: {
                color: 'rgba(255,255,255,0.83)',
                fontSize: 15
              }
            }
          }],
          yAxis: [{
            type: 'value',
            min: 0,
            //   max: 4000,
            splitLine: {
              show: false,
              lineStyle: {
                color: 'rgba(170,172,178,0.33)'
              }
            },
            axisLine: { // 坐标轴轴线相关设置。就是数学上的y轴
              show: false,
              lineStyle: {
                color: 'rgba(170,172,178,0.53)'
              }
            },
            axisLabel: {
              textStyle: {
                color: 'rgba(255,255,255,0.83)',
                fontSize: 12
              }
            },
            splitArea: {
              show: false,
              areaStyle: {
                color: ['#112245', 'rgba(34,50,82,0.4)']
              }
            }
          }],
          series: [{
            name: '2017',
            type: 'line',
            smooth: true, // 是否平滑曲线显示
            lineStyle: { // 线条样式
              normal: {
                width: 1
              }
            },
            areaStyle: { // 区域填充样式
              normal: {
                // 线性渐变，前4个参数分别是x0,y0,x2,y2(范围0~1);相当于图形包围盒中的百分比。如果最后一个参数是‘true’，则该四个值是绝对像素位置。
                color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: '#5458a1'
                }, {
                  offset: 0.7,
                  color: '#4c4792'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.9)', // 阴影颜色
                shadowBlur: 10 // shadowBlur设图形阴影的模糊大小。配合shadowColor,shadowOffsetX/Y, 设置图形的阴影效果。
              }
            },
            itemStyle: { // 折现拐点标志的样式
              normal: {
                color: 'rgb(0,255,255)'
              }
            },
            data:data[0],
            markPoint: {
              data: [{
                type: 'max'
              }],
              symbolSize: 50,
              itemStyle: {
                normal: {
                  borderColor: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(151, 210, 190, 0.5)'
                  }, {
                    offset: 0.8,
                    color: 'rgba(73, 174, 169, 0.8)'
                  }], false),
                  borderWidth: 12,
                  color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: '#97F6B4'
                  }, {
                    offset: 0.8,
                    color: '#96ceaa'
                  }], false),
                  label: {
                    show: true,
                    fontSize: 14,
                    color: '#fff'
                  },
                  shadowColor: 'rgba(143, 215, 192, 1)',
                  shadowBlur: 40,
                  shadowOffsetX: 0
                }
              }
            }
          }, {
            name: '2018',
            type: 'line',
            smooth: true,
            lineStyle: {
              normal: {
                width: 1
              }
            },
            areaStyle: {
              normal: {
                color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color: '#6083c3'
                }, {
                  offset: 0.8,
                  color: '#2377b2'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.9)',
                shadowBlur: 10
              }
            },
            itemStyle: {
              normal: {
                color: 'rgb(240,231,80)'

              }
            },
            data: data[1],
            markPoint: {
              data: [{
                type: 'max'
              }],
              symbolSize: 50,
              itemStyle: {
                normal: {
                  borderColor: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(151, 210, 190, 0.5)'
                  }, {
                    offset: 0.8,
                    color: 'rgba(73, 174, 169, 0.8)'
                  }], false),
                  borderWidth: 12,
                  color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: '#97F6B4'
                  }, {
                    offset: 0.8,
                    color: '#96ceaa'
                  }], false),
                  label: {
                    show: true,
                    fontSize: 14,
                    color: '#fff'
                  },
                  shadowColor: 'rgba(143, 215, 192, 1)',
                  shadowBlur: 40,
                  shadowOffsetX: 0
                }
              }
            }
          }

          ] // series结束
        } // option结束
        var dom = document.getElementById('price')
        var myChart = this.$echarts.init(dom)
        myChart.setOption(option, true)
      }).catch(err => {
        console.log(err)
      })
    },
    async getPriceRecord () {
      await api.safePrice.getUnusual().then(res =>{
        console.log(res,'价格异常记录')
        this.prices = res
      })
    }
  },
  mounted () {
    this.init()
  },
  created () {
    this.getPriceRecord()
  }
}
</script>

<style lang="scss">
  .price-monitor{
    .hotel{
      .el-input__inner{
        height: 33px;
        line-height: 33px;
        color:#00ffff;
      }
      .el-input--suffix .el-input__inner{
        padding-right: 0;
        width:130px;
      }
    }
    .el-input__inner{
      background: transparent;
      height: 30px;
      line-height: 30px;
      border-color: transparent;
      box-shadow:0 0 40px -10px #0487bd inset;
    }
  }
</style>

<style scoped lang="scss" type="text/scss">
  .price-monitor{
    width:100%;
    height:100%;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    .tendency{
      width:55%;
      height:100%;
      background: url("./../../../static/image/city.png") no-repeat;
      background-size: 100% auto;
      position: relative;
      .title{
        margin-left:30px;
        font-size: 18px;
        line-height:50px;
        font-weight: 500;
        width:100%;
        height:10%;
      }
      .source{
        position: absolute;
        top:120px;
        left:30px;
        width:100%;
        .data{
          color:#00ceed;
          display: flex;
          .guide{
            height:44px;
            line-height: 44px;
          }
          .sources1{
            margin-left: 20px;
            padding-top:10px;
            box-sizing: border-box;
            span{
              margin:0;
              border:1px solid #00ceed;
              display:inline-block;
              float:left;
              padding:2px 10px;
              border-radius: 5px;
            }
          }
          .sources2{
            margin-left: 20px;
            padding-top:10px;
            box-sizing: border-box;
            position: absolute;
            top:40px;
            left:60px;
            span{
              margin:0;
              border:1px solid #00ceed;
              display:inline-block;
              float:left;
              padding:2px 20px;
              cursor: pointer;
              &:nth-of-type(1){
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
              &:nth-of-type(3) {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }
            }
          }
        }
        .price{
          color:#00ffff;
          position: absolute;
          top:100px;
          left:0;
        }
      }
      .echart{
        width:95%;
        height:60%;
        /*border:1px solid #2bf03a;*/
        position: absolute;
        top: 30%;
        left:30px;
        .echartTitle{
          width:100%;
          height:80px;
          color:#00ffff;
          display: flex;
          justify-content: space-between;
          .police{
            margin-top: 50px;
          }
          .chose{
            width:100px;
            margin-right: 100px;
            line-height: 80px;
          }
        }
        #price{
          width:100%;
          height:calc(100% - 80px);
          background: url("./../../../static/image/bg1.png") no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .abnormal{
      width:45%;
      height:100%;
      background: url("./../../../static/image/price-1.png") no-repeat;
      background-size: 100% auto;
      position: relative;
      .title{
        margin-left:20px;
        margin-top: 20px;
        font-size: 20px;
      }
      #record{
        position: absolute;
        top:15%;
        left:5%;
        height:85%;
        width:90%;
        background: url("./../../../static/image/bg2.png") no-repeat;
        background-size: 100% 100%;
        .details{
          border:1px solid #0c375d;
          width:90%;
          height:150px;
          margin-left:30px;
          margin-top: 20px;
          position: relative;
          p{
            margin:10px 2px 12px 20px;
          }
          .warn{
            color:red;
          }
          img{
            position:absolute;
            right:100px;
            bottom: 2px;
            width:90px;
            height:120px;
          }
        }
      }
    }
    .active{
      background: #00e4ff;
      color: #fff;
    }
  }
</style>
