<template>
  <div class="urgency">
    <div class="tname">
      <div class="all-amount-num box">
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="amount-content">
          <p class="text">2108年累计报警</p>
          <div class="amount-numb numbe">
            <span>{{totalYear.count}}</span>
          </div>
          <p class="compare">
            <span class="percent add">{{totalYear.growth}}%</span>
            <span class="percent-with">同比去年</span>
          </p>
        </div>
      </div>
      <div class="line box"></div>
      <div class="all-person-num box">
        <p class="text">
          本月累计报警
        </p>
        <p class="person-numb numbe">
          <span>{{totalMonth.count}}</span>
        </p>
        <p class="compare">
          <span class="percent reduce">{{totalMonth.growth}}%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="per-capita-num box">
        <p class="text">
          上月报警
        </p>
        <p class="person-numb numbe">
          <span>{{totalLastMonth.count}}</span>
        </p>
        <p class="compare">
          <span class="percent reduce">{{totalLastMonth.growth}}%</span>
          <span class="percent-with">同比去年</span>
        </p>
      </div>
      <div class="operate-fun box">
        <p> <el-button>导出打印</el-button></p>
      </div>
    </div>
    <div class="content">
      <div class="title">
        <div class="main">报警类型分布</div>
        <div class="area-date">
          <!--<el-select v-model="hotFromTime" placeholder="请选择"-->
            <!--&gt;-->
            <!--<el-option value="按年">按年</el-option>-->
            <!--<el-option value="按月">按月</el-option>-->
            <!--<el-option value="按日">按日</el-option>-->
          <!--</el-select>-->
          <el-date-picker
            v-model="hotDay"
            type="month"
            @change="checkType"
            placeholder="选择月份">
          </el-date-picker>
        </div>
      </div>
      <div class="police-type">
        <div id="bie"></div>
        <div class="tables">
          <ScrollContainer>
            <el-table
              stripe
              :data="cateringData"
              class="myPolice"
              @row-click="getRowData"
              style="width: 100%">
              <el-table-column
                prop="type"
                label="警报类型">
              </el-table-column>
              <el-table-column
                prop="location"
                label="位置">
              </el-table-column>
              <el-table-column
                prop="date"
                label="报警时间">
              </el-table-column>
              <el-table-column
                prop="status"
                label="状态">
                <template slot-scope="scope">
                  <span v-if="scope.row.status === '未接警'" class="none">{{scope.row.status}}</span>
                  <span v-if="scope.row.status === '处理中'" class="march">{{scope.row.status}}</span>
                  <span v-if="scope.row.status === '已处理'" class="finish">{{scope.row.status}}</span>
                </template>
              </el-table-column>
            </el-table>
          </ScrollContainer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ScrollContainer from '@/components/ScrollContainer'
import api from '@/api'
export default {
  name: 'complain-law',
  data () {
    return {
      hotFromTime: '月份',
      hotDay: '',
      totalYear:'',
      totalMonth:'',
      num:'1',
      pieData:[],
      changeType:'month',
      totalLastMonth:'',
      cateringData: []
    }
  },
  methods: {
    getRowData (row, event, column) {
      console.log(row)
    },
    drawBie () {
//      let data1 = [
//        {value: 1548, name: '景区A'},
//        {value: 535, name: '景区B'},
//        {value: 510, name: '景区C'},
//        {value: 634, name: '景区D'},
//        {value: 735, name: '其  他'}
//      ]
    },
    async getTotalY () {
      await api.safePolice.getTotalYear('year').then(res =>{
        console.log(res,'年的报警')
        this.totalYear = res
      })
    },
    async getTotalM () {
      await api.safePolice.getTotalYear('month').then(res =>{
        console.log(res,'本月报警')
        this.totalMonth = res
      })
    },
    async getTotalL () {
      await api.safePolice.getTotalYear('lastmonth').then(res =>{
        console.log(res,'本月报警')
        this.totalLastMonth = res
      })
    },
    async getPoliceTypeY () {
      await api.safePolice.getAllType(this.num).then(res =>{
        console.log(res,'年类型')
        this.cateringData = res
      })
    },
    checkType(val){
      console.log(val)
      let target = val.getMonth()+1
      this.num = target
      this.getPoliceTypeY()

//      if(val=='按年'){
//          this.changeType = 'year';
//        this.getPoliceTypeY()
//      }else if(val== '按月'){
//        this.changeType = 'month';
//        this.getPoliceTypeY()
//      }else{
//        this.changeType = 'day';
//        this.getPoliceTypeY()
//      }
    },
//    async getPoliceType (){
//      await api.safePolice.getAllType('item')
//    }
    async getPie(){
      await api.safePolice.getPolice().then(res =>{
        console.log(res,'????')
        for(let i=0;i<res.length;i++){
          res[i].percent = Number(res[i].percent)
        }
        res.forEach(item =>{
          let obj = {
            name: item.name,
            value: item.percent
          }
          this.pieData.push(obj)
        })
        let myMap = this.$echarts.init(document.getElementById('bie'))
        myMap.setOption({
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c} ({d}%)'
          },
          legend: {
            formatter: (name)=> {
              let total = 0
              let target
              for (let i = 0, l = this.pieData.length; i < l; i++) {
                total += this.pieData[i].value
                if (this.pieData[i].name === name) {
                  target = this.pieData[i].value
                }
              }
              return name + '   ' + ((target / total) * 100).toFixed(0) + ' % '
            },
            icon: 'circle',
            orient: 'vertical',
            x: 'left',
            left: '8%',
            top: '2%',
            itemHeight: 20,
            data: ['景区A', '景区B', '景区C', '景区D', '其  他'],
            textStyle: {
              color: '#02daf5',
              fontSize: 16
            }
          },
          series: [
            {
              type: 'pie',
              radius: '55%',
              label: {
                fontSize: 14,
                color: '#557dda',
                formatter: '{b}: {d}%'
              },
              labelLine: {
                lineStyle: {
                  color: '#a999f2'
                }
              },
              center: ['50%', '55%'],
//            data: [
//              {value: 1548, name: '景区A'},
//              {value: 535, name: '景区B'},
//              {value: 510, name: '景区C'},
//              {value: 634, name: '景区D'},
//              {value: 735, name: '其  他'}
//            ],
              data: this.pieData,
              itemStyle: {
                emphasis: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ],
          color: ['#2c24ad', '#4141c2', '#1d3455', '#cc75ec', '#7e44d7']
        })
      })
    }
  },
  mounted () {

  },
  created () {
    this.getTotalY()
    this.getTotalM()
    this.getTotalL()
    this.getPoliceTypeY()
    this.getPie()
  },
  components: {
    ScrollContainer
  }
}
</script>
<style lang="scss">
  .urgency{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 125px;
    }
    .el-input__inner , .el-button{
      background-color: transparent;
      color:#02daf5;
      border:1px solid #03738b
    }
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: #03243d;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: #03243d;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
  }
</style>

<style scoped lang="scss" type="text/scss">
  .urgency{
    width:100%;
    height:100%;
    color:#fff;
    position: relative;
    background: url("./../../../static/image/city.png") no-repeat;
    background-size: 100% auto;
    .tname{
      width: 100%;
      height: 120px;
      padding: 15px;
      box-sizing: border-box;
      position: absolute;
      top:100px;
      left:0;
      border-radius: 5px;
      span{
        color:#02daf5;
      }
      .box{
        float: left;
        .text{
          font-size: 12px;
          color:#02daf5;
          line-height: 25px;
        }
        .numbe{
          font-size: 26px;
          color: #222;
          font-weight: 700;
          line-height: 40px;
        }
        .compare{
          font-size: 14px;
          margin-left: 15px;
          span:nth-of-type(2){
            color: #999;
          }
          .add{
            color: #ff441b;
            position: relative;
            &:before{
              position: absolute;
              left: -15px;
              top: 6px;
              border: 5px solid transparent;
              content: '';
              border-top-color: #ff441b;
            }
          }
          .reduce{
            color: #65d450;
            position: relative;
            &:before{
              position: absolute;
              left: -15px;
              top: 2px;
              border: 5px solid transparent;
              content: '';
              border-bottom-color: #65d450;
            }
          }
        }
      }
      .line{
        position: relative;
        width: 2px;
        height: 100%;
        background: #ccc;
        margin: 0 45px;
      }
      .all-amount-num{
        .image{
          float: left;
          line-height: 80px;
          margin: 0 20px;
          img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: inline-block;vertical-align: middle;
            background: red;
          }
        }
        .amount-content{
          float: left;
        }
      }
      .all-person-num{
        margin-right: 45px;
      }
      .per-capita-num{
        margin-right: 45px;
      }
      .operate-fun{
        float: right;
        padding-right: 100px;
        p:nth-of-type(1){
          margin-bottom: 10px;
        }
      }
    }
    .content{
      width:100%;
      height:70%;
      position: absolute;
      background: url("./../../../static/image/faw-police.png") no-repeat;
      background-size: 100% auto;
      top:30%;
      left:0;
      .title{
        width:100%;
        height:10%;
        display: flex;
        justify-content: space-between;
        .main{
          margin-top: 22px;
          margin-left: 10px;
        }
        .area-date{
          background: transparent;
          margin-right: 40px;
        }
      }
      .police-type{
        display: flex;
        justify-content: space-between;
        width:100%;
        height:90%;
        #bie{
          width:50%;
          height:100%;
        }
        .tables{
          width: 50%;
          height: 100%;
          padding:2px 20px;
          box-sizing: border-box;
          .leftimg{
            position: absolute;
            width: 114px;
            height: 14px;
            background: url("./../../../static/image/fromleft.png") no-repeat;
            left: 0;
            top: 0;
            margin-left: -4px;
            margin-top: -4px;
            z-index: 2018;
          }
          .rightimg{
            position: absolute;
            width: 114px;
            height: 14px;
            background: url("./../../../static/image/fromRight.png") no-repeat;
            right: 0;
            top: 38px;
            z-index: 2018;
            margin-right: -4px;
          }
        }
      }
    }
    .none{
      color: #e82e00;
    }
    .march{
      color:#ffb400;
    }
    .finish{
      color: #10de71;
    }
  }
</style>
