<template>
  <div class="analyze">
    <div class="content">
      <div class="analyze-link">
        <div class="left-link">
          <img src="./../../static/image/titleLeft.png" alt="">
          <span @click="goRouter(item.index)" v-for="item in linkLeft" :key="item.index" :class="route.includes(item.index)? 'activeStyle': ''">{{item.title}}</span>
        </div>
        <div class="title-image">
          <img src="./../../static/image/title.png" alt="">
        </div>
        <div class="right-link">
          <img src="./../../static/image/titleRight.png" alt="">
          <span @click="goRouter(item.index)" v-for="item in linkRight" :key="item.index" :class="route.includes(item.index)? 'activeStyle': ''">{{item.title}}</span>
        </div>
        <div class="userInfo">
          <img src="" alt="">
        </div>
      </div>
      <div class="ana-contant">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'analyze',
  data () {
    return {
      linkLeft: [
        { index: '/analyze/resource', title: '资源查询' },
        { index: '/analyze/passenger', title: '客流检测' },
        { index: '/analyze/safety', title: '安全监控' },
        { index: '/analyze/traffic', title: '交通监控' },
        { index: '/analyze/environment', title: '环境监测' },
        { index: '/analyze/consume', title: '消费分析' }
      ],
      linkRight: [
        { index: '/analyze/vister', title: '游客画像' },
        { index: '/analyze/Channel', title: '渠道分析' },
        { index: '/analyze/holiday', title: '节假日分析' },
        { index: '/analyze/travelAgency', title: '涉旅信用' }
      ],
      activeIndex: '',
      nowTime: new Date().getTime(),
      route: ''
    }
  },
  methods: {
    handleSelect () {
      console.log(2222)
    },
    getTime () {
      this.nowTime = new Date().getTime()
    },
    goRouter (item) {
      console.log(888888888888)
      this.$router.push(item)
    }
  },
  created () {
    this.route = this.$route.path
    setInterval(this.getTime, 1000)
  },
  filters: {
    timeFormat (item) {
      if (item) {
        return moment(item).format('HH:mm')
      }
    },
    dayFormat (item) {
      if (item) {
        return moment(item).format('YYYY-MM-DD')
      }
    }
  },
  watch: {
    '$route' () {
      this.route = this.$route.path
    }
  }
}
</script>

<style lang="scss">
  .analyze {
    .el-menu{
      background-color: transparent;
      display: flex;
    }
    .el-menu-item{
      flex: 1;
      text-align: center;
    }
    .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover{
      background-color: transparent;
      border-bottom: 2px solid #409eff!important;
    }
  }
</style>
<style scoped lang="scss">
  .analyze {
    width: 100%;
    height: 100%;
    background: url("./../../static/image/bg.png") no-repeat;
    background-position: center;
    background-size: 100%;
    .content{
      width: 100%;
      height: 100%;
      padding-top: 0;
      box-sizing: border-box;
      .analyze-link{
        width: 100%;
        height: 100px;
        padding: 0 60px;
        box-sizing: border-box;
        position: relative;
        background: url("./../../static/image/topLight.png") no-repeat;
        background-position: top center;
        div{
          display: inline-block;
          position: absolute;
          span{
            display: inline-block;
            padding: 0 10px;
            box-sizing: border-box;
            color: #00e3fe;
            font-size: 16px;
            position: relative;
            z-index: 3;
            cursor: pointer;
          }
          .activeStyle{
            color: #b2fe46;
          }
        }
        .left-link{
          right: 69%;
          top: 30%;
          img{
            position: absolute;
            right: -15px;
            top: -15px;
          }
        }
        .right-link{
          box-sizing: border-box;
          left: 69%;
          top: 30%;
          img{
            position: absolute;
            left: -15px;
            top: -15px;
          }
        }
        .title-image{
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 35%;
          img{
            width: 100%;
          }
        }
        .userInfo{
          top: 50%;
          right: 50px;
          transform: translateY(-50%);
          width: 60px;
          height: 60px;
          background: url("./../../static/image/user.png") no-repeat;
          background-size: 100%;
          background-position: center;
          img{
            width: 50px;
            height: 50px;
            background: red;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .ana-contant{
        width: 100%;
        height: calc(100% - 100px);
        /*background: #fff;*/
        padding: 10px 20px;
        box-sizing: border-box;
      }
    }
  }

</style>
