<template>
  <div class="screen">
    <div class="title">
      <img class="titimg" src="./../../static/image/tiantaititle.png" alt="">
      <img class="tit-left" src="./../../static/image/s-t-l.png" alt="">
      <img class="tit-right" src="./../../static/image/s-t-r.png" alt="">
      <img class="screen-left" src="./../../static/image/s-l.png" alt="">
      <img class="screen-right" src="./../../static/image/s-r.png" alt="">
    </div>
    <div class="content">
      <AppraiseMonitor></AppraiseMonitor>
    </div>
  </div>
</template>

<script>
import AppraiseMonitor from '@/components/safety/AppraiseMonitor'
export default {
  name: 'screen',
  components: {
    AppraiseMonitor
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .screen {
    width: 100%;
    height: 100%;
    background: url("./../../static/image/S-bg.png");
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    .title{
      width: 100%;
      height: 100px;
      position: relative;
      .titimg{
        width: 35%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .tit-left{
        position: absolute;
        right: 50%;
        top: 20px;
      }
      .tit-right{
        position: absolute;
        left: 50%;
        top: 20px;
      }
      .screen-left{
        position: absolute;
        right: 75%;
        top: 50%;
      }
      .screen-right{
        position: absolute;
        left: 75%;
        top: 50%;
      }
    }
    .content{
      width: 100%;
      height: calc(100% - 100px);
      padding: 10px 20px;
      box-sizing: border-box;
      position: relative;
    }
  }

</style>
