<template>
  <div class="portal-page">
    <div class="title">
      <div class="titleimage">
        <img src="./../../static/image/portaltit.png" alt="">
      </div>
    </div>
    <div class="content">
      <div class="top">
        <router-link to="/analyze" target="_blank">
          <img src="./../../static/image/dashujufenxijuece.png" alt="">
        </router-link>
        <a href="http://121.41.81.75:8083/index.htm# " target="_blank">
          <img src="./../../static/image/dashujufenxi.png" alt="">
        </a>
        <router-link to="/portalThree">
          <img src="./../../static/image/zongheguankong.png" alt="">
        </router-link>
        <router-link to="/screenone" target="_blank">
          <img src="./../../static/image/dashujuzonghejiance.png" alt="">
        </router-link>
      </div>
      <div class="bottom">
        <router-link to="/portaltwo">
          <img src="./../../static/image/gongognfuwu.png" alt="">
        </router-link>
        <router-link to="/portal">
          <img src="./../../static/image/lvyouhangyejianguan.png" alt="">
        </router-link>
        <router-link to="/appraise" target="_blank">
          <img src="./../../static/image/yingxiaopingtai.png" alt="">
        </router-link>
      </div>
    </div>
    <div class="footer">
      <img src="./../../static/image/bottomtitle.png" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: 'portal'
}
</script>

<style scoped lang="scss" type="text/scss">
  .portal-page{
    width: 100%;
    height: 100%;
    .title{
      width: 100%;
      height: 80px;
      overflow: hidden;
      position: relative;
      img{
        display: inline-block;
        width: 100%;
      }
      .back{
        width: 34px;
        height: 34px;
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
      }
    }
    .content{
      width: 100%;
      height: calc(100% - 160px);
      background: url("./../../static/image/poBg.png") repeat;
      background-size: 100%;
      background-position: center;
      div{
        width: 100%;
        height: 50%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        a{
          margin-right: 40px;
          display: inline-block;
          width: 15%;
          height: 100%;
          img{
            display: inline-block;
            height: 100%;
            overflow: hidden;
          }
        }
      }
    }
    .footer{
      width: 100%;
      height: 80px;
      overflow: hidden;
      img{
        display: inline-block;
        width: 100%;
      }
    }
  }

</style>
