<template>
  <div class="portal-page">
    <div class="title">
      <div class="back"  @click="goback">
        <img src="./../../static/image/portalback.png" alt="">
      </div>
      <div class="titleimage">
        <img src="./../../static/image/portaltit.png" alt="">
      </div>
    </div>
    <div class="content">
      <div class="top">
        <router-link to="">
          <img src="./../../static/image/quanyuguankongpingtai.png" alt="">
        </router-link>
        <a href="http://172.16.2.13:8090" target="_blank">
          <img src="./../../static/image/jingquguankongpingtai.png" alt="">
        </a>
      </div>
    </div>
    <div class="footer">
      <img src="./../../static/image/bottomtitle.png" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: 'portal',
  methods: {
    goback () {
      this.$router.push('/portalone')
    }
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .portal-page{
    width: 100%;
    height: 100%;
    .title{
      width: 100%;
      height: 80px;
      overflow: hidden;
      position: relative;
      img{
        display: inline-block;
        width: 100%;
      }
      .back{
        width: 34px;
        height: 34px;
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
      }
    }
    .content{
      width: 100%;
      height: calc(100% - 160px);
      background: url("./../../static/image/poBg.png") repeat;
      background-size: 100%;
      background-position: center;
      div{
        width: 100%;
        height: 50%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        a{
          margin-right: 40px;
          display: inline-block;
          width: 15%;
          height: 100%;
          img{
            display: inline-block;
            height: 100%;
            overflow: hidden;
          }
        }
      }
    }
    .footer{
      width: 100%;
      height: 80px;
      overflow: hidden;
      img{
        display: inline-block;
        width: 100%;
      }
    }
  }

</style>
