<template>
  <div class="screen-two">
    <div class="title">
      <img class="titimg" src="./../../static/image/s-title.png" alt="">
      <img class="tit-left" src="./../../static/image/s-t-l.png" alt="">
      <img class="tit-right" src="./../../static/image/s-t-r.png" alt="">
      <img class="screen-left" src="./../../static/image/s-l.png" alt="">
      <img class="screen-right" src="./../../static/image/s-r.png" alt="">
    </div>
    <div class="content">
      <div class="overview-data box">
        <div class="titText">
          数据概览
        </div>
        <div class="boxContent">
          <Database></Database>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
      </div>
      <div class="kq-map box">
        <keqiaoMap2></keqiaoMap2>
      </div>
      <div class="detection-passenger box">
        <div class="titText">
          旅行社组接情况
        </div>
        <div class="boxContent">
          <TravelAgencyConnection></TravelAgencyConnection>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-r-ub"></div>
        <div class="img s-l-up"></div>
        <div class="img s-right"></div>
        <div class="img s-l-line"></div>
      </div>
      <div class="complaint-handling box">
        <div class="titText">
          团散比分析
        </div>
        <div class="boxContent">
          <DispersionRatioRnalysis></DispersionRatioRnalysis>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
      </div>
      <div class="rural-passenger-flow box">
        <div class="titText">
          游客客源地分析
        </div>
        <div class="boxContent">
          <SourceAnalysis></SourceAnalysis>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-r-ub"></div>
        <div class="img s-l-up"></div>
        <div class="img s-right"></div>
        <div class="img s-l-line"></div>
      </div>
      <div class="news-republic box">
        <div class="titText">
          今日系统预警分析
        </div>
        <div class="boxContent">
          <PrecautionaryAnalysis></PrecautionaryAnalysis>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
      </div>
      <div class="impression box">
        <div class="titText">
          消费分析
        </div>
        <div class="boxContent">
          <ConsumptionAnalysis></ConsumptionAnalysis>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
      </div>
      <div class="public-opinion-analysis box">
        <div class="titText">
          住宿时长分析
        </div>
        <div class="boxContent">
          <LengthStayAnalysis></LengthStayAnalysis>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-r-ub"></div>
        <div class="img s-l-up"></div>
        <div class="img s-right"></div>
        <div class="img s-l-line"></div>
      </div>
      <div class="passenger-volume-forecasting box">
        <div class="titText">
          未来7天客流量预测
        </div>
        <div class="boxContent">
          <PassengerVolumeForecasting></PassengerVolumeForecasting>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-r-ub"></div>
        <div class="img s-l-up"></div>
        <div class="img s-right"></div>
        <div class="img s-l-line"></div>
      </div>
      <div class="btn" @click="goScreenone">
        <img src="./../../static/image/prefe.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>
import ConsumptionAnalysis from '@/components/screenTwo/ConsumptionAnalysis'// 消费分析
import Database from '@/components/screenTwo/Database'// 数据概览
import DispersionRatioRnalysis from '@/components/screenTwo/DispersionRatioRnalysis'// 团散比分析
import keqiaoMap2 from '@/components/screenTwo/keqiaoMap2'// 地图
import LengthStayAnalysis from '@/components/screenTwo/LengthStayAnalysis'// 住宿时长分析
import PassengerVolumeForecasting from '@/components/screenTwo/PassengerVolumeForecasting'// 未来7天客流量预测
import PrecautionaryAnalysis from '@/components/screenTwo/PrecautionaryAnalysis'// 今日系统预警分析
import SourceAnalysis from '@/components/screenTwo/SourceAnalysis'// 游客客源地分析
import TravelAgencyConnection from '@/components/screenTwo/TravelAgencyConnection'// 旅行社组接情况
export default {
  name: 'screen-two',
  components: {
    ConsumptionAnalysis,
    Database,
    DispersionRatioRnalysis,
    keqiaoMap2,
    LengthStayAnalysis,
    PassengerVolumeForecasting,
    PrecautionaryAnalysis,
    SourceAnalysis,
    TravelAgencyConnection
  },
  methods: {
    goScreenone () {
      this.$router.push('/screenone')
    }
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .screen-two {
    width: 100%;
    height: 100%;
    background: url("./../../static/image/S-bg.png");
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    .title{
      width: 100%;
      height: 100px;
      position: relative;
      .titimg{
        width: 48%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-35%, -50%);
      }
      .tit-left{
        position: absolute;
        right: 50%;
        top: 20px;
      }
      .tit-right{
        position: absolute;
        left: 50%;
        top: 20px;
      }
      .screen-left{
        position: absolute;
        right: 75%;
        top: 50%;
      }
      .screen-right{
        position: absolute;
        left: 75%;
        top: 50%;
      }
    }
    .content{
      width: 100%;
      height: calc(100% - 100px);
      padding: 10px 20px;
      box-sizing: border-box;
      position: relative;
      .box{
        position: absolute;
        .titText{
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          padding-left: 50px;
          line-height: 50px;
          font-size: 20px;
          color: #fff;
        }
        .boxContent{
          width: 100%;
          height: calc(100% - 30px);
          padding: 10px;
          box-sizing: border-box;
        }
        .img{
          position: absolute;
        }
        .s-down{
          width: 100%;
          height: 15px;
          bottom: 0;
          left: 0;
          background: red;
          background: url("./../../static/image/s-down.png") repeat;
          /*background-size: 100%;*/
        }
        .s-left{
          width: 10px;
          height: 100%;
          left: 0;
          background: url("./../../static/image/s-left.png") repeat;
        }
        .s-up{
          width: calc(100% - 74px);
          height: 10px;
          top: 0;
          background: url("./../../static/image/s-up.png") repeat;
        }
        .s-left-up{
          width: 100px;
          height: 85px;
          left: 0;
          top: 0;
          background: url("./../../static/image/s-left-up.png") no-repeat;
        }
        .s-r-up{
          width: 74px;
          height: 82px;
          top: 0;
          right: 0;
          background: url("./../../static/image/s-r-up.png") no-repeat;
        }
        .s-right{
          width: 14px;
          height: calc(100% - 82px);
          bottom: 0;
          right: 0;
          background: url("./../../static/image/s-right.png") repeat;
        }
        .s-r-ub{
          left: 0;
          top: 0;
          width: 100px;
          height: 100px;
          background: url("./../../static/image/s-r-ub.png") no-repeat;
        }
        .s-l-up{
          width: 6px;
          height: 75px;
          top: 0;
          right: 0;
          background: url("./../../static/image/s-l-up.png") no-repeat;
        }
        .s-r-line{
          width: 65px;
          height: 6px;
          bottom: 0;
          right: 0;
          background: url("./../../static/image/s-r-line.png") no-repeat;
          background-size: contain;
        }
        .s-l-line{
          width: 65px;
          height: 6px;
          bottom: 0;
          left: 0;
          background: url("./../../static/image/s-l-down.png") no-repeat;
          background-size: contain;
        }
      }
      .overview-data{
        width: 22%;
        height: 28%;
        left: 20px;
        top: 20px;
        .s-left{
          top: 0;
        }
        .s-up{
          left: 0;
        }
      }
      .kq-map{
        width: 53%;
        height: 64%;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
      .detection-passenger{
        width: 22%;
        height: 30%;
        top: 20px;
        right: 20px;
        .s-left{
          height: calc(100% - 84px);
          bottom: 0;
          left: 0;
        }
        .s-up{
          width: calc(100% - 74px);
          top: 0;
          right: 0;
        }
        .s-right{
          height: 100%;
          bottom: 0;
        }
      }
      .complaint-handling{
        width: 22%;
        height: 37%;
        left: 20px;
        top: 31%;
        .s-left{
          top: 0;
        }
        .s-up{
          left: 0;
        }
      }
      .rural-passenger-flow{
        width: 22%;
        height: 33%;
        top: 33%;
        right: 20px;
        .s-left{
          height: calc(100% - 84px);
          bottom: 0;
          left: 0;
        }
        .s-up{
          width: calc(100% - 74px);
          right: 0;
          top: 0;
        }
        .s-right{
          height: 100%;
          bottom: 0;
        }.s-left{
           height: calc(100% - 84px);
           bottom: 0;
           left: 0;
         }
        .s-up{
          width: calc(100% - 74px);
          right: 0;
          top: 0;
        }
        .s-right{
          height: 100%;
          bottom: 0;
        }
      }
      .news-republic{
        width: 22%;
        height: 30%;
        left: 20px;
        top: 69%;
        .s-left{
          top: 0;
        }
        .s-up{
          left: 0;
        }
      }
      .impression{
        width: 20%;
        height: 32%;
        left: 23%;
        margin-left: 10px;
        top: 67%;
        .s-left{
          top: 0;
        }
        .s-up{
          left: 0;
        }
      }
      .public-opinion-analysis{
        width: 20%;
        height: 32%;
        left: 44%;
        top: 67%;
        margin-left: 5px;
        .s-left{
          height: calc(100% - 84px);
          bottom: 0;
          left: 0;
        }
        .s-up{
          width: calc(100% - 74px);
          right: 0;
          top: 0;
        }
        .s-right{
          height: 100%;
          bottom: 0;
        }
      }
      .passenger-volume-forecasting{
        width: 34%;
        height: 32%;
        right: 20px;
        top: 67%;
        .s-left{
          height: calc(100% - 84px);
          bottom: 0;
          left: 0;
        }
        .s-up{
          width: calc(100% - 74px);
          right: 0;
          top: 0;
        }
        .s-right{
          height: 100%;
          bottom: 0;
        }
      }
      .btn{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, .5);
        border-radius: 50%;
        cursor: pointer;
        img{
          height: 25px;
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
</style>
