<template>
  <div class="screen">
    <div class="title">
      <img class="titimg" src="./../../static/image/s-title.png" alt="">
      <img class="tit-left" src="./../../static/image/s-t-l.png" alt="">
      <img class="tit-right" src="./../../static/image/s-t-r.png" alt="">
      <img class="screen-left" src="./../../static/image/s-l.png" alt="">
      <img class="screen-right" src="./../../static/image/s-r.png" alt="">
    </div>
    <div class="content">
      <div class="overview-data box">
        <div class="titText">
          全域旅游数据概览
        </div>
        <div class="boxContent">
          <OverviewData class="compon"></OverviewData>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
      </div>
      <div class="kq-map box">
        <KqMap1 class="compons"></KqMap1>
      </div>
      <div class="detection-passenger box">
        <div class="titText">
          重点景区实时客流检测
        </div>
        <div class="boxContent">
          <DetectionPassenger class="compon"></DetectionPassenger>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-r-ub"></div>
        <div class="img s-l-up"></div>
        <div class="img s-right"></div>
        <div class="img s-l-line"></div>
      </div>
      <div class="complaint-handling box">
        <div class="titText">
          旅游投诉纠纷处理
        </div>
        <div class="boxContent">
          <ComplaintHandling class="compon"></ComplaintHandling>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
      </div>
      <div class="rural-passenger-flow box">
        <div class="titText">
          本月重点乡村客流
        </div>
        <div class="boxContent">
          <RuralPassengerFlow class="compon"></RuralPassengerFlow>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-r-ub"></div>
        <div class="img s-l-up"></div>
        <div class="img s-right"></div>
        <div class="img s-l-line"></div>
      </div>
      <div class="news-republic box">
        <div class="titText">
          新闻速递
        </div>
        <div class="boxContent">
          <NewsRepublic class="compon"></NewsRepublic>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
      </div>
      <div class="impression box">
        <div class="titText">
          柯桥印象
        </div>
        <div class="boxContent">
          <Impression class="compon"></Impression>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
      </div>
      <div class="publicOpinion-analysis box">
        <div class="titText">
          舆情分析
        </div>
        <div class="boxContent">
          <PublicOpinionAnalysis class="compon"></PublicOpinionAnalysis>
        </div>
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-r-ub"></div>
        <div class="img s-l-up"></div>
        <div class="img s-right"></div>
        <div class="img s-l-line"></div>
      </div>
      <div class="btn" @click="goscreenTwo">
        <img src="./../../static/image/next.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>
import ComplaintHandling from '@/components/screenOne/ComplaintHandling'// 旅游投诉纠纷处理
import DetectionPassenger from '@/components/screenOne/DetectionPassenger'// 重点景区实时客流检测
import Impression from '@/components/screenOne/Impression'// 柯桥印象
import KqMap1 from '@/components/screenOne/KqMap1'// 大屏地图
import NewsRepublic from '@/components/screenOne/NewsRepublic'// 新闻速递
import OverviewData from '@/components/screenOne/OverviewData'// 全域旅游数据概览
import PublicOpinionAnalysis from '@/components/screenOne/PublicOpinionAnalysis'// 舆情分析
import RuralPassengerFlow from '@/components/screenOne/RuralPassengerFlow'// 本月重点乡村客流
export default {
  name: 'screen',
  components: {
    ComplaintHandling,
    DetectionPassenger,
    Impression,
    KqMap1,
    NewsRepublic,
    OverviewData,
    PublicOpinionAnalysis,
    RuralPassengerFlow
  },
  methods: {
    goscreenTwo () {
      this.$router.push('/screentwo')
    }
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .screen {
    width: 100%;
    height: 100%;
    background: url("./../../static/image/S-bg.png");
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    .title{
      width: 100%;
      height: 100px;
      position: relative;
      .titimg{
        width: 48%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-35%, -50%);
      }
      .tit-left{
        position: absolute;
        right: 50%;
        top: 20px;
      }
      .tit-right{
        position: absolute;
        left: 50%;
        top: 20px;
      }
      .screen-left{
        position: absolute;
        right: 75%;
        top: 50%;
      }
      .screen-right{
        position: absolute;
        left: 75%;
        top: 50%;
      }
    }
    .content{
      width: 100%;
      height: calc(100% - 100px);
      padding: 10px 20px;
      box-sizing: border-box;
      position: relative;
      .box{
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        .titText{
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          padding-left: 50px;
          line-height: 50px;
          color: #fff;
          font-size: 20px;
        }
        .boxContent{
          width: 100%;
          height: calc(100% - 30px);
          padding-top: 10px;
          box-sizing: border-box;
          position: relative;
          /*background: pink;*/
          .compon{
            width: 100%;
            height: 100%;
            /*background: green;*/
          }
        }
        .img{
          position: absolute;
        }
        .s-down{
          width: 100%;
          height: 15px;
          bottom: 0;
          left: 0;
          background: red;
          background: url("./../../static/image/s-down.png") repeat;
          /*background-size: 100%;*/
        }
        .s-left{
          width: 10px;
          height: 100%;
          left: 0;
          background: url("./../../static/image/s-left.png") repeat;
        }
        .s-up{
          width: calc(100% - 74px);
          height: 10px;
          top: 0;
          background: url("./../../static/image/s-up.png") repeat;
        }
        .s-left-up{
          width: 100px;
          height: 85px;
          left: 0;
          top: 0;
          background: url("./../../static/image/s-left-up.png") no-repeat;
        }
        .s-r-up{
          width: 74px;
          height: 82px;
          top: 0;
          right: 0;
          background: url("./../../static/image/s-r-up.png") no-repeat;
        }
        .s-right{
          width: 14px;
          height: calc(100% - 82px);
          bottom: 0;
          right: 0;
          background: url("./../../static/image/s-right.png") repeat;
        }
        .s-r-ub{
          left: 0;
          top: 0;
          width: 100px;
          height: 100px;
          background: url("./../../static/image/s-r-ub.png") no-repeat;
        }
        .s-l-up{
          width: 6px;
          height: 75px;
          top: 0;
          right: 0;
          background: url("./../../static/image/s-l-up.png") no-repeat;
        }
        .s-r-line{
          width: 65px;
          height: 6px;
          bottom: 0;
          right: 0;
          background: url("./../../static/image/s-r-line.png") no-repeat;
          background-size: contain;
        }
        .s-l-line{
          width: 65px;
          height: 6px;
          bottom: 0;
          left: 0;
          background: url("./../../static/image/s-l-down.png") no-repeat;
          background-size: contain;
        }
      }
      .overview-data{
        width: 22%;
        height: 30%;
        left: 20px;
        top: 20px;
        .s-left{
          top: 0;
        }
        .s-up{
          left: 0;
        }
      }
      .kq-map{
        width: 53%;
        height: 64%;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        .compons{
          width: 100%;
          height: 100%;
        }
      }
      .detection-passenger{
        width: 22%;
        height: 30%;
        top: 20px;
        right: 20px;
        .s-left{
          height: calc(100% - 84px);
          bottom: 0;
          left: 0;
        }
        .s-up{
          width: calc(100% - 74px);
          top: 0;
          right: 0;
        }
        .s-right{
          height: 100%;
          bottom: 0;
        }
      }
      .complaint-handling{
        width: 22%;
        height: 33%;
        left: 20px;
        top: 33%;
        .s-left{
          top: 0;
        }
        .s-up{
          left: 0;
        }
      }
      .rural-passenger-flow{
        width: 22%;
        height: 66%;
        top: 33%;
        right: 20px;
        .s-left{
          height: calc(100% - 84px);
          bottom: 0;
          left: 0;
        }
        .s-up{
          width: calc(100% - 74px);
          right: 0;
          top: 0;
        }
        .s-right{
          height: 100%;
          bottom: 0;
        }
      }
      .news-republic{
        width: 22%;
        height: 32%;
        left: 20px;
        top: 67%;
        .s-left{
          top: 0;
        }
        .s-up{
          left: 0;
        }
        .boxContent{
          padding-top: 0;
        }
      }
      .impression{
        width: 20%;
        height: 32%;
        left: 23%;
        padding-top: 0;
        margin-left: 10px;
        top: 67%;
        .s-left{
          top: 0;
        }
        .s-up{
          left: 0;
        }
        .boxContent{
          padding: 10px;
          box-sizing: border-box;
        }
      }
      .publicOpinion-analysis{
        width: 32%;
        height: 32%;
        left: 44%;
        top: 67%;
        margin-left: 5px;
        .s-left{
          height: calc(100% - 84px);
          bottom: 0;
          left: 0;
        }
        .s-up{
          width: calc(100% - 74px);
          right: 0;
          top: 0;
        }
        .s-right{
          height: 100%;
          bottom: 0;
        }
        .boxContent{
          padding: 8px;
          box-sizing: border-box;
          .compon{
            width: 100%;
            height: 100%;
          }
        }
      }
      .btn{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, .5);
        border-radius: 50%;
        cursor: pointer;
        img{
          height: 25px;
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

</style>
