<template>
  <div class='basic-info'>
    <div class="choseData">
      <span>数据来源</span>
      <el-select v-model="choseData" placeholder="请选择">
        <el-option
          v-for="item in choseDataList"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div class='basic-content'>
      <div class='sex-ratio box'>
        <div class='title'>
          <span class='text'>男女比例</span>
        </div>
        <div class='select'>
          <el-select class='options' v-model='sexFromTime' placeholder='请选择'>
            <el-option value='按月'>按月</el-option>
            <el-option value='按年'>按年</el-option>
          </el-select>
         <!-- <el-date-picker v-model='sexDay' type='date' placeholder='选择日期'>
          </el-date-picker>-->
          <el-select v-model= 'chooseMonth' placeholder='请选择月份' @change="showMmalefemaleRatio">
            <el-option value='1' label="2018-01">2018-01</el-option>
            <el-option value='2' label="2018-02">2018-02</el-option>
            <el-option value='3' label="2018-03">2018-03</el-option>
            <el-option value='4' label="2018-04">2018-04</el-option>
            <el-option value='5' label="2018-05">2018-05</el-option>
            <el-option value='6' label="2018-06">2018-06</el-option>
          </el-select>
        </div>
        <div id='heighchartVisterSex'>
        </div>
      </div>
      <div class='age-ratio box'>
        <div class='title'>
          <span class='text'>年龄占比</span>
        </div>
        <div class='select'>
          <el-select v-model='ageFromTime' placeholder='请选择'>
            <el-option value='按月'>按月</el-option>
            <el-option value='按年'>按年</el-option>
          </el-select>
          <!--<el-date-picker
            v-model='ageDay'
            type='date'
            placeholder='选择日期'>
          </el-date-picker>-->
          <el-select v-model= 'chooseMonth' placeholder='请选择月份' @change="showAgeRatio">
            <el-option value='1' label="2018-01">2018-01</el-option>
            <el-option value='2' label="2018-02">2018-02</el-option>
            <el-option value='3' label="2018-03">2018-03</el-option>
            <el-option value='4' label="2018-04">2018-04</el-option>
            <el-option value='5' label="2018-05">2018-05</el-option>
            <el-option value='6' label="2018-06">2018-06</el-option>
          </el-select>
        </div>
        <div id='heighchartVisterAge'>
        </div>
      </div>
      <div class='Passenger-analysis box'>
        <div class='title'>
          <span class='text Passenger'>游客分布</span>
        </div>
        <div class='subTitle'>
          <div class='address'>
            <span class='active' @click="choseDataClick('city')">省内</span>
            <span @click="choseDataClick('province')">全国</span>
            <span @click="choseDataClick('country')">境外</span>
          </div>
          <div class='select'>
            <el-select v-model='passengerFromTime' placeholder='请选择' @change="getselectPasenger">
              <el-option value='1' label="2018-01">2018-01</el-option>
              <el-option value='2' label="2018-02">2018-02</el-option>
              <el-option value='3' label="2018-03">2018-03</el-option>
              <el-option value='4' label="2018-04">2018-04</el-option>
              <el-option value='5' label="2018-05">2018-05</el-option>
              <el-option value='6' label="2018-06">2018-06</el-option>
            </el-select>
            <!--<el-date-picker
              v-model='passengerDay'
              type='date'
              placeholder='选择日期'>
            </el-date-picker>-->

          </div>
        </div>
        <div id='heighchartVisterPassenger'>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HighCharts from 'highcharts'
import api from '@/api'

export default {
  name: 'basic-info',
  data () {
    return {
      chooseMonth: '2018-01',
      sexFromTime: '按月',
      ageFromTime: '按月',
      passengerFromTime: '1',
      sexDay: 1,
      ageDay: 1,
      mwArr: [['男', 8], ['女', 2]],
      passengerDay: '',
      choseDataList: [
        {value: 'meituan', label: '美团'},
        {value: 'xiecheng', label: '携程'}
      ],
      choseData: 'meituan',
      appusage_data: [],
      ageData: [],
      yAxis: [],
      type: 'inland'
    }
  },
  created () {
    this.choseDataClick('city')
    this.getChangePasenger('inland', this.passengerFromTime)
  },
  methods: {
    async getselectPasenger () {
      await this.getChangePasenger(this.type, this.passengerFromTime)
      await this.getPassengerEchart()
    },
    async getChangePasenger (type, day) {
      await api.screentwo.getPassengerAdsNum(type, day).then(res => {
        console.log(res, '客源地分布')
        this.appusage_data = []
        this.yAxis = []
        res.forEach(item => {
          if (item) {
            let obj = {value: item.count}
            this.appusage_data.push(obj)
            this.yAxis.push(item.region)
          }
        })
      }).catch(err => {
        console.log(err)
      })
    },
    async showMmalefemaleRatio () {
      await this.showMaleFemaleRatio(this.chooseMonth)
      await HighCharts.setOptions({
        colors: ['#106DFD', '#FF8B8B']
      })
      await HighCharts.chart('heighchartVisterSex', this.getSexHeighchart())
    },
    async showAgeRatio () {
      await this.getAgeRadio(this.chooseMonth)
      await HighCharts.setOptions({
        colors: ['#106DFD', '#0ABEFE', '#8B90FD', '#7D4AD3', '#2C4FC6']
      })
      await HighCharts.chart('heighchartVisterAge', this.getAgeHeighchart())
    },
    async showMaleFemaleRatio (date) {
      await api.visterAnalysis.getMaleFemaleRatio(date).then(res => {
        this.mwArr = []
        res.forEach(item => {
          let arr = [item.target, item.percent]
          this.mwArr.push(arr)
        })
      }).catch(err => {
        console.log(err)
      })
    },
    async getTouristsdisTribution (way, date) {
      await api.visterAnalysis.getTouristsdisTribution(way, date).then(res => {
        console.log(res)
      }).catch(err => {
        console.log(err)
      })
    },
    async getAgeRadio (date) {
      await api.visterAnalysis.getAgeRadio(date).then(res => {
        this.ageData = []
        res.forEach(item => {
          let arr = [item.target, item.percent]
          this.ageData.push(arr)
        })
        console.log(this.chooseMonth)
        console.log(this.ageData)
      }).catch(err => {
        console.log(err)
      })
    },
    getSexHeighchart () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 25,
            depth: 100,
            viewDistance: 45
          }
        },
        title: {
          text: ''
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: 10,
          y: 230,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          },
          labelFormatter: function () {
            return this.name + ' ' + this.y + '%'
          }
        },
        plotOptions: {
          pie: {
            innerSize: 120,
            depth: 45,
            showInLegend: true,
            dataLabels: {
              enabled: true,
              format: '{point.name}' + ' ' + '{point.y}' + '%'
            }
          }
        },
        series: [{
          name: '柯桥全域游',
          data: this.mwArr
        }]
      }
    },
    getAgeHeighchart () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 25,
            depth: 100,
            viewDistance: 45
          }
        },
        title: {
          text: ''
        },
        legend: {
          enabled: true,
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: 10,
          y: 230,
          itemStyle: {
            color: '#fff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#fff'
          },
          labelFormatter: function () {
            return this.name + ' ' + this.y + '%'
          }
        },
        plotOptions: {
          pie: {
            innerSize: 120,
            depth: 45,
            showInLegend: true,
            dataLabels: {
              enabled: true,
              format: '{point.name}' + ' ' + '{point.y}' + '%'
            }
          }
        },
        series: [{
          name: '柯桥全域游年龄占比',
          data: this.ageData
        }]
      }
    },
    getPassengerEchart () {
      let option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: { // 坐标轴指示器，坐标轴触发有效
            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        grid: {
          left: '3%',
          right: '10%',
          bottom: '18%',
          containLabel: true
        },
        yAxis: [{
          type: 'category',
          data: this.yAxis,
          axisLine: {
            show: false
          },
          axisTick: {
            show: false,
            alignWithLabel: true
          },
          axisLabel: {
            textStyle: {
              color: '#00e3ff',
              fontSize: 16
            }
          }
        }],
        xAxis: [{
          type: 'value',
          axisLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: '#00e3ff',
              fontSize: 16
            }
          },
          splitLine: {
            show: false
          }
        }],

        series: [{
          name: '客源总数',
          type: 'bar',
          data: this.appusage_data,
          // barCategoryGap: '85%',
          barWidth: 20,
          barGap: 0.5,
          label: {
            normal: {
              show: true,
              position: 'right',
              formatter: function (params) {
                return params.data.name
              },
              textStyle: {
                color: '#bcbfff' // color of value
              }
            }
          },
          itemStyle: {
            normal: {
              color: new this.$echarts.graphic.LinearGradient(0, 0, 1, 0, [{
                offset: 0,
                color: '#7eff07' // 0% 处的颜色
              }, {
                offset: 1,
                color: '#0efff2' // 100% 处的颜色
              }], false),
              barBorderRadius: 15
            }
          }
        }]
      }
      let myChart = this.$echarts.init(document.getElementById('heighchartVisterPassenger'))
      myChart.resize()
      myChart.setOption(option)
    },
    async choseDataClick (item) {
      console.log(item)
      if (item === 'province') {
        this.type = 'inland'
      }
      if (item === 'city') {
        this.type = 'province'
      }
      if (item === 'country') {
        this.type = 'overseas'
      }
      if (document.getElementById('heighchartVisterPassenger')) {
        await this.getChangePasenger(this.type, this.passengerFromTime)
        await this.getPassengerEchart()
      }
    }
  },
  async mounted () {
    await this.showMaleFemaleRatio(1)
    await this.getAgeRadio(1)
    await this.getTouristsdisTribution('inland', 'day')
    await this.getChangePasenger('province', this.passengerFromTime)
    HighCharts.setOptions({
      colors: ['#106DFD', '#FF8B8B']
    })
    await HighCharts.chart('heighchartVisterSex', this.getSexHeighchart())
    await HighCharts.setOptions({
      colors: ['#106DFD', '#0ABEFE', '#8B90FD', '#7D4AD3', '#2C4FC6']
    })
    await HighCharts.chart('heighchartVisterAge', this.getAgeHeighchart())
    await this.getPassengerEchart()
  }
}
</script>

<style lang='scss'>
  .basic-info{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 150px;
    }
    .el-input__inner{
      background-color: transparent;
      border-color: transparent;
      box-shadow:0 0 40px -10px #0487bd inset;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      color: #0487bd;
      &:hover{
        border-color: transparent;
      }
    }
    .el-select .el-input.is-focus .el-input__inner{
      border-color: transparent;
    }
    .el-input__prefix, .el-input__suffix{
      color: #00e3ff;
      line-height: 30px;
    }
    .el-input__icon{
      line-height: 30px;
    }
  }
  .el-input--suffix .el-input__inner{
    padding-right: 10px;
  }
  .el-select-dropdown,.el-picker-panel{
    border-color: transparent;
    background-color: transparent;
    color: #0487bd;
    box-shadow:0 0 40px -10px #0487bd inset;
  }
  .el-picker-panel__icon-btn,.el-date-picker__header-label,{
   color: #0487bd;
  }
  .el-date-table th{
    color: #0487bd;
    border-color: rgba(4, 135, 189, 0.6);
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: transparent;
  }
  .el-select-dropdown__item{
    color:#0487bd;
  }
</style>
<style scoped lang='scss' type='text/scss'>
  .basic-info{
    width: 100%;
    height: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
    .basic-content{
      width: 100%;
      height: 100%;
      position: relative;
      .title{
        width: 100%;
        height: 50px;
        position: relative;
        color: #0487bd;
        font-weight: 500;
        .text{
          font-size: 18px;
          line-height: 50px;
          margin: 0 125px 0 10px;
          font-weight: 700;
        }
        .Passenger{
          margin-right: 0;
        }
        .select{
          display: inline-block;
          float: right;
          margin-top: 4px;
          margin-right: 10px;
        }

      }
      .select{
        float: right;
        margin-right: 20px;
      }
      .address{
        margin-left: 20px;
        box-sizing: border-box;
        color: #00e3ff;
        box-shadow:0 0 40px -10px #0487bd inset;
        float: left;
        span{
          display: inline-block;
          float: left;
          font-size: 14px;
          padding: 3px 20px;
          cursor: pointer;
        }
        .active{
         color: #222;
          background-color: #26bbf0;
        }
      }
      .subTitle{
        width: 100%;
        height: 50px;
      }
      .sex-ratio{
        position: absolute;
        top: 10px;
        width: 32%;
        height: 100%;
        left: 0;
      }
      .age-ratio{
        position: absolute;
        top: 10px;
        width: 32%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
      .Passenger-analysis{
        position: absolute;
        top: 10px;
        width: 32%;
        height: 100%;
        right: 0;
      }
      .box{
        box-shadow:0 0 40px -10px #0487bd inset;
      }
      #heighchartVisterSex,
      #heighchartVisterAge{
        width: 100%;
        height: 50%;
        padding: 10px;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
      }
      #heighchartVisterPassenger{
        width: 100%;
        height: calc(100% - 100px);
        padding: 10px;
        box-sizing: border-box;
      }
    }
    .choseData{
      width: 100%;
      height: 30px;
      padding-left: 50px;
      box-sizing: border-box;
      position: relative;
      z-index: 9;
      span{
        font-size: 14px;
        color: #0192aa;
        margin-right: 5px;
      }
    }
  }

</style>
