<template>
  <div class="behaviour">
    <div class="choseData">
      <span>数据来源</span>
      <el-select v-model="choseData" placeholder="请选择">
        <el-option
          v-for="item in choseDataList"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div class='basic-content'>
      <div class='sex-ratio box'>
        <div class='title'>
          <span class='text'>出行方式</span>
        </div>
        <div class='select'>
          <el-select class='options' v-model='sexFromTime' placeholder='请选择'>
            <el-option value='按月'>按月</el-option>
          </el-select>
          <el-select v-model= 'tripMonth' placeholder='请选择月份' @change="sourceTripWay">
            <el-option value='1' label="2018-01">2018-01</el-option>
            <el-option value='2' label="2018-02">2018-02</el-option>
            <el-option value='3' label="2018-03">2018-03</el-option>
            <el-option value='4' label="2018-04">2018-04</el-option>
            <el-option value='5' label="2018-05">2018-05</el-option>
            <el-option value='6' label="2018-06">2018-06</el-option>
          </el-select>
        </div>
        <div id='echartsTrip'>
        </div>
      </div>
      <div class='age-ratio box'>
        <div class='title'>
          <span class='text'>喜好消费</span>
        </div>
        <div class='select'>
          <el-select v-model='ageFromTime' placeholder='按月'>
            <el-option value='按月'>按月</el-option>
          </el-select>
          <el-select v-model= 'likeMonth' placeholder='请选择月份' @change="sourceLikeWay">
            <el-option value='1' label="2018-01">2018-01</el-option>
            <el-option value='2' label="2018-02">2018-02</el-option>
            <el-option value='3' label="2018-03">2018-03</el-option>
            <el-option value='4' label="2018-04">2018-04</el-option>
            <el-option value='5' label="2018-05">2018-05</el-option>
            <el-option value='6' label="2018-06">2018-06</el-option>
          </el-select>
        </div>
        <div id='echartHabit'>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  name: 'behaviour',
  data () {
    return {
      sexDay: '',
      ageDay: '',
      ageFromTime: '',
      sexFromTime: '',
      consumeFromTime: '按月',
      tripFromTime: '按月',
      likeMonth: '',
      tripMonth: '',
      tripData: [],
      likeData: [],
      consumeDay: new Date(),
      tripDay: new Date(),
      choseData: 'meituan',
      choseDataList: [
        {value: 'meituan', label: '美团'}
      ]
    }
  },
  methods: {
    getEchartTrip () {
      let option = {
        legend: {
          orient: 'vertical',
          x: 50,
          y: 'center',
          show: true,
          data: ['其他', '自驾', '火车', '飞机'],
          textStyle: {
            color: '#fff'
          }
        },
        color: ['rgb(255,148,153)', 'rgb(111,215,84)', 'rgb(182,136,217)', 'rgb(62,176,247)'],
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['30%', '80%'],
            avoidLabelOverlap: false,
            center: ['50%', '55%'],
            label: {
              normal: {
                show: true,
                position: 'outside',
                formatter: '{b}:{c}%',
                textStyle: {
                  fontSize: '14'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                length: 40,
                length2: 20,
                show: true,
                lineStyle: {
                  color: new this.$echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    offset: 0,
                    color: '#876AEF'
                  }, {
                    offset: 1,
                    color: '#fff'
                  }
                  ]),
                  width: 3,
                  shadowColor: 'rgba(0, 0, 0, 5)',
                  shadowBlur: 10,
                  shadowOffsetX: -8,
                  shadowOffsetY: 10
                }
              }
            },
            data: this.tripData
          }
        ]
      }
      let dom = document.getElementById('echartsTrip')
      let myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
    },
    getEchartHabit () {
      let option = {
        legend: {
          orient: 'vertical',
          x: 50,
          y: 'center',
          show: true,
          data: ['交通', '餐饮', '住宿', '零售'],
          textStyle: {
            color: '#fff'
          }
        },
        color: ['rgb(255,148,153)', 'rgb(111,215,84)', 'rgb(182,136,217)', 'rgb(62,176,247)'],
        series: [
          {
            name: '访问来源',
            type: 'pie',
            radius: ['30%', '80%'],
            avoidLabelOverlap: false,
            center: ['50%', '55%'],
            label: {
              normal: {
                show: true,
                position: 'outside',
                formatter: '{b}:{c}%',
                textStyle: {
                  fontSize: '14'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            labelLine: {
              normal: {
                length: 40,
                length2: 20,
                show: true,
                lineStyle: {
                  color: new this.$echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    offset: 0,
                    color: '#876AEF'
                  }, {
                    offset: 1,
                    color: '#fff'
                  }
                  ]),
                  width: 3,
                  shadowColor: 'rgba(0, 0, 0, 5)',
                  shadowBlur: 10,
                  shadowOffsetX: -8,
                  shadowOffsetY: 10
                }
              }

            },
            data: this.likeData
          }
        ]
      }
      let dom = document.getElementById('echartHabit')
      let myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
      myChart.on('click', (e) => {
        console.log(e, 'ehcart点击')
        if (e.data.name === '住宿') {
          this.$router.push('/analyze/consume/hotel-consume')
        }
        if (e.data.name === '餐饮') {
          this.$router.push('/analyze/consume/food-consume')
        }
      })
    },
    async sourceTripWay () {
      await this.showTropMode(this.tripMonth)
      this.getEchartTrip()
    },
    async sourceLikeWay(){
      await this.showLikePayWay(this.likeMonth)
      this.getEchartHabit()
    },
    async showTropMode (source) {
      await api.visterAnalysis.getTripMode(source).then(res => {
        console.log(res, '出行方式')
        this.tripData = []
        res.forEach(item => {
          let arr = {value: item.percent, name: item.target}
          this.tripData.push(arr)
        })
      }).catch(err => {
        console.log(err)
      })
    },
    async showLikePayWay (source) {
      await api.visterAnalysis.likePayWay(source).then(res => {
        console.log(res)
        this.likeData = []
        res.forEach(item => {
          let arr = {value: item.percent, name: item.target}
          this.likeData.push(arr)
        })
      }).catch(err => {
        console.log(err)
      })
    }
  },
  async mounted () {
    await this.showTropMode(6)
    await this.showLikePayWay(1)
    this.getEchartTrip()
    this.getEchartHabit()
  }
}
</script>

<style lang='scss'>
  .behaviour{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 150px;
    }
    .el-input__inner{
      background-color: transparent;
      border-color: transparent;
      box-shadow:0 0 40px -10px #0487bd inset;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      color: #0487bd;
      &:hover{
        border-color: transparent;
      }
    }
    .el-select .el-input.is-focus .el-input__inner{
      border-color: transparent;
    }
    .el-input__prefix, .el-input__suffix{
      color: #00e3ff;
      line-height: 30px;
    }
    .el-input__icon{
      line-height: 30px;
    }
  }
  .el-input--suffix .el-input__inner{
    padding-right: 10px;
  }
  .el-select-dropdown,.el-picker-panel{
    border-color: transparent;
    background-color: transparent;
    color: #0487bd;
    box-shadow:0 0 40px -10px #0487bd inset;
  }
  .el-picker-panel__icon-btn,.el-date-picker__header-label,{
    color: #0487bd;
  }
  .el-date-table th{
    color: #0487bd;
    border-color: rgba(4, 135, 189, 0.6);
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: transparent;
  }
  .el-select-dropdown__item{
    color:#0487bd;
  }
</style>
<style scoped lang='scss' type='text/scss'>
  .behaviour{
    width: 100%;
    height: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
    .basic-content{
      width: 100%;
      height: 100%;
      position: relative;
      .title{
        width: 100%;
        height: 50px;
        position: relative;
        color: #0487bd;
        font-weight: 500;
        .text{
          font-size: 18px;
          line-height: 50px;
          margin: 0 125px 0 10px;
          font-weight: 700;
        }
        .Passenger{
          margin-right: 0;
        }
        .select{
          display: inline-block;
          float: right;
          margin-top: 4px;
          margin-right: 50px;
        }

      }
      .select{
        float: right;
        margin-right: 20px;
      }
      .address{
        margin-left: 20px;
        box-sizing: border-box;
        color: #00e3ff;
        box-shadow:0 0 40px -10px #0487bd inset;
        float: left;
        span{
          display: inline-block;
          float: left;
          font-size: 14px;
          padding: 3px 20px;
          cursor: pointer;
        }
        .active{
          color: #222;
          background-color: #26bbf0;
        }
      }
      .subTitle{
        width: 100%;
        height: 50px;
      }
      .sex-ratio{
        position: absolute;
        top: 10px;
        width: 48%;
        height: 100%;
        left: 0;
      }
      .age-ratio{
        position: absolute;
        top: 10px;
        width: 48%;
        height: 100%;
        right: 0;
      }
      .Passenger-analysis{
        position: absolute;
        top: 10px;
        width: 32%;
        height: 100%;
        right: 0;
      }
      .box{
        box-shadow:0 0 40px -10px #0487bd inset;
      }
      #echartsTrip,
      #echartHabit{
        width: 100%;
        height: 50%;
        padding: 10px;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
      }
    }
    .choseData{
      width: 100%;
      height: 30px;
      padding-left: 50px;
      box-sizing: border-box;
      position: relative;
      z-index: 9;
      span{
        font-size: 14px;
        color: #0192aa;
        margin-right: 5px;
      }
    }
  }

</style>
