<template>
  <div class="keqiaoMaps">
    <div id="keqiaoMap"></div>
  </div>
</template>

<script>
export default {
  name: 'keqiao-map',
  methods: {
    getbaiduMap () {
      let that = this
      let map = new BMap.Map('keqiaoMap')
      map.centerAndZoom(new BMap.Point(120.446914, 30.079503), 12)
      map.enableScrollWheelZoom() // 启用滚轮放大缩小，默认禁用
      map.enableContinuousZoom() // 启用地图惯性拖拽，默认禁用
      map.setMapStyle({
        styleJson: [
          {
            'featureType': 'water',
            'elementType': 'all',
            'stylers': {
              'color': '#021019'
            }
          },
          {
            'featureType': 'highway',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'highway',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#147a92'
            }
          },
          {
            'featureType': 'arterial',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#6fa8dcff'
            }
          },
          {
            'featureType': 'arterial',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#666666ff'
            }
          },
          {
            'featureType': 'local',
            'elementType': 'geometry',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'land',
            'elementType': 'all',
            'stylers': {
              'color': '#032748ff'
            }
          },
          {
            'featureType': 'railway',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'railway',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#08304b'
            }
          },
          {
            'featureType': 'subway',
            'elementType': 'geometry',
            'stylers': {
              'lightness': -70
            }
          },
          {
            'featureType': 'building',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.fill',
            'stylers': {
              'color': '#857f7f'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.stroke',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'building',
            'elementType': 'geometry',
            'stylers': {
              'color': '#00ffffff'
            }
          },
          {
            'featureType': 'green',
            'elementType': 'geometry',
            'stylers': {
              'color': '#062032'
            }
          },
          {
            'featureType': 'boundary',
            'elementType': 'all',
            'stylers': {
              'color': '#2190b8ff'
            }
          },
          {
            'featureType': 'manmade',
            'elementType': 'geometry',
            'stylers': {
              'color': '#022338'
            }
          },
          {
            'featureType': 'poi',
            'elementType': 'all',
            'stylers': {
              'visibility': 'off'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.icon',
            'stylers': {
              'visibility': 'off'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.fill',
            'stylers': {
              'color': '#eeeeeeff',
              'visibility': 'on'
            }
          }
        ]
      })
      var data_info = [{
        id: 'A',
        name: '大香林',
        position: [120.411934, 30.024669],
        time: '2018-06-15  18:36',
        into: '110056',
        getOut: '115769'
      }, {
        id: 'B',
        name: '桥波冰雪世界',
        position: [120.4829, 30.061285],
        time: '2018-06-15  18:46',
        into: '78644',
        getOut: '65564'
      }, {
        id: 'C',
        name: '安昌古镇',
        position: [120.503478, 30.140715],
        time: '2018-06-15  18:56',
        into: '465646',
        getOut: '545466'
      }]
      var opts = {
        width : 250, // 信息窗口宽度
        height: 110 // 信息窗口高度
      }
      for (var i = 0; i < data_info.length; i++) {
        console.log(data_info[i].position)
        var marker = new BMap.Marker(new BMap.Point(data_info[i].position[0], data_info[i].position[1])) // 创建标注
        marker.setAnimation(BMAP_ANIMATION_BOUNCE)
        var content = data_info[i].name
        map.addOverlay(marker) // 将标注添加到地图中
        addClickHandler(content, marker)
        // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
      }
      function addClickHandler (content, marker) {
        marker.addEventListener('click', function (e) {
          console.log(content, marker, 'opop]]]]]')
          that.$emit('toggleScenic', content)
        })
      }
      function getBoundary () {
        var bdary = new BMap.Boundary()
        bdary.get('绍兴市柯桥区', function (rs) { // 获取行政区域
          var count = rs.boundaries.length // 行政区域的点有多少个
          if (count === 0) {
            alert('未能获取当前输入行政区域')
            return
          }
          var pointArray = []
          for (var i = 0; i < count; i++) {
            var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 3, strokeColor: '#00e4ff'}) // 建立多边形覆盖物
            map.addOverlay(ply) // 添加覆盖物
            pointArray = pointArray.concat(ply.getPath())
          }
          map.setViewport(pointArray) // 调整视野
        })
      }
      setTimeout(function () {
        getBoundary()
      }, 20)
    }
  },
  mounted () {
    this.getbaiduMap()
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .keqiaoMaps{
    width: 100%;
    height: 100%;
    #keqiaoMap{
      width: 100%;
      height: 100%;
    }
  }

</style>
