<template>
  <div class="visitors-track">
    <div class="choseData">
      <span>数据来源</span>
      <el-select v-model="choseData" placeholder="请选择" @change="SelectChange">
        <el-option
          v-for="item in choseDataList"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div class="tarck-map">
      <div class="selected">
        <el-select v-model="fromTime" placeholder="请选择" @change="SelectChange">
          <el-option value="按月">按月</el-option>
        </el-select>
        <!--<el-date-picker
          v-model="fromDay"
          type="date"
          placeholder="选择日期">
        </el-date-picker>-->
        <el-select v-model="fromMonth" placeholder="请选择" @change="SelectChange">
          <el-option value=1>1</el-option>
          <el-option value=2>2</el-option>
          <el-option value=2>3</el-option>
          <el-option value=4>4</el-option>
          <el-option value=5>5</el-option>
          <el-option value=6>6</el-option>
        </el-select>
      </div>
      <div class="now-scenic">
        <p class="text">当前区域内:景区 <span>6</span>个</p>
      </div>
      <div class="echartMap">
        <KeqiaoMap class="mapBox" @toggleScenic="toggleEchart"></KeqiaoMap>
      </div>
    </div>
    <div class="echats">
      <div class="up-station station">
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
        <div class="title">
          {{scenic}}上一站
        </div>
        <div id="echatsUpStation">
        </div>
      </div>
      <div class="down-station station">
        <div class="img s-down"></div>
        <div class="img s-left"></div>
        <div class="img s-up"></div>
        <div class="img s-left-up"></div>
        <div class="img s-r-up"></div>
        <div class="img s-right"></div>
        <div class="img s-r-line"></div>
        <div class="title">
          {{scenic}}下一站
        </div>
        <div id="echatsDownStation">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import KeqiaoMap from './keqiaoMap'
import api from '@/api'
export default {
  name: 'visitors-track',
  data () {
    return {
      fromTime: '按月',
      fromDay: new Date(),
      fromMonth: 1,
      scenic: '安昌古镇',
      scenicNameArrbefore: [],
      scenicHeightArrbefore: [],
      scenicNameArrDown: [],
      scenicHeightArrDown: [],
      selectTime: this.fromTime,
      choseData: 'meituan',
      choseDataList: [
        {value: 'meituan', label: '美团'}
      ]
    }
  },
  methods: {
    SelectChange () {
      // if (this.choseData === 'meituan') {
      // 时间选项不设死的情况放开
      // if (this.fromTime === '按年') {
      //     this.selectTime = 'year'
      //     this.showVisitorsToTrackBefore(this.choseData, this.selectTime)
      //   } else if (this.fromTime === '按月') {
      //     this.selectTime = 'month'
      //     this.showVisitorsToTrackBefore(this.choseData, this.selectTime)
      //   }
      // } else if (this.choseData === 'xiecheng') {
      //   if (this.fromTime === '按年') {
      //     this.selectTime = 'year'
      //     this.showVisitorsToTrackBefore(this.choseData, this.selectTime)
      //   } else if (this.fromTime === '按月') {
      //     this.selectTime = 'month'
      //     this.showVisitorsToTrackBefore(this.choseData, this.selectTime)
      //   }
      // }
      this.showVisitorsToTrackBefore(this.fromMonth)
    },
    toggleEchart (type) {
      this.scenic = type
      this.showVisitorsToTrackBefore(this.choseData, this.selectTime)
    },
    getUpEchart () {
      let option = {
        grid: {
          left: '15%'
        },
        xAxis: {
          data: this.scenicNameArrbefore,
          axisLine: {
            lineStyle: {
              color: '#0177d4'
            }
          },
          axisLabel: {
            formatter: function (value) {
              var ret = '' // 拼接加\n返回的类目项
              var maxLength = 1 // 每项显示文字个数
              var valLength = value.length // X轴类目项的文字个数
              var rowN = Math.ceil(valLength / maxLength) // 类目项需要换行的行数
              if (rowN > 1) {
                for (var i = 0; i < rowN; i++) {
                  var temp = '' // 每次截取的字符串
                  var start = i * maxLength // 开始截取的位置
                  var end = start + maxLength // 结束截取的位置
                  // 这里也可以加一个是否是最后一行的判断，但是不加也没有影响，那就不加吧
                  temp = value.substring(start, end) + '\n'
                  ret += temp // 凭借最终的字符串
                }
                return ret
              } else {
                return value
              }
            },
            interval: 0,
            fontSize: 16,
            fontWeight: 100,
            textStyle: {
              color: '#fff'
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#0177d4'
            }
          }
        },
        yAxis: {
          nameTextStyle: {
            color: '#fff',
            fontSize: 16
          },
          axisLine: {
            lineStyle: {
              color: '#0177d4'
            }
          },
          axisLabel: {
            color: '#fff',
            fontSize: 16
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#0177d4'
            }
          }

        },
        series: [{
          type: 'bar',
          barWidth: 18,
          itemStyle: {
            normal: {
              color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                offset: 0,
                color: '#00b0ff'
              }, {
                offset: 0.8,
                color: '#7052f4'
              }], false)
            }
          },
          data: this.scenicHeightArrbefore
        }]
      }
      let myChart = this.$echarts.init(document.getElementById('echatsUpStation'))
      myChart.resize()
      myChart.setOption(option)
    },
    getDownEchart () {
      let option = {
        grid: {
          left: '15%'
        },
        xAxis: {
          data: this.scenicNameArrDown,
          axisLine: {
            lineStyle: {
              color: '#0177d4'
            }
          },
          axisLabel: {
            formatter: function (value) {
              var ret = '' // 拼接加\n返回的类目项
              var maxLength = 1 // 每项显示文字个数
              var valLength = value.length // X轴类目项的文字个数
              var rowN = Math.ceil(valLength / maxLength) // 类目项需要换行的行数
              if (rowN > 1) {
                for (var i = 0; i < rowN; i++) {
                  var temp = '' // 每次截取的字符串
                  var start = i * maxLength // 开始截取的位置
                  var end = start + maxLength // 结束截取的位置
                  // 这里也可以加一个是否是最后一行的判断，但是不加也没有影响，那就不加吧
                  temp = value.substring(start, end) + '\n'
                  ret += temp // 凭借最终的字符串
                }
                return ret
              } else {
                return value
              }
            },
            interval: 0,
            fontSize: 16,
            fontWeight: 100,
            textStyle: {
              color: '#fff'
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#0177d4'
            }
          }
        },
        yAxis: {
          nameTextStyle: {
            color: '#fff',
            fontSize: 16
          },
          axisLine: {
            lineStyle: {
              color: '#0177d4'
            }
          },
          axisLabel: {
            color: '#fff',
            fontSize: 16
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#0177d4'
            }
          }

        },
        series: [{
          type: 'bar',
          barWidth: 18,
          itemStyle: {
            normal: {
              color: new this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                offset: 0,
                color: '#00b0ff'
              }, {
                offset: 0.8,
                color: '#7052f4'
              }], false)
            }
          },
          data: this.scenicHeightArrDown
        }]
      }
      let myChart = this.$echarts.init(document.getElementById('echatsDownStation'))
      myChart.resize()
      myChart.setOption(option)
    },
    async showVisitorsToTrackBefore (source, time) {
      await api.visterAnalysis.visitorsToTrack(source, time).then(res => {
        this.scenicNameArrbefore = []
        this.scenicHeightArrbefore = []
        this.scenicNameArrDown = []
        this.scenicHeightArrDown = []
        res.forEach((item) => {
          if (item.relativeLocation === '上一站') {
            this.scenicNameArrbefore.push(item.scenicName)
            this.scenicHeightArrbefore.push(item.count)
          } else {
            this.scenicNameArrDown.push(item.scenicName)
            this.scenicHeightArrDown.push(item.count)
          }
        })
        console.log(this.choseData, this.selectTime)
        if (document.getElementById('echatsUpStation')) {
          console.log(888888888888888)
          this.getUpEchart()
          this.getDownEchart()
        }
      }).catch(err => {
        console.log(err)
      })
    }
  },
  async mounted () {
    await this.showVisitorsToTrackBefore(this.choseData, this.selectTime)
    await this.getUpEchart()
    await this.getDownEchart()
  },
  components: {
    KeqiaoMap
  }
}
</script>

<style lang='scss'>
  .visitors-track{
    .el-select{
      width: 100px;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 150px;
    }
    .el-input__inner{
      background-color: transparent;
      border-color: transparent;
      box-shadow:0 0 40px -10px #0487bd inset;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      color: #0487bd;
      &:hover{
        border-color: transparent;
      }
    }
    .el-select .el-input.is-focus .el-input__inner{
      border-color: transparent;
    }
    .el-input__prefix, .el-input__suffix{
      color: #00e3ff;
      line-height: 30px;
    }
    .el-input__icon{
      line-height: 30px;
    }
  }
  .el-input--suffix .el-input__inner{
    padding-right: 10px;
  }
  .el-select-dropdown,.el-picker-panel{
    border-color: transparent;
    background-color: transparent;
    color: #0487bd;
    box-shadow:0 0 40px -10px #0487bd inset;
  }
  .el-picker-panel__icon-btn,.el-date-picker__header-label,{
    color: #0487bd;
  }
  .el-date-table th{
    color: #0487bd;
    border-color: rgba(4, 135, 189, 0.6);
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background-color: transparent;
  }
  .el-select-dropdown__item{
    color:#0487bd;
  }
</style>
<style scoped lang="scss" type="text/scss">
  .visitors-track{
    width: 100%;
    height: 100%;
    .tarck-map{
      width: 55%;
      height: calc(100% + 120px);
      float: left;
      position: relative;
      top: -110px;
      border-right: 0.5px solid #023850;
      .selected{
        position: absolute;
        left: 40px;
        top: 150px;
        z-index: 9;
      }
      .now-scenic{
        width: 200px;
        height: 80px;
        position: absolute;
        top: 170px;
        left: 20px;
        padding: 10px 20px;
        box-sizing: border-box;
        color: #fff;
        margin-top: 20px;
        z-index: 9;
        p{
          line-height: 30px;
          font-size: 16px;
          span{
            color: #FF6B6B;
            margin: 0 5px;
            font-size: 18px;
          }
        }
      }
      .echartMap{
        width: 100%;
        height: 100%;
        .mapBox{
          width: 100%;
          height: 100%;
        }
      }
    }
    .echats{
      width: 40%;
      height: 100%;
      float: right;
      margin-right: 50px;
      .station{
        width: 100%;
        height: 45%;
        position: relative;
        color: #26bbf0;
        .img{
          position: absolute;
        }
        .s-down{
          width: 100%;
          height: 15px;
          bottom: 0;
          left: 0;
          background: red;
          background: url("./../../../static/image/s-down.png") repeat;
          /*background-size: 100%;*/
        }
        .s-left{
          width: 10px;
          height: 100%;
          left: 0;
          background: url("./../../../static/image/s-left.png") repeat;
        }
        .s-up{
          width: 100%;
          height: 10px;
          top: 0;
          background: url("./../../../static/image/s-up.png") repeat;
        }
        .s-left-up{
          width: 100px;
          height: 85px;
          left: 0;
          top: 0;
          background: url("./../../../static/image/s-left-up.png") no-repeat;
        }
        .s-right{
          width: 14px;
          height: 100%;
          bottom: 0;
          right: 0;
          background: url("./../../../static/image/s-right.png") repeat;
        }
        .s-l-up{
          width: 6px;
          height: 75px;
          top: 0;
          right: 0;
          background: url("./../../../static/image/s-l-up.png") no-repeat;
        }
        .s-r-line{
          width: 65px;
          height: 6px;
          bottom: 0;
          right: 0;
          background: url("./../../../static/image/s-r-line.png") no-repeat;
          background-size: contain;
        }
        .s-l-line{
          width: 65px;
          height: 6px;
          bottom: 0;
          left: 0;
          background: url("./../../../static/image/s-l-down.png") no-repeat;
          background-size: contain;
        }
        .title{
          height: 40px;
          line-height: 40px;
          padding-left: 20px;
          box-sizing: border-box;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .down-station{
        margin-top: 50px;
      }
      #echatsDownStation,
      #echatsUpStation{
        width: 100%;
        height: calc(100%  - 40px);
      }
    }
    .choseData{
      width: 100%;
      height: 30px;
      padding-left: 50px;
      box-sizing: border-box;
      position: relative;
      z-index: 9;
      span{
        font-size: 14px;
        color: #0192aa;
        margin-right: 5px;
      }
    }
  }

</style>
