<template>
  <div class="catering">
    <div class="credit-content">
      <div class="data-address">
        <span>数据来源：</span>
        <span>
          工商局 、OTA评价
        </span>
      </div>
      <div class="content">
        <div class="data-from">
          <ScrollContainer>
            <el-table
              stripe
              :data="cateringData"
              @row-click="getRowData"
              style="width: 100%">
              <el-table-column
                prop="ranking"
                width="120"
                label="排名">
              </el-table-column>
              <el-table-column
                label="酒店名称">
                <template slot-scope="scope">
                  <span>{{scope.row.name}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="综合评分">
              </el-table-column>
              <el-table-column
                label="同比上周">
                <template slot-scope="scope">
                  <span v-if="!scope.row.growth.includes('-')" class="reduce">{{scope.row.growth}}%</span>
                  <span v-if="scope.row.growth.includes('-')" class="add">{{scope.row.growth}}%</span>
                </template>
              </el-table-column>
            </el-table>
          </ScrollContainer>
          <div class="leftimg"></div>
          <div class="rightimg"></div>
        </div>
        <div class="dataEchart">
          <div class="title">
            <p>{{enterprise}} 信用评分维度统计</p>
          </div>
          <div class="echata">
            <div id="echatsHotel">
            </div>
          </div>
          <div class="evaluate">
            <p>
              <span>{{enterprise}}</span>
              <el-select v-model="traveType" placeholder="请选择" class="selectOne" @change="selectSever">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </p>
            <div class="evaluate-num">
              <div>
                <p class="text">好评</p>
                <p class="numb">{{good}}</p>
              </div>
              <div>
                <p class="text">差评</p>
                <p class="numb">{{bad}}</p>
              </div>
            </div>
            <div class="evalute-type">
              <span class="better">服务好({{goodService}})</span>
              <span class="better">上菜快({{serviceSoon}})</span>
              <span class="better">周到({{considerate}})</span>
              <span class="bad">态度不好({{badAttitude}})</span>
              <span class="bad">味道好({{delicious}})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ScrollContainer from '@/components/ScrollContainer'
import api from '@/api'
import { mapGetters } from 'vuex'
export default {
  name: 'catering',
  data () {
    return {
      enterprise: '',
      cateringData: [],
      enterpriseData: [],
      good: '',
      bad: '',
      options: [
        {value: '服务', label: '服务'},
        {value: '餐饮', label: '餐饮'},
        {value: '价格', label: '价格'},
        {value: '卫生', label: '卫生'},
        {value: '设施', label: '设施'},
        {value: '位置', label: '位置'}
      ],
      traveType: '服务',
      values: [],
      rangList: [],
      badAttitude: '',
      considerate: '',
      delicious: '',
      serviceSoon: '',
      goodService: '',
      cloneData: []
    }
  },
  async created () {
    await this.getTravelAgency()
  },
  methods: {
    selectSever () {
      this.rangList.forEach(item => {
        if (item.dimensionality === this.traveType) {
          this.good = item.positive
          this.bad = item.negative
        }
      })
    },
    async getTravelAgency () {
      await api.agency.getTravelAgency('catering').then(res => {
        console.log(res, 'ioipoopoooioi')
        this.cateringData = res
        this.cloneData = this.cateringData
        this.enterprise = this.cateringData[0].name
        this.badAttitude = this.cateringData[0].badAttitude
        this.considerate = this.cateringData[0].considerate
        this.delicious = this.cateringData[0].delicious
        this.serviceSoon = this.cateringData[0].serviceSoon
        this.goodService = this.cateringData[0].goodService
      })
    },
    async getRanking (index) {
      await api.agency.getDimensionRanking(index).then(res => {
        console.log(res, '评价')
        this.rangList = res
        this.enterpriseData = []
        this.values = []
        res.forEach(item => {
          this.values.push(item.grade)
          let obj = {
            text: item.dimensionality,
            num: item.positive,
            percent: item.grade
          }
          this.enterpriseData.push(obj)
        })
        this.good = res[0].positive
        this.bad = res[0].negative
        this.getRoatEchart()
      }).catch(err => {
        console.log(err)
      })
    },
    getRowData (row, event, column) {
      console.log(row)
      this.getRanking(row.ranking)
      this.enterprise = row.name
      this.badAttitude = row.badAttitude
      this.considerate = row.considerate
      this.delicious = row.delicious
      this.serviceSoon = row.serviceSoon
      this.goodService = row.goodService
    },
    getRoatEchart () {
      let radius = 250
      let option = {
        radar: [{
          indicator: this.enterpriseData,
          radius: radius,
          startAngle: 126,
          splitNumber: 4,
          shape: 'circle',
          splitArea: {
            areaStyle: {
              color: 'rgba(6,222,249,0.06)',
              shadowBlur: 10
            }
          },
          axisLine: {
            lineStyle: {
              type: 'dotted',
              color: '#0095B0'
            }
          },
          splitLine: {
            lineStyle: {
              type: 'dotted',
              color: '#0095B0'
            }
          }
        }
        ],
        series: [{
          name: '雷达图',
          type: 'radar',
          symbolSize: 0,
          silent: true,
          areaStyle: {
            normal: {
              color: 'rgba(6, 222, 249,0.3)'
            },
            emphasis: {
              color: 'rgba(6, 222, 249,0.5)'
            }
          },
          lineStyle: {
            normal: {
              color: '#01e4ff',
              type: 'solid',
              width: 3
            },
            emphasis: {}
          },
          data: [{
            value: this.values,
            label: {
              show: 'true'
            }
          }]
        } ]
      }
      let dom = document.getElementById('echatsHotel')
      let myChart = this.$echarts.init(dom)
      myChart.resize()
      myChart.setOption(option, true)
    }
  },
  async mounted () {
    await this.getRanking()
    await this.getRoatEchart()
  },
  components: {
    ScrollContainer
  },
  watch: {
    'getSearchContent' () {
      console.log(this.getSearchContent, 'opopopopopopopopoo')
      if (this.getSearchContent === '') {
        this.cateringData = this.cloneData
      } else if (this.getSearchContent) {
        this.cateringData = this.cloneData.filter(item => {
          if (item.name.includes(this.getSearchContent)) {
            return item
          }
        })
      }
    },
    async 'cateringData' () {
      await this.getRanking(1)
    }
  },
  computed: {
    ...mapGetters([
      'getSearchContent'
    ])
  }
}
</script>

<style lang="scss" type="text/scss">
  .catering{
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: #054173;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: #054173;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .catering {
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    .credit-content{
      width: 100%;
      height: 100%;
      .data-address{
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding-left: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #037188;
        padding-top: 20px;
      }
      .content {
        width: 100%;
        height: calc(100% - 60px);
        position: relative;
        .data-from{
          width: 33%;
          height: 100%;
          position: absolute;
          top:  10px;
          left: 0;
          span{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .leftimg{
            position: absolute;
            width: 114px;
            height: 14px;
            background: url("./../../../static/image/fromleft.png") no-repeat;
            left: 0;
            top: 0;
            margin-left: -4px;
            margin-top: -4px;
            z-index: 2018;
          }
          .rightimg{
            position: absolute;
            width: 114px;
            height: 14px;
            background: url("./../../../static/image/fromRight.png") no-repeat;
            right: 0;
            top: 30px;
            z-index: 2018;
            margin-right: -4px;
          }
        }
        .dataEchart{
          width: 65%;
          height: 100%;
          position: absolute;
          right: 10px;
          top: 10px;
          box-shadow:0 0 40px -10px #0487bd inset;
          .title{
            width: 100%;
            height: 60px;
            line-height: 60px;
            color: #01E4FF;
            font-size: 20px;
          }
          .echata {
            width: 60%;
            height: calc(100% - 60px);
            position: absolute;
            left: 0;
            top: 60px;
            #echatsHotel{
              width: 100%;
              height: 100%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .evaluate{
            width: 40%;
            height: 40%;
            position: absolute;
            top: 50%;
            right: 0;
            color: #01E4FF;
            transform: translateY(-50%);
            p:nth-of-type(1){
              font-size: 16px;
              padding-left: 20px;
              box-sizing: border-box;
              font-weight: 600;
              height: 40px;
              line-height: 40px;
            }
            .evaluate-num {
              width: 100%;
              height: 60px;
              font-size: 14px;
              color: #01E4FF;
              padding-left: 20px;
              box-sizing: border-box;
              margin-top: 20px;
              div{
                float: left;
                width: 80px;
                height: 100%;
                margin-right: 20px;
                opacity: .8;
                .text{
                  margin: 0;
                  padding: 0;
                  font-size: 16px;
                  width: 100%;
                  height: 50%;
                }
                .numb{
                  font-size: 26px;
                  width: 100%;
                  height: 50%;
                }
              }
            }
            .evalute-type{
              width: 100%;
              padding: 20px;
              box-sizing: border-box;
              span{
                display: inline-block;
                text-align: center;
                border-radius: 5px;
                background: #01e4ff;
                color: #08083c;
                padding: 8px 15px;
                font-size: 14px;
                margin-right: 20px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
    .add{
      color: #38ff1f;
    }
    .reduce{
      color: #e82e00;
    }
  }

</style>
