<template>
  <div class="Export-to-print">
    <el-dialog
      title="评论列表"
      :close-on-click-modal = false
      :visible="visible"
      :before-close="closeDialog"
      width="50%"
      class="dialog echatDialog"
      center>
      <div class="card" ref="contrastiveDia">
        <div id="sensitivity">
          <el-carousel>
            <el-carousel-item v-for="item in news" :key="item[0].contents">
              <div class="tweet">
                <div v-for="n in item" :key='n.content' class="contents">
                  <div class="content">
                    <div class="matter">{{n.reviewText}}</div>
                  </div>
                  <div class="time-date">
                    <img src="./../../../static/image/email.png" alt="">
                    <span class="year">{{n.reviewDate}}</span>
                    <span class="types">{{n.source}}</span>
                  </div>
                </div>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
        <div class="BoxFunc">
          <div @click="closeDialog">
            <span>取消</span>
          </div>
          <div @click="closeDialog">
            <span class="sure">确定</span>
          </div>
        </div>
      </div>
      <div slot="footer" class="dialog-footer cardFooter">
      </div>
    </el-dialog>
  </div>
</template>

<script>
import api from '@/api'
export default {
  props: ['visible'],
  name: 'export-to-print',
  data () {
    return {
      fullHeight: document.documentElement.clientHeight,
      news: []
    }
  },
  created () {
    this.getAllEvaluation()
  },
  methods: {
    closeDialog () {
      this.$emit('closeAppraiseDialog')
    },
    async getAllEvaluation () {
      await api.safeAppraise.getEvaluate().then(res => {
        console.log(res, '评价')
        let arr = []
        for (let i = 0; i < res.length; i++) {
          arr.push(res[i])
          if (i % 3 === 0) {
            this.news.push(arr)
            arr = []
          }
        }
      })
    }
  },
  async mounted () {
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullHeight = document.documentElement.clientHeight
        that.fullHeight = window.fullHeight
      })()
    }
    setTimeout(function () {
      console.log(that.$refs.contrastiveDia, 'ppppppp')
      that.$refs.contrastiveDia.style.height = that.fullHeight * 0.5 + 'px'
    }, 10)
  }
}
</script>

<style lang="scss">
  .Export-to-print{
    .el-dialog{
      background: url("./../../../static/image/3bg.png") no-repeat;
      background-size: 100%;
      background-position: inherit;
      position: relative;
      .el-dialog__title{
        color: #00e4ff;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
      .el-dialog__headerbtn{
        font-size: 30px;
        top: 0px;
        right: 0;
        .el-dialog__close{
          color: #00e4ff;
        }
      }
      .el-dialog__footer{
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
      }
    }
    .el-dialog__body{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #26bbf0;
    }
    .el-input__inner{
      width: 100px;
    }
    .el-input__suffix{
      right: -20px;
    }
    .el-carousel{
      height: 100%;
    }
    .el-carousel__container{
      height: 100%;
    }
    .el-carousel__indicators{
      bottom: 100px;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .Export-to-print{
    width: 100%;
    height: 100%;
    #sensitivity{
      position: absolute;
      top:50px;
      left:30px;
      width:90%;
      height:calc(100% - 50px);
      color:#02daf5;
      .contents{
        /*position: absolute;*/
        /*top:20px;*/
        /*left:30px;*/
        margin-top: 20px;
        margin-left:50px;
        width:80%;
        height:100px;
        border:1px solid #274884;
        position: relative;
        .content{
          margin-top: 15px;
          margin-left:20px;
          display: flex;
          height:100px;
          width:80%;
          span{
            width:100px;
          }
        }
        .time-date{
          position: absolute;
          bottom:15px;
          right:15px;
          img{
            width: 19px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
        }
        i{
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 16px;
        }
      }
    }
    .BoxFunc{
      width: 100%;
      height: 60px;
      text-align: center;
      position: absolute;
      bottom: 20px;
      left: 0;
      z-index: 9;
      div{
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 40px;
        border: 1px solid #00e4ff;
        border-radius: 5px;
        span{
          margin-top: 5px;
          display: inline-block;
          width: 90px;
          height: 30px;
          background: #6a6a6a;
          color: #fff;
          text-align: center;
          line-height: 30px;
          font-size: 14px;
          border-radius: 5px;
          cursor: pointer;
        }
        .sure{
          background: #3771ff;
        }
      }
    }
  }
</style>
