<template>
  <div class="contrastive-dialog">
    <el-dialog
      title="对比分析"
      :close-on-click-modal = false
      :visible="visible"
      :before-close="closeDialog"
      width="57%"
      class="dialog echatDialog"
      center>
      <div class="card" ref="contrastiveDia">
        <div class="chose-Contrastive-Data" v-if="!showContrastiveData">
          <div class="nowData">
            <span>当前数据源</span>
            <span>2018年月 客流量</span>
          </div>
          <div class="contrastiveData">
            <span>对比数据源</span>
            <el-select v-model="dataFrom" placeholder="请选择" @change="choseData">
              <el-option
                v-for="item in contrastiveList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="contrastiveDataPage" v-if="showContrastiveData">
          <div class="title">
            您选择的多组数据源，其趋势较为一致，但是在10月份以后，客流量数据与酒店订单数出现相反走势，请做进一步分析
          </div>
          <div class="contrastive-content">
            <div class="select" v-if="false">
              <el-select v-model="starFromTime" placeholder="请选择" class="selectFromTime">
                <el-option value="按月">按月</el-option>
                <el-option value="按年">按年</el-option>
              </el-select>
              <el-date-picker
                v-model="starDay"
                type="date"
                placeholder="选择日期">
              </el-date-picker>
            </div>
            <div class="contra-echart">
              <div id="echartContrastive"></div>
            </div>
          </div>
        </div>
        <div class="BoxFunc">
          <span v-if="!showContrastiveData" @click="ContrastiveData" class="closeBtn">确定</span>
          <span v-if="showContrastiveData" @click="anewontrast" class="closeBtn">重新对比</span>
          <span v-if="showContrastiveData" @click="closeDialog" class="closeBtn">取消</span>
        </div>
      </div>
      <div slot="footer" class="dialog-footer cardFooter">
      </div>
    </el-dialog>
  </div>

</template>

<script>
import api from '@/api'
export default {
  props: ['visible'],
  name: 'consume-dialog',
  data () {
    return {
      fullHeight: document.documentElement.clientHeight,
      contrastiveList: [
        {value: 'hotel', label: '酒店订单量'},
        {value: 'catering', label: '餐饮订单量'},
        {value: 'scenic', label: '景区订单量'}
      ],
      showContrastiveData: false,
      starDay: '',
      dataFrom: 'hotel',
      passengerData: [],
      comparData: [],
      title: '酒店订单量'
    }
  },
  created () {
  },
  methods: {
    closeDialog () {
      this.$emit('closeContrastiveDialog')
    },
    async ContrastiveData () {
      await this.getSceniceOrder(this.dataFrom)
      this.showContrastiveData = true
      this.$refs.contrastiveDia.style.height = this.fullHeight * 0.7 + 'px'
      setTimeout(this.getContrastiveEchart, 10)
    },
    anewontrast () {
      this.showContrastiveData = false
      this.$refs.contrastiveDia.style.height = this.fullHeight * 0.2 + 'px'
    },
    async choseData () {
      console.log(this.dataFrom)
      if (this.dataFrom === 'hotel') {
        this.title = '酒店订单量'
      }
      if (this.dataFrom === 'scenic') {
        this.title = '景区订单量'
      }
      if (this.dataFrom === 'catering') {
        this.title = '餐饮订单量'
      }
    },
    async getHistoryPassenger () {
      await api.history.getHistoryPassenger('0', 'month').then(res => {
        console.log(res, 'haistoryPAssenger')
        res.forEach(item => {
          this.passengerData.push(item.cnt)
        })
      })
    },
    async getSceniceOrder (type) {
      await api.consume.getconsumeAnalysis(type).then(res => {
        console.log(res, '订单数')
        this.comparData = []
        res.forEach((item, index) => {
          if (index > 5) {
            this.comparData.push(item.income)
          }
        })
      })
    },
    getContrastiveEchart () {
      let option = {
        tooltip: {
          trigger: 'axis'
        },
        toolbox: {
          show: true,
          orient: 'vertical',
          right: '50%',
          top: '5%',
          itemGap: 20,
          feature: {
            magicType: {
              show: false,
              type: ['line', 'bar']
            },
            restore: {
              show: false
            },
            saveAsImage: {
              show: true
            }
          },
          iconStyle: {
            normal: {
              color: '#0390e9'
            }
          }
        },
        legend: {
          data: ['客流量', this.title],
          top: 40,
          left: 20,
          textStyle: {
            color: '#fff',
            fontSize: 16
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          top: '15%',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: ['2018-01月', '2018-02月', '2018-03月', '2018-04月', '2018-05月', '2018-06月'],
          splitLine: {
            show: false,
            lineStyle: {
              // 使用深浅的间隔色
              color: ['#aaa', '#ddd']
            }
          },
          axisLabel: {
            textStyle: {
              color: '#00E3FF'
            }
          }
        },
        yAxis: {
          type: 'value',
          axisTick: {
            show: false
          },
          axisLine: {
            lineStyle: {
              color: '#3f7fb2'
            }
          },
          axisLabel: {
            textStyle: {
              color: '#00E3FF'
            }
          }
        },
        series: [{
          name: '客流量',
          type: 'line',
          stack: '总量',
          data: this.passengerData,
          symbolSize: 10,
          itemStyle: {
            normal: {
              color: '#FF8B8B'
            }
          }
        }, {
          name: this.title,
          type: 'line',
          stack: '总量',
          data: this.comparData,
          symbol: 'rect',
          symbolSize: 10,
          itemStyle: {
            normal: {
              color: '#106DFD'
            }
          }
        }
        ]
      }
      var dom = document.getElementById('echartContrastive')
      var myChart = this.$echarts.init(dom)
      myChart.resize()
      myChart.setOption(option, true)
    }
  },
  async mounted () {
    await this.getHistoryPassenger()
    await this.getSceniceOrder(this.dataFrom)
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullHeight = document.documentElement.clientHeight
        that.fullHeight = window.fullHeight
      })()
    }
    setTimeout(function () {
      console.log(that.$refs.contrastiveDia, 'ppppppp')
      that.$refs.contrastiveDia.style.height = that.fullHeight * 0.2 + 'px'
    }, 10)
  }
}
</script>

<style lang="scss">
  .contrastive-dialog{
    .el-dialog{
      background: url("./../../../static/image/3bg.png") no-repeat;
      background-size: 100%;
      background-position: inherit;
      position: relative;
      .el-dialog__title{
        color: #00e4ff;
        font-size: 28px;
        line-height: 28px;
      }
      .el-dialog__headerbtn{
        font-size: 25px;
        top: 0px;
        right: 0;
        .el-dialog__close{
          color: #00e4ff;
        }
      }
      .el-dialog__footer{
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
      }
    }
    .el-dialog__body{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #26bbf0;
      padding-top: 0;
      padding-bottom: 0;
    }
    .el-dialog__header{
      padding-top: 15px;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .contrastive-dialog{
    width: 100%;
    height: 80%;
    .echatDialog{
      width: 100%;
      height: 100%;
      .chose-Contrastive-Data{
        width: 100%;
        height: calc(100% - 50px);
        padding: 10px 20px;
        box-sizing: border-box;
        text-align: center;
        color: #26bbf0;
        span{
          margin-right: 20px;
        }
        .contrastiveData,
        .nowData{
          margin-bottom: 16px;
          font-size: 20px;
        }
      }
      .contrastiveDataPage{
        width: 100%;
        height: calc(100% - 100px);
        padding: 0px 20px;
        box-sizing: border-box;
        color: #26bbf0;
        .title{
          width: 100%;
          height: 40px;
        }
        .contrastive-content{
          width: 100%;
          height: calc(100% - 40px);
          position: relative;
          .select{
            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 9;
          }
          .contra-echart{
            width: 100%;
            height: 100%;
            #echartContrastive{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .BoxFunc{
        color: #fff;
        text-align: center;
        span{
          display: inline-block;
          padding: 8px 30px;
          background: #26bbf0;
          color: #123446;
          border-radius: 3px;
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }
  }

</style>
