<template>
  <div class="diagnosis-and-suggestion">
    <el-dialog
      title="诊断建议"
      :close-on-click-modal = false
      :visible="visible"
      :before-close="closeDialog"
      width="45%"
      class="dialog echatDialog"
      center>
      <div class="card" ref="diagonsisDia">
        <div class="summarize ">
          <p>{{advice}}</p>
        </div>
        <div class="passengerTopfrom">
          <div class="title">
            客流量TOP10景区客流量
          </div>
          <div class="dataFrom">
            <ScrollContainer>
              <el-table
                stripe
                height="250"
                :data="cateringData"
                style="width: 100%">
                <el-table-column
                  prop="ranking"
                  width="100"
                  label="排名">
                </el-table-column>
                <el-table-column
                  prop="scenicName"
                  label="景区名称">
                </el-table-column>
                <el-table-column
                  prop="count"
                  width="100"
                  label="客流量">
                </el-table-column>
                <el-table-column
                  prop="proportion"
                  width="100"
                  label="同比">
                </el-table-column>
                <el-table-column
                  prop="compare"
                  label="占比">
                  <template slot-scope="scope">
                    <span v-if="!scope.row.growth.includes('-')" class="add">{{scope.row.growth}}%</span>
                    <span v-if="scope.row.growth.includes('-')" class="reduce">{{scope.row.growth}}%</span>
                  </template>
                </el-table-column>
              </el-table>
            </ScrollContainer>
          </div>
        </div>
        <div class="scenicAnalysis">
          <p>
            {{title2}}
          </p>
        </div>
        <div class="scenicFrom">
          <div class="title">
            客流量同比增量最大的景区Top3
          </div>
          <div class="scenicFrom">
            <ScrollContainer>
              <el-table
                stripe
                height="250"
                :data="scenicData"
                style="width: 100%">
                <el-table-column
                  prop="ranking"
                  width="100"
                  label="排名">
                </el-table-column>
                <el-table-column
                  prop="scenicName"
                  label="景区名称">
                </el-table-column>
                <el-table-column
                  prop="count"
                  width="100"
                  label="客流量">
                </el-table-column>
                <el-table-column
                  prop="proportion"
                  width="100"
                  label="同比">
                </el-table-column>
                <el-table-column
                  prop="compare"
                  label="占比">
                  <template slot-scope="scope">
                    <span v-if="!scope.row.growth.includes('-')" class="add">{{scope.row.growth}}%</span>
                    <span v-if="scope.row.growth.includes('-')" class="reduce">{{scope.row.growth}}%</span>
                  </template>
                </el-table-column>
              </el-table>
            </ScrollContainer>
          </div>
        </div>
      </div>
      <div slot="footer" class="dialog-footer cardFooter">
        <span @click="closeDialog" class="closeBtn">确定</span>
        <span @click="anewontrast" class="closeBtn">打印</span>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import ScrollContainer from '@/components/ScrollContainer'
import api from '@/api'
export default {
  props: ['visible'],
  name: 'diagnosis-suggestion',
  data () {
    return {
      fullHeight: document.documentElement.clientHeight,
      advice: '',
      title2: '',
      cateringData: [],
      scenicData: []
    }
  },
  created () {
    this.getAdvice()
  },
  methods: {
    closeDialog () {
      this.$emit('closeDiagnosisDialog')
    },
    anewontrast () {
      let newstr = document.getElementsByClassName('diagnosis-and-suggestion')[0].innerHTML
      console.log(newstr)
      window.document.body.innerHTML = newstr
      let oldstr = window.document.body.innerHTML
      window.print()
      window.location.reload() // 解决打印之后按钮失效的问题
      window.document.body.innerHTML = oldstr
      return false
    },
    getAdvice () {
      api.history.getAdvice().then(res => {
        console.log(res, '诊断建议')
        this.advice = res[0].advice
        this.cateringData = res[0].tops
        this.title2 = res[1].advice
        this.scenicData = res[1].tops
      }).catch(err => {
        console.log(err, 'opopop')
      })
    }
  },
  mounted () {
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullHeight = document.documentElement.clientHeight
        that.fullHeight = window.fullHeight
      })()
    }
    setTimeout(function () {
      console.log(that.$refs.diagonsisDia, 'ppppppp')
      that.$refs.diagonsisDia.style.height = that.fullHeight * 0.7 + 'px'
    }, 10)
  },
  components: {
    ScrollContainer
  }
}
</script>

<style lang="scss">
  .diagnosis-and-suggestion{
    .el-dialog{
      background: url("./../../../static/image/1bg.png") no-repeat;
      background-size: 100%;
      background-position: initial;
      position: relative;
      .el-dialog__title{
        color: #00e4ff;
        font-size: 24px;
        line-height: 24px;
      }
      .el-dialog__headerbtn{
        font-size: 30px;
        top: 0px;
        right: 0;
        .el-dialog__close{
          color: #00e4ff;
        }
      }
      .el-dialog__footer{
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        .closeBtn{}
      }
      .el-dialog__header{
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .el-dialog__body{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #26bbf0;
      padding-top: 10px;
    }
    .el-table{
      color: #01e2ff;
      background: transparent;
    }
    .el-table thead{
      color: #fff;
    }
    .el-table th,.el-table tr{
      background-color: transparent;
    }
    .el-table thead tr{
      background-color: #002E34;
    }
    .el-table td, .el-table th.is-leaf{
      border-bottom: 1px solid transparent;
      padding: 5px 0px;
    }
    .el-table td{
      border-color: transparent;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
      background: #002E34;
    }
    .el-table--border::after, .el-table--group::after, .el-table::before{
      background-color: transparent;
    }
    .el-table--scrollable-y .el-table__body-wrapper{
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .diagnosis-and-suggestion{
    width: 100%;
    height: 100%;
    .echatDialog{
      width: 100%;
      height: 100%;
      .passengTop,
      .summarize{
        width: 100%;
        margin-bottom: 20px;
        color: #0193A5;
      }
      .passengerTopfrom{
        width: 100%;
        height: 35%;
        .title{
          width: 100%;
          height: 40px;
          color: #fff;
          font-size: 20px;
        }
        .dataFrom{
          width: 100%;
          height: calc(100% - 40px);
        }
      }
      .scenicAnalysis{
        width: 100%;
        color: #0193A5;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      .scenicFrom{
        width: 100%;
        height: 32%;
        .title{
          width: 100%;
          height: 40px;
          color: #fff;
          font-size: 20px;
        }
        .scenicFrom{
          width: 100%;
          height: calc(100% - 40px);
        }
      }
    }
    .closeBtn{
      display: inline-block;
      padding: 5px 30px;
      background: #26bbf0;
      color: #0d3d4b;
      font-size: 14px;
      border-radius: 3px;
    }
    .add{
      color: #38ff1f;
    }
    .reduce{
      color: #e82e00;
    }
  }

</style>
