<template>
  <div class="Export-to-print">
    <el-dialog
      title="导出打印"
      :close-on-click-modal = false
      :visible="visible"
      :before-close="closeDialog"
      width="50%"
      class="dialog echatDialog"
      center>
      <div class="card" ref="contrastiveDia">
        <div class="chose-Contrastive-Data">
          <div class="contrastiveData">
            <span class="echartType">选择景区</span>
            <el-select v-model="area" placeholder="请选择景区" class="region" @change="choseRegion">
              <el-option label='全部' value="0">全部</el-option>
              <el-option label='柯岩风景区' value="1">柯岩风景区</el-option>
              <el-option label='安昌古镇' value="2">安昌古镇</el-option>
              <el-option label='大香林风景区' value="3">大香林风景区</el-option>
              <el-option label='中国轻纺城' value="4">中国轻纺城</el-option>
              <el-option label='绿林竹海景区' value="5">绿林竹海景区</el-option>
              <el-option label='香雪梅海旅游区' value="6">香雪梅海旅游区</el-option>
              <el-option label='乔波冰雪世界' value="7">乔波冰雪世界</el-option>
              <el-option label='千年榧林' value="8">千年榧林</el-option>
            </el-select>
            <span class="echartType">选择数据统计项</span>
            <el-select v-model="echartType" placeholder="请选择" @change="choseEchartType">
              <el-option
                v-for="item in echartTypeList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
            <div class="select">
              <el-select v-model="hotFromTime" placeholder="请选择" @change="selectDay">
                <el-option labei='按月' value="按月">按月</el-option>
                <el-option labei='按年' value="按年">按年</el-option>
              </el-select>
              <!--<el-date-picker-->
                <!--v-model="adminDay"-->
                <!--type="date"-->
                <!--placeholder="选择日期">-->
              <!--</el-date-picker>-->
            </div>
          </div>
        </div>
        <div class="echartContent">
          <div v-show="isShowechartLines" id="echartExportLines"></div>
          <div v-show="isShowechartPies" id="echartExportPies"></div>
        </div>
        <div class="BoxFunc">
          <span @click="exportData" class="closeBtn">导出</span>
          <span @click="anewontrast" class="closeBtn">打印</span>
          <span @click="closeDialog" class="closeBtn">取消</span>
        </div>
      </div>
      <div slot="footer" class="dialog-footer cardFooter">
      </div>
    </el-dialog>
  </div>
</template>

<script>
import HighCharts from 'highcharts'
import api from '@/api'
export default {
  props: ['visible'],
  name: 'export-to-print',
  data () {
    return {
      fullHeight: document.documentElement.clientHeight,
      contrastiveList: [
        {value: '美团', label: '美团'},
        {value: '移动运营商', label: '移动运营商'}
      ],
      echartTypeList: [
        {value: '消费总趋势', label: '消费总趋势'},
        {value: '景区消费占比', label: '景区消费占比'}
      ],
      adminFromTime: '按月',
      adminDay: '',
      isShowechartLines: true,
      isShowechartPies: false,
      echartType: '消费总趋势',
      oldData: [2000, 122, 3121, 54, 60, 2630, 1150, 2442, 1292],
      newData: [1130, 812, 1134, 2361, 413, 1330, 1301, 594, 1230],
      xAxis: [],
      passengerData: [],
      area: '0',
      hotFromTime: '按年',
      pieData: []
    }
  },
  created () {
  },
  methods: {
    async choseRegion () {
      let type = 'month'
      if (this.hotFromTime === '按年') {
        type = 'year'
      }
      await this.getHistoryPassenger(this.area, type)
      await HighCharts.chart('echartExportLines', this.getLineEchart())
      await HighCharts.chart('echartExportPies', this.getYearHeighchart())
    },
    async selectDay () {
      let type = 'month'
      if (this.hotFromTime === '按年') {
        type = 'year'
      }
      await this.getHistoryPassenger(this.area, type)
      await HighCharts.chart('echartExportLines', this.getLineEchart())
      await HighCharts.chart('echartExportPies', this.getYearHeighchart())
    },
    async getHistoryPassenger (region, type) {
      await api.history.getHistoryPassenger(region, type).then(res => {
        console.log(res, '历史数据')
        this.xAxis = []
        this.passengerData = []
        this.pieData = []
        res.forEach(item => {
          if (type === 'month') {
            this.xAxis.push(item.month)
            this.passengerData.push(item.cnt)
            let arr = [item.month, item.cnt]
            this.pieData.push(arr)
          } else {
            this.xAxis.unshift(item.year)
            this.passengerData.unshift(item.cnt)
            let arr = [item.month, item.cnt]
            this.pieData.push(arr)
          }
        })
      })
    },
    closeDialog () {
      this.$emit('closeExportPrintDialog')
    },
    anewontrast () {
      let newstr = document.getElementsByClassName('echartContent')[0].innerHTML
      console.log(newstr)
      window.document.body.innerHTML = newstr
      let oldstr = window.document.body.innerHTML
      window.print()
      window.location.reload() // 解决打印之后按钮失效的问题
      window.document.body.innerHTML = oldstr
      return false
    },
    exportData () {
      console.log(222)
      let type = 'month'
      if (this.hotFromTime === '按年') {
        type = 'year'
      }
      api.history.exportData(this.area, type).then(res => {
        console.log(res, '导出')
        let filename = ''
        const content = res
        if (this.area === '0') {
          filename = '客流汇总_全部景区.csv'
        }
        if (this.area === '1') {
          filename = '客流汇总_柯岩风景区.csv'
        }
        if (this.area === '2') {
          filename = '客流汇总_安昌古镇.csv'
        }
        if (this.area === '3') {
          filename = '客流汇总_大香林风景区.csv'
        }
        if (this.area === '4') {
          filename = '客流汇总_中国轻纺城.csv'
        }
        if (this.area === '5') {
          filename = '客流汇总_绿林竹海景区.csv'
        }
        if (this.area === '6') {
          filename = '客流汇总_香雪梅海旅游区.csv'
        }
        if (this.area === '7') {
          filename = '客流汇总_乔波冰雪世界.csv'
        }
        if (this.area === '8') {
          filename = '客流汇总_千年榧林.csv'
        }
        const blob = new Blob([content])
        if ('download' in document.createElement('a')) {
          const elink = document.createElement('a')
          elink.download = filename
          elink.style.display = 'none'
          elink.href = URL.createObjectURL(blob)
          document.body.appendChild(elink)
          elink.click()
          URL.revokeObjectURL(elink.href) // 释放URL 对象
          document.body.removeChild(elink)
        } else {
          navigator.msSaveBlob(blob, filename)
        }
      })
    },
    getLineEchart () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          type: 'line',
          backgroundColor: 'transparent'
        },
        title: {
          text: ''
        },
        yAxis: {
          title: {
            text: '客流量',
            style: {
              color: '#00e4ff',
              fontSize: 14
            }
          },
          labels: {
            formatter: function () {
              return this.value
            },
            style: {
              color: '#00e4ff',
              fontSize: '16px'
            }
          }
        },
        xAxis: {
          categories: this.xAxis,
          gridLineColor: 'transparent',
          labels: {
            formatter: function () {
              return this.value
            },
            style: {
              color: '#00e4ff',
              fontSize: '16px'
            }
          }
        },
        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          itemStyle: {
            color: '#47fbff',
            fontSize: '14px'
          }
        },
        series: [{
          name: '客流趋势',
          data: this.passengerData
        }],
        plotOptions: {
          line: {
            dataLabels: {
              // 开启数据标签
              enabled: true,
              style: {
                color: '#fff',
                fontSize: 14
              }
            },
            // 关闭鼠标跟踪，对应的提示框、点击事件会失效
            enableMouseTracking: true
          }
        },
        responsive: {
          rules: [{
            condition: {
              maxWidth: 400
            },
            chartOptions: {
              legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
              }
            }
          }]
        }
      }
    },
    getYearHeighchart () {
      return {
        credits: {
          enabled: false
        },
        chart: {
          backgroundColor: 'transparent',
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 5,
            depth: 10,
            viewDistance: 45
          }
        },
        title: {
          text: ''
        },
        legend: { // 图例
          enabled: true,
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'center',
          itemMarginBottom: 10,
          x: 10,
          y: 230,
          itemStyle: {
            color: '#53fcff',
            fontSize: '16px'
          },
          itemHoverStyle: {
            color: '#53fcff'
          }
        },
        plotOptions: {
          pie: {
            innerSize: 120,
            depth: 45,
            showInLegend: true,
            dataLabels: {
              enabled: false,
              format: '{point.name}'
            }
          }
        },
        series: [{
          name: '柯桥全域游消费分析',
          data: this.pieData
        }]
      }
    },
    choseEchartType () {
      if (this.echartType === '消费总趋势') {
        this.isShowechartLines = true
        this.isShowechartPies = false
      } else {
        this.isShowechartLines = false
        this.isShowechartPies = true
      }
    }
  },
  async mounted () {
    await this.getHistoryPassenger(this.area, 'year')
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullHeight = document.documentElement.clientHeight
        that.fullHeight = window.fullHeight
      })()
    }
    setTimeout(function () {
      console.log(that.$refs.contrastiveDia, 'ppppppp')
      that.$refs.contrastiveDia.style.height = that.fullHeight * 0.4 + 'px'
      HighCharts.setOptions({
        colors: ['#106DFD', '#FF8B8B', '#6FFDDB', '#D1FDA8', '#FF4F19', '#FDAD22']
      })
      HighCharts.chart('echartExportLines', that.getLineEchart())
      HighCharts.setOptions({
        colors: ['#106DFD', '#FF8B8B', '#6FFDDB', '#D1FDA8', '#FF4F19', '#FDAD22']
      })
      HighCharts.chart('echartExportPies', that.getYearHeighchart())
    }, 10)
  }
}
</script>

<style lang="scss">
  .Export-to-print{
    .el-dialog{
      background: url("./../../../static/image/3bg.png") no-repeat;
      background-size: 100%;
      background-position: inherit;
      position: relative;
      .el-dialog__title{
        color: #00e4ff;
        font-size: 28px;
        line-height: 28px;
      }
      .el-dialog__headerbtn{
        font-size: 30px;
        top: 0px;
        right: 0;
        .el-dialog__close{
          color: #00e4ff;
        }
      }
      .el-dialog__footer{
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
      }
    }
    .el-dialog__body{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #26bbf0;
    }
    .el-input__inner{
      width: 100px;
    }
    .el-input__suffix{
      right: -20px;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .Export-to-print{
    width: 100%;
    height: 100%;
    .contrastiveData{
      width: 100%;
      height: 60px;
      color: #26bbf0;
      .select{
        float: right;
        margin-right: 50px;
      }
      .echartType{
        margin: 0 20px 0 50px;
      }
    }
    .echartContent{
      width: 100%;
      height: calc(100% - 120px);
      padding: 10px;
      box-sizing: border-box;
      #echartExportPies,
      #echartExportLines{
        width: 100%;
        height: 100%;
      }
    }
    .BoxFunc{
      width: 100%;
      height: 60px;
      text-align: center;
      span{
        display: inline-block;
        padding: 5px 20px;
        background: #30e5f0;
        color: #182141;
        margin-right: 20px;
      }
    }
  }
</style>
