<template>
  <div class="foreCast">
    <el-dialog
      :title="title"
      :close-on-click-modal = false
      :visible="visible"
      :before-close="closeDialog"
      width="50%"
      class="dialog echatDialog"
      center>
      <div class="card" ref="foreCastDialog">
        <div id="passengerEchartBar"></div>
      </div>
      <div slot="footer" class="dialog-footer cardFooter">
      </div>
    </el-dialog>
  </div>
</template>

<script>
import api from '@/api'
export default {
  props: ['visible', 'title'],
  name: 'foreCast',
  data () {
    return {
      fullHeight: document.documentElement.clientHeight,
      nums: [],
      xAxis: []
    }
  },
  created () {
    for (let i = 0; i < 7; i++) {
      let day = new Date().getDate() + 1
      day = Number(day) + i
      let month = '07'
      if (day > 31) {
        day = day - 31
        month = '08'
      }
      this.xAxis.push(`${month}-${day}`)
    }
  },
  methods: {
    closeDialog () {
      this.$emit('closeForeCastDialog')
    },
    async getPassengerFuture () {
      await api.forecast.getScenicFuture().then(res => {
        this.nums = []
        console.log(res, '景區預測')
        if (this.title.includes('安昌')) {
          this.nums = res[0].predictNumber
        }
        if (this.title.includes('大香林')) {
          this.nums = res[1].predictNumber
        }
        if (this.title.includes('桥波冰雪')) {
          this.nums = res[2].predictNumber
        }
      })
    },
    getBarPassenger () {
      let option = {
        title: {
          x: 'left',
          text: '未来7天客流总预测',
          textStyle: {
            fontSize: 14,
            fontWeight: 'normal',
            color: '#00e3ff'
          },
          left: 20,
          top: 10
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            data: this.xAxis,
            splitLine: {
              show: true,
              lineStyle: {
                color: '#043e55'
              }
            },
            axisTick: {
              alignWithLabel: true
            },
            axisLabel: {
              textStyle: {
                color: '#00e3ff'
              }
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            splitLine: {
              show: true,
              lineStyle: {
                color: '#043e55'
              }
            },
            axisLine: {
              lineStyle: {
                type: 'solid',
                color: '#00e3ff',
                width: '1'
              }
            },
            axisLabel: {
              textStyle: {
                color: '#00e3ff'
              }
            }
          }
        ],
        series: [
          {
            name: '数量',
            type: 'bar',
            barWidth: 20,
            data: this.nums,
            itemStyle: {
              normal: {
                color: new this.$echarts.graphic.LinearGradient(
                  0, 0, 0, 1,
                  [
                    {offset: 0, color: '#fe6e6b'},
                    {offset: 1, color: '#b6fe63'}
                  ]
                )
              }
            }
          }]
      }
      let mychart = this.$echarts.init(document.getElementById('passengerEchartBar'))
      mychart.resize()
      mychart.setOption(option, true)
    }
  },
  async mounted () {
    await this.getPassengerFuture()
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullHeight = document.documentElement.clientHeight
        that.fullHeight = window.fullHeight
      })()
    }
    setTimeout(function () {
      console.log(that.$refs.foreCastDialog, 'ppppppp')
      that.$refs.foreCastDialog.style.height = that.fullHeight * 0.4 + 'px'
      that.getBarPassenger()
    }, 10)
  }
}
</script>

<style lang="scss">
  .foreCast{
    .el-dialog{
      background: url("./../../../static/image/3bg.png") no-repeat;
      background-size: 100%;
      background-position: inherit;
      /*position: relative;*/
      .el-dialog__title{
        color: #00e4ff;
        font-size: 28px;
        line-height: 28px;
      }
      .el-dialog__headerbtn{
        font-size: 30px;
        top: 0px;
        right: 0;
        .el-dialog__close{
          color: #00e4ff;
        }
      }
      .el-dialog__footer{
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
      }
    }
    .el-dialog__body{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #26bbf0;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .foreCast{
    width: 100%;
    height: 100%;
    .card{
      width: 100%;
      height: 60px;
      color: #26bbf0;
      #passengerEchartBar{
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
