<template>
  <div class="importDataDialog">
    <el-dialog
      title="对比分析"
      :close-on-click-modal = false
      :visible="visible"
      :before-close="closeDialog"
      width="57%"
      class="dialog echatDialog"
      center>
      <div class="card" ref="contrastiveDia">
        <div class="importFunc">
          <span class="text">上传文件：</span> <span class="btn" @click="uploadFile">上传文件<i class="el-icon-upload2"></i></span><span class="downBtn" @click="downLoadFile">下载模板</span>
          <input type="file" style="width: 0px;height: 0px" ref="uploadfile" @change="selectFile">
        </div>
        <div class="BoxFunc">
          <span @click="ContrastiveData" class="closeBtn">确定</span>
        </div>
      </div>
      <div slot="footer" class="dialog-footer cardFooter">
      </div>
    </el-dialog>
  </div>

</template>

<script>
import api from '@/api'
export default {
  props: ['visible'],
  name: 'consume-dialog',
  data () {
    return {
      fullHeight: document.documentElement.clientHeight,
      starDay: ''
    }
  },
  created () {
  },
  methods: {
    closeDialog () {
      this.$emit('closeImportDialog')
    },
    ContrastiveData () {
    },
    uploadFile () {
      this.$refs.uploadfile.click()
    },
    downLoadFile () {
      window.location.href = './../../../static/template/building.csv'
    },
    selectFile (e) {
      console.log(e.target.files[0])
      let file = e.target.files[0]
      if (!file.type.includes('vnd.ms-excel')) {
        this.$message.error('请上传CSV格式文件，谢谢！')
        return
      } else {
        var form = new FormData()
        form.append('f1', file)
        api.history.importData(form).then(res => {
          console.log(res, '导入成功')
          this.$message.success('导入成功')
          this.$emit('closeImportDialogSuccess')
        }).catch(err => {
          this.$message.error('导入失败，请稍后再试')
          console.log(err, 'opopop')
        })
      }
    }
  },
  mounted () {
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullHeight = document.documentElement.clientHeight
        that.fullHeight = window.fullHeight
      })()
    }
    setTimeout(function () {
      console.log(that.$refs.contrastiveDia, 'ppppppp')
      that.$refs.contrastiveDia.style.height = that.fullHeight * 0.2 + 'px'
    }, 10)
  }
}
</script>

<style lang="scss">
  .importDataDialog{
    .el-dialog{
      background: url("./../../../static/image/3bg.png") no-repeat;
      background-size: 100%;
      background-position: inherit;
      position: relative;
      .el-dialog__title{
        color: #00e4ff;
        font-size: 28px;
        line-height: 28px;
      }
      .el-dialog__headerbtn{
        font-size: 25px;
        top: 0px;
        right: 0;
        .el-dialog__close{
          color: #00e4ff;
        }
      }
      .el-dialog__footer{
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
      }
    }
    .el-dialog__body{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #26bbf0;
      padding-top: 0;
      padding-bottom: 0;
    }
    .el-dialog__header{
      padding-top: 15px;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .importDataDialog{
    width: 100%;
    height: 80%;
    .echatDialog{
      width: 100%;
      height: 100%;
      .importFunc{
        width: 100%;
        height: calc(100% - 50px);
        padding: 20px 20px;
        box-sizing: border-box;
        text-align: center;
        color: #26bbf0;
        span{
          margin-right: 20px;
          font-size: 14px;
          padding: 3px 8px;
        }
        .text{
          margin-right: 0px;
          color: #fff;
        }
        .btn{
          border: 1px solid #26bbf0;
          background: #013c4f;
          color: #00e4ff;
          cursor: pointer;
        }
        .downBtn{
          background: #00e4ff;
          color: #013c4f;
          cursor: pointer;
        }
        .contrastiveData,
        .nowData{
          margin-bottom: 16px;
          font-size: 20px;
        }
      }
      .BoxFunc{
        color: #fff;
        text-align: center;
        span{
          display: inline-block;
          padding: 8px 30px;
          background: #26bbf0;
          color: #123446;
          border-radius: 3px;
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }
  }

</style>
