<template>
  <div class="message">
    <el-dialog
      title="短信推送"
      :close-on-click-modal = false
      :visible="visible"
      :before-close="closeDialog"
      width="50%"
      class="dialog echatDialog"
      center>
      <div class="card" ref="contrastiveDia">
        <div class="messageContent">
          <el-table
            ref="multipleTable"
            :data="messageList"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column
              type="selection"
              width="55">
            </el-table-column>
            <el-table-column
              prop="name"
              label="姓名">
            </el-table-column>
            <el-table-column
              prop="phone"
              label="手机号">
            </el-table-column>
            <el-table-column
              label="操作">
              <template slot-scope="scope">
                <span>删除</span>
                <span>编辑</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="sendMessage">
            <span>手机号：</span><el-input v-model="phone"  placeholder="请输入手机号"></el-input>
            <span>推送内容：</span><el-input type="textarea" :rows="3"  v-model="message"></el-input>
          </div>
        </div>
        <div class="BoxFunc">
          <div @click="closeDialog">
            <span>取消</span>
          </div>
          <div @click="closeDialog">
            <span class="sure">确定</span>
          </div>
        </div>
      </div>
      <div slot="footer" class="dialog-footer cardFooter">
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  props: ['visible', 'message'],
  name: 'export-to-print',
  data () {
    return {
      fullHeight: document.documentElement.clientHeight,
      news: [],
      messageList: [
        {name: '张建国', phone: '13785369854'},
        {name: '李忠', phone: '18798567863'}
      ],
      phone: ''
    }
  },
  created () {
    this.getAllEvaluation()
  },
  methods: {
    closeDialog () {
      this.$emit('closeMessageDialog')
    }
  },
  async mounted () {
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullHeight = document.documentElement.clientHeight
        that.fullHeight = window.fullHeight
      })()
    }
    setTimeout(function () {
      console.log(that.$refs.contrastiveDia, 'ppppppp')
      that.$refs.contrastiveDia.style.height = that.fullHeight * 0.5 + 'px'
    }, 10)
  }
}
</script>

<style lang="scss">
  .message{
    .el-dialog{
      background: url("./../../../static/image/3bg.png") no-repeat;
      background-size: 100%;
      background-position: inherit;
      position: relative;
      .el-dialog__title{
        color: #00e4ff;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
      .el-dialog__headerbtn{
        font-size: 30px;
        top: 0px;
        right: 0;
        .el-dialog__close{
          color: #00e4ff;
        }
      }
      .el-dialog__footer{
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
      }
    }
    .el-dialog__body{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #26bbf0;
    }
    .el-input__inner{
      width: 150px;
      font-size: 12px;
      color: #00e4ff;
    }
    .el-input__suffix{
      right: -20px;
    }
    .el-carousel{
      height: 100%;
    }
    .el-carousel__container{
      height: 100%;
    }
    .el-carousel__indicators{
      bottom: 100px;
    }
    .el-textarea{
      font-size: 12px;
    }
    .el-textarea__inner{
      box-shadow:0 0 40px -10px #0487bd inset;
      background-color: transparent;
      border: none;
      font-size: 14px;
      display: inline-block;
      color: #00e4ff;
    }
    .el-table{
     background-color: transparent;
      color: #00e4ff;
    }
    .el-table th, .el-table tr{
      background-color: transparent;
    }
    .el-checkbox__inner{
      background-color: transparent;
    }
    .el-table thead{
      color: #013c4f;
    }
    .el-table th{
      padding: 20px 0;
      background-color: #00e4ff;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .message{
    width: 100%;
    height: 100%;
    .messageContent{
      width: 100%;
      height: 100%;
      padding: 10px 40px 10px 10px;
      box-sizing: border-box;
      .sendMessage{
        margin-top: 100px;
        border-top: 1px solid #5671a6;
        padding: 20px 0 0 30px;
        box-sizing: border-box;
        span{
          color: #00e4ff;
          margin-top: 10px;
        }
      }
    }
    .BoxFunc{
      width: 100%;
      height: 60px;
      text-align: center;
      position: absolute;
      bottom: 20px;
      left: 0;
      z-index: 9;
      div{
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 40px;
        border: 1px solid #00e4ff;
        border-radius: 5px;
        span{
          margin-top: 5px;
          display: inline-block;
          width: 90px;
          height: 30px;
          background: #6a6a6a;
          color: #fff;
          text-align: center;
          line-height: 30px;
          font-size: 14px;
          border-radius: 5px;
          cursor: pointer;
        }
        .sure{
          background: #3771ff;
        }
      }
    }
  }
</style>
