<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>import ScrollContainer from '@/components/ScrollContainer'
export default {
  name: 'App',
  data () {
    return {
    }
  },
  methods: {
  },
  components: {
    ScrollContainer
  }
}
</script>

<style lang="scss" type="text/scss">
  @import 'styles/common.scss';
  #app {
    width: 100%;
    height: 100%;
  }
</style>
