<template>
  <div class="hotMap">
    <div id="tiantaiHotMap">
    </div>
  </div>
</template>

<script>import 'echarts/extension-src/bmap/bmap.js'
import api from '@/api'
export default {
  name: 'hot-map',
  data () {
    return {
      value: [],
      geoCoordMap: {
        '国清寺': [121.053972, 29.176413],
        '琼台仙谷': [121.01699, 29.214633],
        '石梁飞瀑': [121.075724, 29.277215],
        '天台山风景名胜区': [121.103181, 29.280512],
        '南黄古道': [120.989617, 29.064267],
        '济公故居': [121.041478, 29.150372],
        '天台山龙穿峡': [120.996763, 29.271142],
        '石梁景区': [121.06724, 29.281159],
        '华顶国家森林公园': [121.09028, 29.258767],
        '赤城山': [121.031564, 29.170572]
      }
    }
  },
  methods: {
    async getPassengerData () {
      await api.safeAppraise.getScenicAppraise().then(res => {
        console.log(res, '实时客流')
        res.forEach((item, index) => {
          let obj = {
            id: index,
            name: item.scenicName,
            position: this.geoCoordMap[item.scenicName],
            time: new Date(),
            into: item.count
          }
          this.value.push(obj)
        })
      }).catch(err => {
        console.log(err)
      })
    },
    getbaiduMap () {
      console.log(this.value, 'kjhsdfgsdghsfdhjsgjgh')
      let map = new BMap.Map('tiantaiHotMap')
      map.centerAndZoom(new BMap.Point(121.053972, 29.176413), 12)
      map.enableScrollWheelZoom() // 启用滚轮放大缩小，默认禁用
      map.enableContinuousZoom() // 启用地图惯性拖拽，默认禁用
      map.setMapStyle({
        styleJson: [
          {
            'featureType': 'water',
            'elementType': 'all',
            'stylers': {
              'color': '#021019'
            }
          },
          {
            'featureType': 'highway',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'highway',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#147a92'
            }
          },
          {
            'featureType': 'arterial',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#6fa8dcff'
            }
          },
          {
            'featureType': 'arterial',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#666666ff'
            }
          },
          {
            'featureType': 'local',
            'elementType': 'geometry',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'land',
            'elementType': 'all',
            'stylers': {
              'color': '#032748ff'
            }
          },
          {
            'featureType': 'railway',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'railway',
            'elementType': 'geometry.stroke',
            'stylers': {
              'color': '#08304b'
            }
          },
          {
            'featureType': 'subway',
            'elementType': 'geometry',
            'stylers': {
              'lightness': -70
            }
          },
          {
            'featureType': 'building',
            'elementType': 'geometry.fill',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.fill',
            'stylers': {
              'color': '#857f7f'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.stroke',
            'stylers': {
              'color': '#000000'
            }
          },
          {
            'featureType': 'building',
            'elementType': 'geometry',
            'stylers': {
              'color': '#00ffffff'
            }
          },
          {
            'featureType': 'green',
            'elementType': 'geometry',
            'stylers': {
              'color': '#062032'
            }
          },
          {
            'featureType': 'boundary',
            'elementType': 'all',
            'stylers': {
              'color': '#2190b8ff'
            }
          },
          {
            'featureType': 'manmade',
            'elementType': 'geometry',
            'stylers': {
              'color': '#022338'
            }
          },
          {
            'featureType': 'poi',
            'elementType': 'all',
            'stylers': {
              'visibility': 'off'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.icon',
            'stylers': {
              'visibility': 'off'
            }
          },
          {
            'featureType': 'all',
            'elementType': 'labels.text.fill',
            'stylers': {
              'color': '#eeeeeeff',
              'visibility': 'on'
            }
          }
        ]
      })
      var data_info = this.value
      var opts = {
        width : 328, // 信息窗口宽度
        height: 155 // 信息窗口高度
      }
      for (var i = 0; i < data_info.length; i++) {
        console.log(data_info[i].position)
        var marker = new BMap.Marker(new BMap.Point(data_info[i].position[0], data_info[i].position[1])) // 创建标注
        marker.setAnimation(BMAP_ANIMATION_BOUNCE)
        var content =
          "<div class='dialog' style='background: url("+'./../../../static/image/box.png'+") no-repeat; background-position: inherit; background-size: 100%'>" +
          "<h4 style='margin:0 0 5px 0;padding:0.2em 0;color:#fff'>" + data_info[i].name + " </h4> " +
          "<p style='margin:0;line-height:1.5;font-size:14px;color:#0f728e'>热门评价数：<span style='font-size: 20px;font-weight:bolder;color:#008369'>" + data_info[i].into + "</span></p>" +
          "</div>"
        map.addOverlay(marker) // 将标注添加到地图中
        addClickHandler(content, marker)
        // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
      }
      function addClickHandler (content, marker) {
        marker.addEventListener('click', function (e) {
          openInfo(content, e)})
      }
      function openInfo (content, e) {
        var p = e.target
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat)
        var infoWindow = new BMap.InfoWindow(content, opts) // 创建信息窗口对象
        map.openInfoWindow(infoWindow, point) // 开启信息窗口
      }
      function getBoundary () {
        var bdary = new BMap.Boundary()
        bdary.get('台州市天台縣', function (rs) { // 获取行政区域
          var count = rs.boundaries.length // 行政区域的点有多少个
          if (count === 0) {
            alert('未能获取当前输入行政区域')
            return
          }
          var pointArray = []
          for (var i = 0; i < count; i++) {
            var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 3, strokeColor: '#00e4ff'}) // 建立多边形覆盖物
            map.addOverlay(ply) // 添加覆盖物
            pointArray = pointArray.concat(ply.getPath())
          }
          map.setViewport(pointArray) // 调整视野
        })
      }
      setTimeout(function () {
        getBoundary()
      }, 20)
    }
  },
  async mounted () {
    await this.getPassengerData()
    await this.getbaiduMap()
  }
}
</script>

<style lang="scss">
  .BMap_pop{
    background: transparent !important;
    .BMap_top{
      background: transparent;
      border-color: transparent;
    }
    div{
      background: transparent !important;
      border-color: transparent !important;
      img{
        display: none;
      }
    }
    .dialog{
      width: 328px;
      height: 155px;
      background: url("./../../../static/image/box.png") no-repeat !important;
      padding: 10px;
      box-sizing: border-box;
      background-position: initial;
      background-size: inherit;
    }
  }
</style>
<style scoped lang="scss" type="text/scss">
  .hotMap{
    width: 100%;
    height: 100%;
    #tiantaiHotMap{
      width: 100%;
      height: 100%;
    }
  }

</style>
