<template>
  <div class="worldMap">
    <div id="echartPassengWorld">
    </div>
  </div>
</template>

<script>
import 'echarts/map/js/world'
import 'echarts/extension-src/bmap/bmap'
import api from '@/api'
export default {
  name: 'world-map',
  props: ['year'],
  data () {
    return {
      geoCoordMap: {
        '韩国': [126.37, 37.28],
        '印度': [79.086914, 21.371359],
        '伊朗': [108.522589, 13.610151],
        '意大利': [12, 42],
        '印度尼西亚': [106.48, 6.10],
        '斯里兰卡': [79.51, 6.56],
        '孟加拉': [90.41, 23.81],
        '摩洛哥': [6.51, 34.02],
        '美国': [77.02, 28],
        '埃及': [31, 30],
        '新加坡': [103.75, 1.15],
        '日本': [139.282869, 38.447079],
        '柯桥': [120.4639, 29.4202]
      },
      BJData: [
      ]
    }
  },
  methods: {
    async getPassengerAdres () {
      await api.screentwo.getPassengerAddress('overseas', this.year).then(res => {
        console.log(res, '这个是世界地图')
        res.forEach(item => {
          let arr = [{
            name: item.region,
            value: item.count / 100
          }, {
            name: '柯桥'
          }]
          this.BJData.push(arr)
        })
      })
    },
    getMap () {
      var that = this
      var convertData = function (data) {
        var res = []
        for (var i = 0; i < data.length; i++) {
          var dataItem = data[i]
          var fromCoord = that.geoCoordMap[dataItem[0].name]
          var toCoord = that.geoCoordMap[dataItem[1].name]
          if (fromCoord && toCoord) {
            res.push({
              fromName: dataItem[0].name,
              toName: dataItem[1].name,
              coords: [fromCoord, toCoord]
            })
          }
        }
        return res
      }
      // var color = ['#a6c84c', '#ffa022', '#46bee9']
      var series = []
      var arr = [['柯桥', that.BJData]]
      arr.forEach(function (item, i) {
        series.push(
          {
            type: 'lines',
            zlevel: 2,
            effect: {
              show: true,
              period: 4,
              trailLength: 0.02,
              symbol: 'arrow',
              symbolSize: 5
            },
            lineStyle: {
              normal: {
                width: 1,
                opacity: 0.3,
                curveness: 0.2,
                color: '#00ffff'
              }
            },
            data: convertData(item[1])
          }, {
            type: 'effectScatter',
            coordinateSystem: 'geo',
            zlevel: 2,
            rippleEffect: {
              period: 4,
              brushType: 'stroke',
              scale: 4
            },
            label: {
              normal: {
                show: true,
                position: 'right',
                offset: [5, 0],
                formatter: '{b}'
              },
              emphasis: {
                show: true
              }
            },
            symbol: 'circle',
            symbolSize: function (val) {
              return 4 + val[2] / 10
            },
            itemStyle: {
              normal: {
                show: false,
                color: '#52d4ff'
              }
            },
            data: item[1].map(function (dataItem) {
              return {
                name: dataItem[0].name,
                value: that.geoCoordMap[dataItem[0].name].concat([dataItem[0].value / 100])
              }
            })
          },
          // 被攻击点
          {
            type: 'scatter',
            coordinateSystem: 'geo',
            zlevel: 2,
            rippleEffect: {
              period: 4,
              brushType: 'stroke',
              scale: 4
            },
            label: {
              normal: {
                show: true,
                position: 'right',
                color: '#00ffff',
                formatter: '{b}',
                textStyle: {
                  color: '#00ffff'
                }
              },
              emphasis: {
                show: true
              }
            },
            symbol: 'circle',
            symbolSize: 10,
            itemStyle: {
              normal: {
                show: true,
                color: '#9966cc'
              }
            },
            data: [{
              name: item[0],
              value: that.geoCoordMap[item[0]].concat([100])
            }]
          }
        )
      })
      let option = {
        visualMap: {
          min: 0,
          max: 100,
          calculable: true,
          color: ['#ff3333', 'orange', 'yellow', 'lime', 'aqua'],
          textStyle: {
            color: '#fff'
          }
        },
        geo: {
          map: 'world',
          label: {
            emphasis: {
              show: false
            }
          },
          roam: true,
          layoutCenter: ['50%', '53%'],
          layoutSize: '108%',
          itemStyle: {
            normal: {
              color: 'rgba(51, 69, 89, .5)',
              borderColor: 'rgba(100,149,237,1)'
            },
            emphasis: {
              color: 'rgba(37, 43, 61, .5)'
            }
          }
        },
        series: series
      }
      var dom = document.getElementById('echartPassengWorld')
      var myChart = this.$echarts.init(dom)
      myChart.setOption(option, true)
      myChart.resize()
    }
  },
  async mounted () {
    await this.getPassengerAdres()
    await this.getMap()
  },
  watch: {
    async 'year' () {
      this.BJData = []
      await this.getPassengerAdres()
      await this.getMap()
    }
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .worldMap{
    width: 100%;
    height: 100%;
    #echartPassengWorld{
      width: 100%;
      height: 100%;
    }
  }
</style>
