<template>
  <div class="zhejiangMap">
    <div id="echartPassengZhejiang">
    </div>
  </div>
</template>

<script>
import 'echarts/map/js/province/zhejiang'
import 'echarts/extension-src/bmap/bmap'
import api from '@/api'
export default {
  name: 'zhejaing-map',
  props: ['year'],
  data () {
    return {
      geoCoordMap: {
        '丽水': [119.933512, 28.502719],
        '杭州': [120.145081, 30.282981],
        '温州': [120.706199, 28.030336],
        '宁波': [121.570872, 29.907018],
        '舟山': [122.19638, 30.019158],
        '台州': [121.442091, 28.697567],
        '金华': [119.620758, 29.110403],
        '衢州': [118.857271, 28.997241],
        '绍兴': [120.577418, 30.051174],
        '嘉兴': [120.742994, 30.776712],
        '湖州': [120.451862, 30.082376],
        '柯桥': [120.4639, 29.4202],
        '江北区': [121.562142, 29.895202]
      },
      BJData: []
    }
  },
  methods: {
    async getPassengerAdres () {
      await api.screentwo.getPassengerAddress('province', this.year).then(res => {
        console.log(res, '浙江地图')
        res.forEach(item => {
          if (item && item.region) {
            let arr = [{
              name: item.region,
              value: item.count / 100
            }, {
              name: '柯桥'
            }]
            this.BJData.push(arr)
          }
        })
      })
    },
    getMap () {
      var that = this
      var convertData = function (data) {
        var res = []
        for (var i = 0; i < data.length; i++) {
          var dataItem = data[i]
          var fromCoord = that.geoCoordMap[dataItem[0].name]
          var toCoord = that.geoCoordMap[dataItem[1].name]
          if (fromCoord && toCoord) {
            res.push({
              fromName: dataItem[0].name,
              toName: dataItem[1].name,
              coords: [fromCoord, toCoord]
            })
          }
        }
        return res
      }
      // var color = ['#a6c84c', '#ffa022', '#46bee9']
      var series = []
      var arr = [['柯桥', that.BJData]]
      arr.forEach(function (item, i) {
        series.push(
          {
            type: 'lines',
            zlevel: 2,
            effect: {
              show: true,
              period: 4,
              trailLength: 0.02,
              symbol: 'arrow',
              symbolSize: 5
            },
            lineStyle: {
              normal: {
                width: 1,
                opacity: 0.3,
                curveness: 0.2,
                color: '#00ffff'
              }
            },
            data: convertData(item[1])
          }, {
            type: 'effectScatter',
            coordinateSystem: 'geo',
            zlevel: 2,
            rippleEffect: {
              period: 4,
              brushType: 'stroke',
              scale: 4
            },
            label: {
              normal: {
                show: true,
                position: 'right',
                offset: [5, 0],
                formatter: '{b}'
              },
              emphasis: {
                show: true
              }
            },
            symbol: 'circle',
            symbolSize: function (val) {
              return 4 + val[2] / 10
            },
            itemStyle: {
              normal: {
                show: false,
                color: '#00e4fe'
              }
            },
            data: item[1].map(function (dataItem) {
              return {
                name: dataItem[0].name,
                value: that.geoCoordMap[dataItem[0].name].concat([dataItem[0].value / 100])
              }
            })
          },
          // 被攻击点
          {
            type: 'scatter',
            coordinateSystem: 'geo',
            zlevel: 2,
            rippleEffect: {
              period: 4,
              brushType: 'stroke',
              scale: 4
            },
            label: {
              normal: {
                show: true,
                position: 'right',
                color: '#00ffff',
                formatter: '{b}',
                textStyle: {
                  color: '#00ffff'
                }
              },
              emphasis: {
                show: true
              }
            },
            symbol: 'circle',
            symbolSize: 10,
            itemStyle: {
              normal: {
                show: true,
                color: '#9966cc'
              }
            },
            data: [{
              name: item[0],
              value: that.geoCoordMap[item[0]].concat([100])
            }]
          }
        )
      })
      let option = {
        visualMap: {
          min: 0,
          max: 100,
          calculable: true,
          color: ['#ff3333', 'orange', 'yellow', 'lime', 'aqua'],
          textStyle: {
            color: '#fff'
          }
        },
        geo: {
          map: '浙江',
          label: {
            emphasis: {
              show: false
            }
          },
          roam: true,
          layoutCenter: ['50%', '53%'],
          layoutSize: '108%',
          itemStyle: {
            normal: {
              color: 'rgba(51, 69, 89, .5)',
              borderColor: 'rgba(100,149,237,1)'
            },
            emphasis: {
              color: 'rgba(37, 43, 61, .5)'
            }
          }
        },
        series: series
      }
      var dom = document.getElementById('echartPassengZhejiang')
      var myChart = this.$echarts.init(dom)
      myChart.resize()
      myChart.setOption(option, true)
    }
  },
  created () {
    // this.getPassengerAdres()
  },
  async mounted () {
    await this.getPassengerAdres()
    await this.getMap()
  },
  watch: {
    async 'year' () {
      this.BJData = []
      await this.getPassengerAdres()
      await this.getMap()
    }
  }
}
</script>

<style scoped lang="scss" type="text/scss">
  .zhejiangMap{
    width: 100%;
    height: 100%;
    #echartPassengZhejiang{
      width: 100%;
      height: 100%;
    }
  }

</style>
